@import "../../abstracts/vars";
@import "../../abstracts/mixins";
&.next-steps {
    h1, h2, h3, h4, h5, h6 {
        margin-top:$extralarge-margin;
        //margin-bottom:$large-margin;
        margin-bottom:$extralarge-margin;
        color:$text-white;
    }
}