@import "../../abstracts/vars";
@import "../../abstracts/mixins";
@import "../../base/fontawesome/font-awesome-mix-var";

&.upcoming-events {
    padding-top:15px;
    .component-content {
        border-bottom:3px solid $border-basic-color;
        margin-bottom:20px;
    }
    h2 {
        @include proximaboldcondensed();
        float:left;
        margin-top:0;
        line-height:1;
    }
    a {
        float:right;
        margin:10px auto;
        @include proximabold();
        font-size:$font-normal;
        text-decoration:none;
        color:$text-green;
        &:after {
            font-size:inherit;
            @include fa-icon();
            content: $fa-var-arrow-right;
            margin-left:5px;
        }
        &:hover, &:focus {
            text-decoration:underline;
        }
    }
}