@import "../../abstracts/vars";
@import "../../abstracts/mixins";
@import "../../base/fontawesome/font-awesome-mix-var";

&.upcoming-live {
    h1, h2, h3, h4, h5, h6 {
        @include proximaboldcondensed();
        text-transform:uppercase;
    }
    h1, h2, h3, h4, h5, h6 {
        border-bottom:3px solid $border-basic-color;
        margin-bottom:$large-margin;
    }
}