@import "../../abstracts/vars";
@import "../../abstracts/mixins";

.home-feature {

    //TODO: this will have to change - how to target the parent row of .home-feature?
    @at-root #content >.row >.row {
        display:block; 
        width:100%;
    } 
    //

    .row.column-splitter {
        margin-left:0 !important;
        margin-right:0 !important;
         @include respond-to(large) { 
            margin-left:15px !important;
            margin-right:15px !important; 
        }
    }

    //overlapping columns
    .col-xl-auto {
        &:first-of-type {
            float:left;
            @include respond-to(large) {
                margin-left:-15px;
            }
 
            .search-results {
                padding:0;
 
                .search-result-list {
                    padding:0;
                    a {
                        text-decoration:none;
                    }
                    img {
                        width:100%; 
                        height:auto;
                    }

                    .headline {
                        background:rgba(0,150,57,0.85); //#009639 make mixin?
                        color:$text-white;
                        position:absolute;
                        bottom:6px;
                        padding:30px;
                        @include respond-to(mobile-large) {
                            background:rgba(0,150,57,1);
                            position:relative;
                            bottom:auto;
                            top:-5px;
                            padding:15px;
                            margin-bottom:30px;
                        }
                        .field-date {
                            font-size:$font-small;
                        }
                        .field-title, .field-excerpt {
                            max-width:90%;
                        }
                        .field-title {
                            @include proximaboldcondensed();
                            font-size:40px;
                            text-transform:uppercase; 
                        }
                        .field-excerpt {
                            font-size:$font-medium;
                        }
                    }
                }
            }
        }
        &:last-of-type {
            float:right;
            position:absolute;
            right:0;
            max-width:25%;
            top:27px; //this positioning has an issue with error validation

            .login {
                table {
                    td {
                        padding:2px 0;
                        &.sxa-validation {
                            padding:0;
                            .field-validation-error {
                                color:$text-red;
                                font-size:$font-small; 
                            }
                        }
                         &.sxa-remember-me {
                            margin-bottom:5px;
                        }
                    }
                }
                input[type="submit"] {
                    @include btn-default();
                    width:100%;
                    &:hover, &:focus {
                        background: $bg-green !important;
                        color:$text-white !important;
                    }
                }
            }
            .rich-text {
                font-size:$font-normal;
                p {
                    margin:0 0 $middle-margin;
                }
            }
        } 
    }
    h4 {
        @include proximaboldcondensed();
        text-transform:uppercase;
        color:$text-basic;
        margin-top:15px;
    }

    
    &:after {
        display:table;
        clear:both;
    }
}