@import "../../abstracts/vars";
@import "../../abstracts/mixins";
.overlay-login {

    .row.column-splitter {
        margin-left:15px;
        margin-right:15px;
    }

    .rich-text[class*="col-"] {
        padding-left:30px;
        padding-right:15px;
    }

    .login {
        // the login header
        p {
            &:first-child {
                @include proximaboldcondensed();
                font-size:18px;
                text-transform:uppercase;
            }
        }
        ol, ul {
            padding-top:0;
            margin-left:0;
            li {
                margin-left:0
            }
        }
        h1, h2, h3, h4, h5, h6 {
            line-height:1;
            border-bottom:0 !important;
        }
        .content p, .rich-text p, .login p {
            margin: 10px 0;
        }
        input[type="submit"] {
            width:100%;
        }
    }
}