$card-bg:#ffffff;
$card-spacer-x:15px;
$card-spacer-y:15px; 
$card-border-width:1px;
$card-border-color:gray;
$card-border-radius:4px;

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0; 
    word-wrap: break-word;
    background-color: $card-bg;
    background-clip: border-box;
    padding:15px 0;

    .card-title, strong, .card-text, .card-link {
        text-align:center;
        padding-left:$card-spacer-x;
        padding-right:$card-spacer-x;
    }
    .card-title {
        font-size:24px;
        line-height:30px;
        @include copernicus;
        color:$text-green;
    }
    strong {font-size:$font-normal}
    .card-text {padding:0}

    .card-body {
    // Enable `flex-grow: 1` for decks and groups so that card blocks take up
    // as much space as possible, ensuring footers are aligned to the bottom.
    flex: 1 1 auto;

        table {
            width:100%;
            margin-top:$card-spacer-y; 

            th, td {
                font-size:$font-small;
            }

            th {
                font-weight:normal;
                padding-left:10px;
                padding-right:10px;
            }
        }

        .card-text {
            padding-left:$card-spacer-x;
            padding-right:$card-spacer-x;
            font-size:$font-small;
            margin:$small-margin auto;
            span {
                &:first-of-type, &:last-of-type {
                    font-size:$font-big;
                }
                &:first-of-type {
                    color:$text-green;
                }
            }
        }

        .card-link {
            padding-left:$card-spacer-x;
            padding-right:$card-spacer-x;
            a {
                i {
                    &:before {
                        margin-right:5px;
                    }
                }
            }
        }

    }
    
    @include respond-to(all-mobile) {
        margin:15px auto;
    }
}