@import "../../abstracts/vars";
@import "../../abstracts/mixins";
@import "../../base/fontawesome/font-awesome-mix-var";

&.general-landing {
    padding:0;
    margin-top:10px;
    .item {
        border-bottom:0;
        width:33%;
        float:left;
        @include respond-to(desktop) { 
            padding:0 0 15px 15px;
            margin-bottom:$large-margin;
        }
        //constrain the item height
        >div {
            @include respond-to(large) {
                min-height:415px;
                max-height:415px;
            }
        }
        @include respond-to(mobile-large) {
            width:100%;
            float:none;
        }
        @include respond-to(tablet-only) {
            width:50%;
        }

        .field-image, .field-listimage {
            img {
                width:100%;
                height:auto;
            }
        }
        .field-title {
            font-weight:normal;
            @include copernicus();
            color:$text-green;
            //line-height:1.4;
            //margin-top:8px;
            a {
                color:inherit;
                border-bottom:0;
                font-size:24px; //h4 24 but needs specified as a span in case a required lock or something else is :after (changed 012319 - current site is 22?)
                 @include respond-to(mobile-large) {
                    font-size:22px; //22?
                }
            }
        }
        .navigation-required {
            &:after { 
                font-size:inherit;
                @include fa-icon();
                content: $fa-var-lock; 
                margin-left:5px; 
                color:$text-green;
            }
        }
        /*.field-excerpt {
            @include respond-to(desktop) {
                min-height:160px;
                max-height:160px;
                overflow:hidden;
            }
        }*/
        &:hover, &:focus {
            .field-title, .navigation-required:after  {
                color:$text-basic;
            }
        }
    }
    &.bridge-gap {
        .item {
            min-height:430px;
            max-height:430px;
            >div {
                min-height:auto;
                max-height:auto;
            }
        }
    }
    &.perspectives {
        .item {
            @include respond-to(tablet) {
                min-height:450px;
                max-height:450px;
                overflow:hidden;
                >div {
                    min-height:auto;
                    max-height:auto;
                }
            }
            .wrap-labels {
                line-height:1;
                margin-bottom:5px;
                small {
                    @include proximabold();
                    //font-size:$font-small; //we need to use this for 508c i.e. minimum font size 14px not 12px
                    font-size:12px;
                    text-transform:uppercase;
                }
            }
            &:first-of-type {
                padding:0;
                width:auto;
                margin-left:15px;
                margin-right:15px;
                @include respond-to(mobile-large) {
                    border-bottom:1px solid $border-dark-gray;
                    padding-bottom:15px;
                    margin-bottom:15px;
                }
                @include respond-to(tablet-only) {
                    line-height:0.85;
                }
                @include respond-to(tablet) {
                    min-height:100%;
                    max-height:100%; 
                    overflow:hidden;
                    background-color:$bg-light-gray;
                    .field-image, .field-listimage, .wrap-content {
                        float:left;
                        //line-height:1;
                    }
                    .field-image, .field-listimage {
                        width:66.3%;
                        line-height:0.85;
                        img {
                            line-height:0.85;
                        }
                    }
                    .wrap-content {
                        width:32.7%;
                        padding:15px;               
                    }
                }
                
                .wrap-labels {
                    .field-labelsuffix {
                        color:$text-green;
                    }
                }
                .field-title {
                    color:$text-basic;
                    a {
                        color:inherit;
                        &:hover, &:focus {
                            color:$text-green;
                        }
                    }
                }
                .field-excerpt {
                    display:none;
                }
            }
        }
    }
    &.audio-insights {
        .item {
            @include respond-to(mobile-large) {
                //width:100%;
                //float:none;
                width:50%;
                float:left;
            }
            @include respond-to(tablet-only) {
                //width:50%;
                width:33.3%;
                float:left;
            }
            >div {
                min-height:auto;
                max-height:auto;
            }
            @include respond-to(desktop) {
                min-height:360px;
                max-height:360px;
                overflow:hidden;
                 width:24.75%;
            }
            .wrap-labels {
                font-size:$font-small;
                .publish-date {
                    margin-right:5px;
                }
            }
            &:hover, &:focus {
                .field-title {
                    color:$text-green;
                }
            }
        }
    }
    &.replays {
        @include respond-to(large) {
            .items {
                margin-left:-15px; 
                margin-right:-15px;
            }
        }
        .item { 
            padding:0;
            @include respond-to(tablet) {
                min-height:300px; //290 per design
                max-height:300px;
                overflow:hidden;
                >div {
                    min-height:auto;
                    max-height:auto;
                }
                width:50%;
                float:left;
                padding:0;
                margin-bottom:0;
                display:flex;
            }
             @include respond-to(large) {
                width:33.3%;
            }
            .wrap-content {
                background-color:$bg-white;
                padding:15px;
                margin:0 15px 30px 15px;
                float:left;
                //http://www.psd-to-css-shadows.com/ color:0,0,0 -  opacity 40% - angle 90 - distance 2 - spread 4 - size 6
                //https://www.cssmatic.com/box-shadow
                -webkit-box-shadow:  0px 2px 5.76px 0.24px rgba(0, 0, 0, 0.4); 
                -moz-box-shadow:  0px 2px 5.76px 0.24px rgba(0, 0, 0, 0.4); 
                box-shadow:  0px 2px 5.76px 0.24px rgba(0, 0, 0, 0.4); 

                .event-date {
                    @include proximabold();
                    text-transform:uppercase;
                    font-size:$font-small;
                    margin-bottom:$small-margin;

                }

                .field-title {
                    a {
                        @include respond-to(tablet) {
                            font-size:20px;
                        }
                         @include respond-to(large) {
                            font-size:22px; //supposed to be 24 but this is best to keep longer titles limited to 3 lines
                        }
                    }
                }

                .field-excerpt {
                    @include respond-to(tablet) {
                        min-height:115px;
                        max-height:115px;
                        overflow:hidden;
                    }
                    @include respond-to(desktop) {
                        min-height:140px;
                        max-height:140px;
                    }
                     @include respond-to(large) {
                        min-height:110px;
                        max-height:110px;
                    }
                }       
            }
        }
    }
}