@import "../../abstracts/vars";
@import "../../abstracts/mixins";
@import "../../base/fontawesome/font-awesome-mix-var";

&.general-landing {
    padding:0;
    margin-top:10px;
    .item {
        border-bottom:0;
        width:33%;
        float:left;
        padding:0 0 15px 15px;
        /*min-height:450px;
        max-height:450px;
        overflow:hidden;
        we have to move this for pages that will not have an image*/
        margin-bottom:$large-margin;
        @include respond-to(all-mobile) {
            width:100%;
            float:none;
        }
        .field-image, .field-listimage {
            img {
                width:100%;
                height:auto;
            }
        }
        .field-title {
            font-weight:normal;
            @include copernicus();
            color:$text-green;
            line-height:1.4;
            margin-top:8px;
            a {
                color:inherit;
                border-bottom:0;
                font-size:22px; //h4 24 but needs specified as a span in case a required lock or something else is :after (changed 012319 - current site is 22?)
                 @include respond-to(mobile-large) {
                    font-size:20px; //22?
                }
            }
        }
        .navigation-required {
            &:after { 
                font-size:inherit;
                @include fa-icon();
                content: $fa-var-lock; 
                margin-left:5px; 
                color:$text-green;
            }
        }
        .field-excerpt {
            min-height:140px;
            max-height:140px;
            overflow:hidden;
        }
        &:hover, &:focus {
            .field-title, .navigation-required:after  {
                color:$text-basic;
            }
        }
    }
    &.perspectives {
        .item {
            min-height:450px;
            max-height:450px;
            overflow:hidden;
            .wrap-labels {
                line-height:1;
                margin-bottom:15px;
                small {
                    @include proximabold();
                    //font-size:$font-small; //we need to use this for 508c i.e. minimum font size 14px not 12px
                    font-size:12px;
                    text-transform:uppercase;
                }
            }
            &:first-of-type {
                padding:0;
                width:auto;
                margin-left:15px;
                margin-right:15px;
                @include respond-to(tablet) {
                    line-height:1;
                    min-height:330px;
                    max-height:330px;
                    overflow:hidden;
                    background-color:$bg-light-gray;
                    .field-image, .field-listimage, .wrap-content {
                        float:left;
                        line-height:1;
                    }
                    .field-image, .field-listimage {
                        width:66.3%;
                        //
                        //max-width:740px;
                    }
                    .wrap-content {
                        width:32.7%;
                        padding:15px;               
                    }
                }
                .wrap-labels {
                    .field-labelsuffix {
                        color:$text-green;
                    }
                }
                .field-title {
                    color:$text-basic;
                    a {
                        color:inherit;
                        &:hover, &:focus {
                            color:$text-green;
                        }
                    }
                }
                .field-excerpt {
                    display:none; //?
                }
            }
        }
    }
    &.audio-insights {
        .item {
        min-height:400px;
        max-height:400px;
        overflow:hidden;
        }
    }
    &.replays {
        @include respond-to(mobile-large) {
            padding-left:15px;
            padding-right:30px;
        }
        .item {
            width:33.3%;
            float:left;
            padding:0;
            margin-bottom:0;
            display:flex;
            .wrap-content {
                background-color:$bg-white;
                padding:15px;
                margin:0 15px 30px 15px;
                float:left;
                @include respond-to(tablet) {
                    min-height:285px;
                    max-height:285px;
                }
                .event-date {
                    @include proximabold();
                    text-transform:uppercase;
                    font-size:$font-small;
                    margin-bottom:$middle-margin;
                }

                .field-excerpt {
                    @include respond-to(tablet) {
                        min-height:110px;
                        max-height:110px;
                    }
                    margin-top:$small-margin;
                }       
            }
        }
    }
}