&.mobile {
    text-align: right;
    position: absolute;
    z-index:1;
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
        /* IE10+ specific styles go here */ 
        position:relative;
        top:-80px;
        .toggle-content {
            >.row {
                position:relative;
                top:80px;
            }
        }
    }
    .toggle-content { 
        margin-top:79px;
        background-color:$bg-submenu;
        >.row {
            text-align:left;
            background-color:$bg-submenu;
            border-top:1px solid $border-dark-gray;
        }
    }
     summary.toggle-header {
         position:absolute;
         top:20px;
         right:5px;
        &::-webkit-details-marker {
            display: none
        }
        &:before {
            @include fa-icon();
            font-size:1.6em;
            color:$text-green;
            content: $fa-var-bars;
        }
     }
     details[open] {
        .toggle-header {
            &:before {
            content: $fa-var-close;
            }
        }
     }
}