@import "../../abstracts/vars";
@import "../../abstracts/mixins";
%cover-bg {
    background-repeat: no-repeat;
    background-size: cover;
}
.cover-background {
    >.component-content {
        @extend %cover-bg;
    }
}
.fix-background {
    >.component-content {
        @extend %cover-bg;
        @include fixed-bg(left top);
    }
}
.parallax-background {
    >.component-content {
        @extend %cover-bg;
        @include fixed-bg(50% 0);
        @include respond-to(mobile-large) {
            background-attachment: scroll;
        }
    }
}
.container-gray-background {
    background: $bg-light-gray;
    min-height:60px;
}
.container-clean-background {
    background: $bg-basic-color;
}
.container-dark-background {
    background: $bg-black-active;
}
.container-color-background {
    //background: $bg-blue;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#009639+0,006c46+100,006c46+100 */
    background: #009639; /* Old browsers */
    background: -moz-linear-gradient(left, #009639 0%, #006c46 100%, #006c46 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #009639 0%,#006c46 100%,#006c46 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #009639 0%,#006c46 100%,#006c46 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009639', endColorstr='#006c46',GradientType=1 ); /* IE6-9 */
}
