@charset "UTF-8";
/* breakpoints */
.page-list {
  background-color: transparent;
  /* breakpoints */
  /* breakpoints */
  /* breakpoints */
}

.page-list .item {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  background: transparent;
  padding: 15px;
  overflow: hidden;
}

.page-list .item:last-child {
  border-width: 0;
}

.page-list .item .field-title {
  color: #000;
}

.page-list .field-title {
  font-weight: bold;
}

.page-list.general-landing {
  padding: 0;
  margin-top: 10px;
}

.page-list.general-landing .item {
  border-bottom: 0;
  width: 33%;
  float: left;
  /*
        we can revert this now if we need to min-height:450px;
        max-height:450px;
        overflow:hidden;
        we have to move this for pages that will not have an image*/
}

@media only screen and (min-width: 992px) {
  .page-list.general-landing .item {
    padding: 0 0 15px 15px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 991px) {
  .page-list.general-landing .item {
    width: 100%;
    float: none;
  }
}

.page-list.general-landing .item .field-image img, .page-list.general-landing .item .field-listimage img {
  width: 100%;
  height: auto;
}

.page-list.general-landing .item .field-title {
  font-weight: normal;
  font-family: "CopernicusBook", arial, helvetica, sans-serif;
  color: #009639;
  line-height: 1.4;
  margin-top: 8px;
}

.page-list.general-landing .item .field-title a {
  color: inherit;
  border-bottom: 0;
  font-size: 22px;
}

@media only screen and (max-width: 767px) {
  .page-list.general-landing .item .field-title a {
    font-size: 20px;
  }
}

.page-list.general-landing .item .navigation-required:after {
  font-size: inherit;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  margin-left: 5px;
  color: #009639;
}

@media only screen and (min-width: 992px) {
  .page-list.general-landing .item .field-excerpt {
    min-height: 140px;
    max-height: 140px;
    overflow: hidden;
  }
}

.page-list.general-landing .item:hover .field-title, .page-list.general-landing .item:hover .navigation-required:after, .page-list.general-landing .item:focus .field-title, .page-list.general-landing .item:focus .navigation-required:after {
  color: #000000;
}

.page-list.general-landing.perspectives .item {
  min-height: 450px;
  max-height: 450px;
  overflow: hidden;
}

.page-list.general-landing.perspectives .item .wrap-labels {
  line-height: 1;
  margin-bottom: 15px;
}

.page-list.general-landing.perspectives .item .wrap-labels small {
  font-family: "ProximaBold", arial, helvetica, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.page-list.general-landing.perspectives .item:first-of-type {
  padding: 0;
  width: auto;
  margin-left: 15px;
  margin-right: 15px;
}

@media only screen and (min-width: 768px) {
  .page-list.general-landing.perspectives .item:first-of-type {
    line-height: 1;
    min-height: 330px;
    max-height: 330px;
    overflow: hidden;
    background-color: #d9d9d6;
  }
  .page-list.general-landing.perspectives .item:first-of-type .field-image, .page-list.general-landing.perspectives .item:first-of-type .field-listimage, .page-list.general-landing.perspectives .item:first-of-type .wrap-content {
    float: left;
    line-height: 1;
  }
  .page-list.general-landing.perspectives .item:first-of-type .field-image, .page-list.general-landing.perspectives .item:first-of-type .field-listimage {
    width: 66.3%;
  }
  .page-list.general-landing.perspectives .item:first-of-type .wrap-content {
    width: 32.7%;
    padding: 15px;
  }
}

.page-list.general-landing.perspectives .item:first-of-type .wrap-labels .field-labelsuffix {
  color: #009639;
}

.page-list.general-landing.perspectives .item:first-of-type .field-title {
  color: #000000;
}

.page-list.general-landing.perspectives .item:first-of-type .field-title a {
  color: inherit;
}

.page-list.general-landing.perspectives .item:first-of-type .field-title a:hover, .page-list.general-landing.perspectives .item:first-of-type .field-title a:focus {
  color: #009639;
}

.page-list.general-landing.perspectives .item:first-of-type .field-excerpt {
  display: none;
}

.page-list.general-landing.audio-insights .item {
  min-height: 400px;
  max-height: 400px;
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  .page-list.general-landing.replays {
    padding-left: 15px;
    padding-right: 30px;
  }
}

.page-list.general-landing.replays .item {
  width: 33.3%;
  float: left;
  padding: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-list.general-landing.replays .item .wrap-content {
  background-color: #FFFFFF;
  padding: 15px;
  margin: 0 15px 30px 15px;
  float: left;
}

@media only screen and (min-width: 768px) {
  .page-list.general-landing.replays .item .wrap-content {
    min-height: 285px;
    max-height: 285px;
  }
}

.page-list.general-landing.replays .item .wrap-content .event-date {
  font-family: "ProximaBold", arial, helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
}

.page-list.general-landing.replays .item .wrap-content .field-excerpt {
  margin-top: 10px;
}

@media only screen and (min-width: 768px) {
  .page-list.general-landing.replays .item .wrap-content .field-excerpt {
    min-height: 110px;
    max-height: 110px;
  }
}

.page-list.upcoming-events {
  padding: 0;
}

.page-list.upcoming-events .item {
  line-height: 1;
  border-bottom: 0;
  padding: 0 15px;
}

.page-list.upcoming-events .item .wrap-item {
  padding: 15px 0;
  border-bottom: 1px solid #b7b7b7;
}

.page-list.upcoming-events .item .wrap-item .wrap-labels {
  font-family: "ProximaBold", arial, helvetica, sans-serif;
  font-size: 14px;
  margin-bottom: 20px;
}

.page-list.upcoming-events .item .wrap-item .wrap-labels .event-register {
  margin-left: 25px;
  text-transform: uppercase;
  background-color: #000;
  padding: 5px 10px;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  /*arrow left:
                    https://stackoverflow.com/questions/20589780/css-triangle-before-element
                    https://codepen.io/zaurtigiev/pen/pbKaZE */
}

.page-list.upcoming-events .item .wrap-item .wrap-labels .event-register a {
  color: #fff;
}

.page-list.upcoming-events .item .wrap-item .wrap-labels .event-register:before {
  content: "";
  border-style: solid;
  border-width: 12px 12px 12px 0;
  border-color: transparent #000 transparent transparent;
  display: inline-block;
  position: absolute;
  left: -10px;
  top: 0;
}

.page-list.upcoming-events .item .wrap-item .wrap-title {
  color: #009639;
}

.page-list.upcoming-events .item .wrap-item .wrap-title a {
  color: #009639;
  border-bottom: 0;
}

.page-list.upcoming-events .item .wrap-item .wrap-title:hover, .page-list.upcoming-events .item .wrap-item .wrap-title:focus {
  color: #000000;
}

.page-list.upcoming-events .item .wrap-item .wrap-title:hover a, .page-list.upcoming-events .item .wrap-item .wrap-title:focus a {
  color: #000000;
}

.page-list.upcoming-events .item .wrap-item .wrap-title .field-title, .page-list.upcoming-events .item .wrap-item .wrap-title .field-redirecturl {
  line-height: 1.5;
  font-family: "CopernicusBook", arial, helvetica, sans-serif;
  font-weight: normal;
  font-size: 24px;
}

@media only screen and (max-width: 767px) {
  .page-list.upcoming-events .item .wrap-item .wrap-title .field-title, .page-list.upcoming-events .item .wrap-item .wrap-title .field-redirecturl {
    font-size: 22px;
  }
}

.page-list.upcoming-events .item .wrap-item .wrap-title .navigation-required:after {
  font-size: inherit;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  margin-left: 10px;
}

.page-list.upcoming-events .item .wrap-item .field-eventtime {
  margin-top: 10px;
}

.page-list.upcoming-events .item:last-of-type .wrap-item {
  border-bottom: 0;
}

.page-list a {
  background-color: transparent;
  text-decoration: none;
  font-size: 1em;
  color: #000000;
  border-bottom: 1px solid #000000;
}

.page-list a:hover {
  color: #000000;
  text-decoration: none;
}
