/* breakpoints */
@media only screen and (min-width: 992px) {
  .related-resources {
    position: relative;
    right: -30px;
  }
}

@media only screen and (min-width: 768px) {
  .related-resources {
    padding: 0;
    margin-top: -30px;
  }
}

@media only screen and (max-width: 767px) {
  .related-resources {
    padding: 0;
    margin-top: -30px;
  }
}

@media only screen and (min-width: 768px) {
  .related-resources .item {
    width: 50%;
    float: left;
    padding: 15px;
  }
}

@media only screen and (min-width: 992px) {
  .related-resources .item {
    padding: 0 30px 30px 0;
  }
}

@media only screen and (max-width: 767px) {
  .related-resources .item {
    padding: 0;
    margin-bottom: 30px;
  }
}

.related-resources .item img {
  width: 100%;
  height: auto;
}

.related-resources .item small {
  font-family: "ProximaBold", arial, helvetica, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.related-resources .item .navigation-title a {
  font-family: "CopernicusBook", arial, helvetica, sans-serif;
  color: #009639;
  text-decoration: none;
  font-size: 24px;
}

@media only screen and (max-width: 767px) {
  .related-resources .item .navigation-title a {
    font-size: 22px;
  }
}

.related-resources .item .navigation-title a:hover, .related-resources .item .navigation-title a:focus {
  color: #000000;
}

@media only screen and (min-width: 768px) {
  .related-resources .item .field-excerpt {
    min-height: 110px;
    max-height: 110px;
    overflow: hidden;
  }
}
