/* breakpoints */
@media only screen and (min-width: 768px) {
  .related-resources .item {
    float: left;
    padding: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .related-resources .item {
    margin-bottom: 60px;
  }
}

.related-resources .item img {
  width: 100%;
  height: auto;
}

.related-resources .item small {
  font-family: "ProximaBold", arial, helvetica, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.related-resources .item .navigation-title a {
  font-family: "CopernicusBook", arial, helvetica, sans-serif;
  color: #009639;
  text-decoration: none;
  font-size: 24px;
}

@media only screen and (max-width: 767px) {
  .related-resources .item .navigation-title a {
    font-size: 22px;
  }
}

.related-resources .item .navigation-title a:hover, .related-resources .item .navigation-title a:focus {
  color: #000000;
}

@media only screen and (min-width: 992px) {
  .related-resources.wrap-4 {
    position: relative;
    right: -30px;
  }
}

@media only screen and (min-width: 768px) {
  .related-resources.wrap-4 {
    padding: 0;
    margin-top: -30px;
  }
}

@media only screen and (max-width: 767px) {
  .related-resources.wrap-4 {
    padding: 0;
    margin-top: -30px;
  }
}

@media only screen and (min-width: 768px) {
  .related-resources.wrap-4 .item {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .related-resources.wrap-4 .item {
    padding: 0 30px 30px 0;
  }
}

@media only screen and (max-width: 767px) {
  .related-resources.wrap-4 .item {
    padding: 0;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .related-resources.wrap-4 .item .field-excerpt {
    min-height: 110px;
    max-height: 110px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 767px) {
  .related-resources.wrap-3 {
    padding: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .related-resources.wrap-3 {
    padding: 0;
  }
}

@media only screen and (min-width: 768px) {
  .related-resources.wrap-3 {
    padding: 0;
  }
}

@media only screen and (min-width: 768px) {
  .related-resources.wrap-3 .item {
    width: 33.3%;
    padding-top: 0;
    margin-bottom: 30px;
  }
  .related-resources.wrap-3 .item:nth-of-type(1) {
    padding-left: 0;
  }
  .related-resources.wrap-3 .item:nth-of-type(2) {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
  .related-resources.wrap-3 .item:nth-of-type(3) {
    padding-right: 0;
  }
}
