@charset "UTF-8";
/* breakpoints */
.button-default, .btn-default, .default, .btn-white {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #009639;
  background: #FFFFFF;
  color: #009639;
  text-transform: uppercase;
  font-size: 16px;
}

.button-default:hover, .button-default:focus, .btn-default:hover, .btn-default:focus, .default:hover, .default:focus, .btn-white:hover, .btn-white:focus {
  color: #fff;
  background: #009639;
  border: 2px solid #009639;
  text-decoration: none;
}

.button-success, .btn-success, .success {
  font-size: 12px;
  font-size: 1.2rem;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  background: #a0ce4e;
  color: #fff;
  font-weight: bold;
}

.button-success:hover, .button-success:focus, .btn-success:hover, .btn-success:focus, .success:hover, .success:focus {
  color: #fff;
  background: #92be43;
}

.button-danger, .btn-danger, .danger {
  font-size: 12px;
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  background: #FFFFFF;
  color: #6d3332;
  border: 2px solid #6d3332;
  text-transform: uppercase;
}

.button-danger:hover, .button-danger:focus, .btn-danger:hover, .btn-danger:focus, .danger:hover, .danger:focus {
  color: #fff;
  background: #6d3332;
}

.button-primary, .btn-primary, .btn-green {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #009639;
  background: #009639;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
}

.button-primary:hover, .button-primary:focus, .btn-primary:hover, .btn-primary:focus, .btn-green:hover, .btn-green:focus {
  color: #009639;
  background: #FFFFFF;
  border: 2px solid #009639;
  text-decoration: none;
}

.btn-block {
  width: 100%;
}

.btn-sm {
  margin: 3px 0;
  padding: 5px 10px;
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  .fund-search {
    padding-left: 15px;
  }
}

.fund-search.accordion .item:last-child {
  border-bottom: 0;
}

.fund-search.accordion .toggle-header {
  border: 1px solid #c2c2c2;
  box-shadow: none;
}

.fund-search.accordion .toggle-header .label {
  padding: 5px 15px;
  font-family: "ProximaBoldCondensed", arial, helvetica, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}

.fund-search.accordion .toggle-header .field-heading:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  position: absolute;
  display: block;
  content: "";
  color: #009639;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.fund-search.accordion .active .toggle-header {
  border-bottom: 0;
}

.fund-search.accordion .toggle-content {
  border: 1px solid #c2c2c2;
  border-top: 0;
  padding: 0;
}

.fund-search.accordion .toggle-content ul {
  width: 100%;
}

.fund-search.accordion .toggle-content ul li {
  width: 100%;
}

.fund-search.accordion .toggle-content ul li a {
  width: 100%;
  display: block;
  background-color: #FFFFFF;
  text-decoration: none;
  padding: 3px 15px;
  color: #009639;
  font-size: 14px;
}

.fund-search.accordion .toggle-content ul li a span {
  color: #000000;
}

.fund-search.accordion .toggle-content ul li a:hover, .fund-search.accordion .toggle-content ul li a:focus {
  background-color: #f0f0f0;
}

.fund-search.accordion .toggle-content ul li:first-child a {
  padding-top: 10px;
}

.fund-search.accordion .toggle-content ul li:last-child a {
  padding-bottom: 10px;
}

.fund-search:after {
  clear: both;
  display: table;
}
