/*$font-small:11px;
$font-normal:13px;
$font-medium:16px;*/
/* breakpoints */
/*$font-small:11px;
$font-normal:13px;
$font-medium:16px;*/
.logout {
  /*$font-small:11px;
$font-normal:13px;
$font-medium:16px;*/
  /* breakpoints */
  /*$font-small:11px;
$font-normal:13px;
$font-medium:16px;*/
}

.logout a {
  background-color: transparent;
  text-decoration: none;
  font-size: 1em;
  color: #000000;
  border-bottom: 1px solid #000000;
}

.logout a:hover {
  color: #000000;
  text-decoration: none;
}

.logout .component-content > a, .logout .component-content > p {
  display: inline-block;
}
