@charset "UTF-8";
/*$font-small:11px;
$font-normal:13px;
$font-medium:16px;*/
/* breakpoints */
/*$font-small:11px;
$font-normal:13px;
$font-medium:16px;*/
.navigation {
  background: transparent;
}

.navigation .level1 > .navigation-title > a, .navigation .level0 > .navigation-title > a {
  font-size: 18px;
  border-color: #000000;
  border-style: solid;
  border-width: 0 0 2px 0;
  padding-right: 3px;
  margin-right: 5px;
}

.navigation .level1 > .navigation-title > a:hover, .navigation .level0 > .navigation-title > a:hover {
  text-decoration: none;
}

.navigation a {
  color: #000000;
}

.lt-ie9 .navigation a, .lt-ie9 .navigation a span {
  color: #000000;
}

.navigation a:focus, .navigation a:hover {
  color: #000000;
}

.navigation li.submenu {
  margin-bottom: 0;
}

.navigation li > .navigation-title > a {
  padding: 3px 5px 3px 0;
  display: block;
  color: #000000;
  text-decoration: none;
}

.navigation li > ul a {
  font-size: 16px;
}

.navigation .submenu > ul {
  padding-left: 10px;
}

/*$font-small:11px;
$font-normal:13px;
$font-medium:16px;*/
/*$font-small:11px;
$font-normal:13px;
$font-medium:16px;*/
/* breakpoints */
.navigation.navigation-fat {
  background: #FFFFFF;
  border-width: 1px;
  border-style: solid;
  border-color: #c2c2c2;
}

.navigation.navigation-fat a {
  text-decoration: none;
}

.navigation.navigation-fat nav > ul {
  list-style: none;
  padding: 10px 0;
  overflow: hidden;
}

.navigation.navigation-fat .rel-level1 {
  margin: 10px;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

.navigation.navigation-fat .rel-level1.submenu ul a {
  position: relative;
}

.navigation.navigation-fat .rel-level1.submenu ul a:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  content: "";
  top: 50%;
  left: -9px;
  font-size: 10px;
}

.navigation.navigation-fat .rel-level1 > .navigation-title > a {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-bottom: 0;
  background: #f6f6f6;
  padding: 5px 10px;
  display: block;
  width: auto;
}

.navigation.navigation-fat .rel-level1 > .navigation-title > a:hover {
  border-color: #1b809e;
}

.navigation.navigation-fat .rel-level1 > ul {
  padding: 0;
}

.navigation.navigation-fat .rel-level2 {
  padding-left: 10px;
  display: block;
}

/*$font-small:11px;
$font-normal:13px;
$font-medium:16px;*/
/*$font-small:11px;
$font-normal:13px;
$font-medium:16px;*/
/* breakpoints */
.navigation.navigation-main .component-content > nav {
  position: relative;
}

.navigation.navigation-main .component-content > nav ul:after {
  content: "";
  display: table;
  clear: both;
}

.navigation.navigation-main .rel-level1 {
  float: right;
  height: 95px;
  padding: 0 20px;
}

.navigation.navigation-main .rel-level1 > .navigation-title > a {
  border-width: 2px 0 0 0;
  border-color: transparent;
  margin-top: 30px;
}

.navigation.navigation-main .rel-level1.submenu > .navigation-title a {
  position: relative;
  padding-right: 0;
}

.navigation.navigation-main .rel-level1 > ul {
  overflow: hidden;
  display: none;
  z-index: 10;
  position: absolute;
  top: 100%;
  background: #f6f6f6;
  margin-left: 0;
  margin-top: -2px;
  border-top: 2px solid #000000;
  border-left: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
}

.navigation.navigation-main .rel-level1.show {
  background-color: #000;
}

.navigation.navigation-main .rel-level1.show > .navigation-title > a {
  color: #fff;
}

.navigation.navigation-main .rel-level1.show > a + ul {
  display: block !important;
}

.navigation.navigation-main .rel-level1.show > ul {
  display: block !important;
  min-width: 60px;
}

.navigation.navigation-main .rel-level1.active > .navigation-title > a:link, .navigation.navigation-main .rel-level1.active > .navigation-title > a:visited {
  color: #000000;
}

.navigation.navigation-main .rel-level1.active > span {
  display: block;
  padding: 10px 20px;
  color: #fff;
}

.navigation.navigation-main .rel-level1.submenu.active {
  border-color: #176f89;
}

.navigation.navigation-main .rel-level2:hover, .navigation.navigation-main .rel-level2:focus {
  -webkit-transition: background .2s ease-in;
  transition: background .2s ease-in;
  background: #f6f6f6;
}

.navigation.navigation-main .rel-level2 div > a {
  display: block;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
}

.navigation.navigation-main .rel-level2 div > a:hover, .navigation.navigation-main .rel-level2 div > a:focus {
  color: #222;
}

.navigation.navigation-main .rel-level2.submenu {
  box-sizing: border-box;
}

.navigation.navigation-main .rel-level2.submenu.navigation-image {
  text-align: center;
}

.navigation.navigation-main .rel-level2.submenu.navigation-image > a, .navigation.navigation-main .rel-level2.submenu.navigation-image .field-navigationtext {
  text-align: left;
}

.navigation.navigation-main.navigation-main-horizontal .submenu > ul {
  padding-left: 0;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level1.show > a + ul {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level1.show > ul {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level1 > ul {
  width: 100%;
  clear: both;
  left: 0;
  width: 165%;
  left: -30%;
}

@media only screen and (min-width: 381px) and (max-width: 959px) {
  .navigation.navigation-main.navigation-main-horizontal .rel-level1 > ul > .rel-level2:last-child {
    display: none;
  }
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2 {
  padding: 0 25px !important;
  float: left;
  padding: 10px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #c2c2c2;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 23%;
  flex-basis: 23%;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.black, .navigation.navigation-main.navigation-main-horizontal .rel-level2.gray {
  border-top: 10px solid #000;
  border-right: 0;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.black {
  background: #000;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.black li {
  border-bottom: 1px solid #4d4d4d;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.black li > .navigation-title > a {
  color: #fff;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.black li > .navigation-title > a:hover, .navigation.navigation-main.navigation-main-horizontal .rel-level2.black li > .navigation-title > a:focus {
  color: #009639;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.black li:last-of-type {
  border-bottom: 0;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.gray {
  background: #f2f2f2;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2 > span {
  display: none;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2 li > .navigation-title > a, .navigation.navigation-main.navigation-main-horizontal .rel-level3 li > .navigation-title > a {
  padding: 15px 0;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level3 {
  font-family: "ProximaBold", arial, helvetica, sans-serif;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level3 .navigation-required {
  float: left;
  margin-right: 10px;
  position: relative;
  top: 11px;
  left: 3px;
  color: #fff;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level3 h4, .navigation.navigation-main.navigation-main-horizontal .rel-level3 h4 > a {
  color: #009639;
  font-size: 24px;
  text-decoration: none;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level3 h4:hover, .navigation.navigation-main.navigation-main-horizontal .rel-level3 h4:focus, .navigation.navigation-main.navigation-main-horizontal .rel-level3 h4 > a:hover, .navigation.navigation-main.navigation-main-horizontal .rel-level3 h4 > a:focus {
  color: #000000;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level3 img {
  width: 100%;
  height: auto;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level3 .item-decoration, .navigation.navigation-main.navigation-main-horizontal .rel-level3 .item-fake {
  font-family: "Proxima", arial, helvetica, sans-serif;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level4 {
  font-family: "Proxima", arial, helvetica, sans-serif;
}

.navigation.navigation-main.navigation-main-vertical .rel-level1 > ul {
  padding-left: 0;
  width: auto;
  left: auto;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #c2c2c2;
}

.navigation.navigation-main.navigation-main-vertical .rel-level1 > ul > li {
  padding: 5px 10px;
}

.navigation.navigation-main.navigation-umbrella {
  max-width: 210px;
}

.navigation.navigation-main.navigation-umbrella .level1 > .navigation-title > a, .navigation.navigation-main.navigation-umbrella .level0 > .navigation-title > a {
  font-size: 16px;
}

.navigation.navigation-main.navigation-umbrella .rel-level1 {
  float: none;
  background: #FFFFFF;
  width: 100%;
  height: auto;
  padding: 0;
}

.navigation.navigation-main.navigation-umbrella .rel-level1 > .navigation-title {
  border: 1px solid #ffffff;
}

.navigation.navigation-main.navigation-umbrella .rel-level1 > .navigation-title > a {
  font-family: "ProximaBold", arial, helvetica, sans-serif;
  color: #009639;
  margin-top: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 4px;
}

.navigation.navigation-main.navigation-umbrella .rel-level1 > ul > li {
  padding: 5px 15px;
}

.navigation.navigation-main.navigation-umbrella .rel-level1.submenu > .navigation-title a:after {
  font-size: inherit;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: inherit;
  content: "";
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  right: 10px;
}

.navigation.navigation-main.navigation-umbrella .rel-level1 > ul {
  width: 100%;
  z-index: 11;
  background: #FFFFFF;
  margin-top: 0;
  border-top: 0;
}

.navigation.navigation-main.navigation-umbrella .rel-level1.show {
  background: #FFFFFF;
}

.navigation.navigation-main.navigation-umbrella .rel-level1.show > .navigation-title {
  border-left: 1px solid #004d33;
  border-right: 1px solid #004d33;
}

.navigation.navigation-main.navigation-umbrella .rel-level1.show > .navigation-title > a {
  color: #000000;
}

.navigation.navigation-main.navigation-umbrella .rel-level1.show > ul {
  border-left: 1px solid #004d33;
  border-right: 1px solid #004d33;
  border-bottom: 1px solid #004d33;
}

.navigation.navigation-main.navigation-umbrella .rel-level2:hover, .navigation.navigation-main.navigation-umbrella .rel-level2:focus {
  background: #FFFFFF;
}

.navigation.navigation-main.navigation-umbrella .rel-level2 div > a {
  font-size: 16px;
  text-align: left;
  padding: 0 5px 8px 0;
  border-bottom: 1px solid #004d33;
}

.navigation.navigation-main.navigation-umbrella .rel-level2 div > a:hover, .navigation.navigation-main.navigation-umbrella .rel-level2 div > a:focus {
  color: #009639;
}

.navigation.navigation-main.navigation-umbrella .rel-level2:last-child div > a {
  border-bottom: 0;
}

.navigation.navigation-main.navigation-account .sxaToogleNavBtn, .navigation.navigation-main.navigation-login .sxaToogleNavBtn {
  display: none !important;
}

.navigation.navigation-main.navigation-account .rel-level1, .navigation.navigation-main.navigation-login .rel-level1 {
  padding: 0;
  width: 100%;
  height: auto;
  margin-top: 30px;
}

.navigation.navigation-main.navigation-account .rel-level1 > .navigation-title, .navigation.navigation-main.navigation-login .rel-level1 > .navigation-title {
  border: 1px solid #009639;
}

.navigation.navigation-main.navigation-account .rel-level1 > .navigation-title > a, .navigation.navigation-main.navigation-login .rel-level1 > .navigation-title > a {
  margin-top: 0;
  color: #009639;
  text-align: center;
}

.navigation.navigation-main.navigation-account .rel-level1 > .navigation-title > a:before, .navigation.navigation-main.navigation-login .rel-level1 > .navigation-title > a:before {
  font-size: inherit;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
  left: -8px;
  top: 9px;
}

.navigation.navigation-main.navigation-account .rel-level1.show, .navigation.navigation-main.navigation-login .rel-level1.show {
  background-color: transparent;
}

.navigation.navigation-main.navigation-account .rel-level1.active > .navigation-title > a, .navigation.navigation-main.navigation-login .rel-level1.active > .navigation-title > a {
  color: #009639;
}

.navigation.navigation-main.navigation-account .rel-level1 > ul {
  width: 100%;
}

.navigation.navigation-main.navigation-account .rel-level1 > .navigation-title {
  background: #009639;
}

.navigation.navigation-main.navigation-account .rel-level1 > .navigation-title > a {
  color: #fff;
}

.navigation.navigation-main.navigation-account .rel-level1 > .navigation-title > a:before {
  content: "";
}

.navigation.navigation-main.navigation-account .rel-level1.active > .navigation-title > a {
  color: #fff;
}

.navigation.navigation-main.navigation-account .rel-level2 div > a {
  text-align: left;
}

.navigation.navigation-main.navigation-login .rel-level1 > .navigation-title > a:before {
  content: "";
}

/*$font-small:11px;
$font-normal:13px;
$font-medium:16px;*/
/*$font-small:11px;
$font-normal:13px;
$font-medium:16px;*/
/* breakpoints */
.navigation.navigation-mobile {
  padding: 0;
}

.navigation.navigation-mobile nav > ul {
  border: none;
}

.navigation.navigation-mobile .rel-level1 {
  cursor: pointer;
  margin: 0;
  background: #FFFFFF;
  /*&:last-of-type {
            border-bottom:1px solid $border-dark-gray;
        }*/
}

.navigation.navigation-mobile .rel-level1 > ul {
  padding-left: 25px;
  display: none;
  background: #FFFFFF;
}

.navigation.navigation-mobile .rel-level1 > ul li {
  position: relative;
}

.navigation.navigation-mobile .rel-level1 > ul li a:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  display: block;
  position: absolute;
  left: -5px;
  top: 23px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 0.8em;
  color: #009639;
}

.navigation.navigation-mobile .rel-level1.active > .navigation-title > a {
  color: #009639;
}

.navigation.navigation-mobile .rel-level1.submenu.active > .navigation-title:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.navigation.navigation-mobile .rel-level1.submenu.active > ul {
  display: block;
}

.navigation.navigation-mobile .rel-level1.submenu > .navigation-title {
  position: relative;
}

.navigation.navigation-mobile .rel-level1.submenu > .navigation-title:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  display: block;
  position: absolute;
  right: 10px;
  top: 15px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  font-size: 1em;
  color: #009639;
}

.navigation.navigation-mobile .rel-level1.submenu.first.last:not(.no-child):not(.active) {
  border-bottom: 1px solid #b7b7b7;
}

.navigation.navigation-mobile .rel-level1 > .navigation-title {
  padding: 10px;
  margin: 0;
  border-bottom: 1px solid #b7b7b7;
}

.navigation.navigation-mobile .rel-level1 > .navigation-title:last-child {
  border-bottom: none;
}

.navigation.navigation-mobile .rel-level1 > .navigation-title > a {
  padding: 3px 5px;
  text-decoration: none;
  color: #000000;
  display: inline;
  border-width: 0;
  font-size: 16px;
}

.navigation.navigation-mobile .rel-level2 {
  display: list-item;
}

.navigation.navigation-mobile .rel-level2 .navigation-title > a {
  font-weight: 500;
}

.navigation.navigation-mobile .rel-level2 .navigation-title > a:hover, .navigation.navigation-mobile .rel-level2 .navigation-title > a:focus {
  color: #009639;
}

.navigation.navigation-mobile .rel-level2 ul {
  display: none;
}

.navigation.navigation-mobile.navigation-login .rel-level1, .navigation.navigation-mobile.navigation-account .rel-level1, .navigation.navigation-mobile.navigation-umbrella .rel-level1 {
  background: #009639;
}

.navigation.navigation-mobile.navigation-login .rel-level1 > .navigation-title > a, .navigation.navigation-mobile.navigation-account .rel-level1 > .navigation-title > a, .navigation.navigation-mobile.navigation-umbrella .rel-level1 > .navigation-title > a {
  color: #fff;
}

.navigation.navigation-mobile.navigation-login .rel-level1.active > .navigation-title > a, .navigation.navigation-mobile.navigation-account .rel-level1.active > .navigation-title > a, .navigation.navigation-mobile.navigation-umbrella .rel-level1.active > .navigation-title > a {
  color: #fff;
}

.navigation.navigation-mobile.navigation-login .rel-level1.submenu > .navigation-title:before, .navigation.navigation-mobile.navigation-account .rel-level1.submenu > .navigation-title:before, .navigation.navigation-mobile.navigation-umbrella .rel-level1.submenu > .navigation-title:before {
  color: #fff;
}

/*$font-small:11px;
$font-normal:13px;
$font-medium:16px;*/
/*$font-small:11px;
$font-normal:13px;
$font-medium:16px;*/
/* breakpoints */
.navigation.navigation-sidebar a {
  text-decoration: none;
}

.navigation.navigation-sidebar nav > ul .rel-level1 > .navigation-title {
  margin-bottom: 0;
}

.navigation.navigation-sidebar nav > ul .rel-level1 > .navigation-title > a {
  padding: 5px 10px;
  display: block;
  position: relative;
  z-index: 1;
  margin-right: 0;
}

.navigation.navigation-sidebar nav > ul .rel-level1 > ul {
  margin-left: 10px;
  margin-top: 5px;
}

.navigation.navigation-sidebar nav > ul .rel-level2 {
  display: block;
}

/*$font-small:11px;
$font-normal:13px;
$font-medium:16px;*/
/*$font-small:11px;
$font-normal:13px;
$font-medium:16px;*/
/* breakpoints */
.navigation.sitemap-navigation .level2 a {
  position: relative;
  padding-left: 10px;
}

.navigation.sitemap-navigation .level2 a:before {
  font-size: 14px;
  font-size: 1.4rem;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translateY(-50%) scale(1, -1);
  -ms-transform: translateY(-50%) scale(1, -1);
  transform: translateY(-50%) scale(1, -1);
  position: absolute;
  content: "";
  top: 50%;
  left: -8px;
}
