@charset "UTF-8";
/* breakpoints */
.navigation {
  background: transparent;
}

.navigation .level1 > .navigation-title > a, .navigation .level0 > .navigation-title > a {
  font-size: 18px;
  border-color: #000000;
  border-style: solid;
  border-width: 0 0 2px 0;
  padding-right: 3px;
  margin-right: 5px;
}

.navigation .level1 > .navigation-title > a:hover, .navigation .level0 > .navigation-title > a:hover {
  text-decoration: none;
}

.navigation a {
  color: #000000;
}

.lt-ie9 .navigation a, .lt-ie9 .navigation a span {
  color: #000000;
}

.navigation a:focus, .navigation a:hover {
  color: #000000;
}

.navigation li.submenu {
  margin-bottom: 0;
}

.navigation li > .navigation-title > a {
  padding: 3px 5px 3px 0;
  display: block;
  color: #000000;
  text-decoration: none;
}

.navigation li > ul a {
  font-size: 16px;
}

.navigation .submenu > ul {
  padding-left: 10px;
}

.navigation table {
  height: auto !important;
}

.navigation table, .navigation table tr, .navigation table th, .navigation table td {
  background: #FFFFFF;
  border-collapse: collapse;
  vertical-align: middle;
}

.navigation table th, .navigation table td {
  border-top: solid 1px #c2c2c2;
}

.navigation table thead th {
  border-bottom: solid 2px #c2c2c2;
}

.navigation table tr, .navigation table th, .navigation table td {
  padding: 5px;
}

.navigation table caption {
  background-color: #d9d9d6;
  overflow: hidden;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 0;
}

.navigation table tr {
  border: none;
}

.navigation table th {
  font-size: 16px;
  font-weight: bold;
  padding: 7px;
}

.navigation table th:first-child {
  border-left: 0;
}

.navigation table td:first-child {
  border-left: 0;
}

.navigation .table-sm th,
.navigation .table-sm td {
  padding: 0.3rem;
}

.navigation .table-bordered {
  border: 1px solid #c2c2c2;
}

.navigation .table-bordered th,
.navigation .table-bordered td {
  border: 1px solid #c2c2c2;
}

.navigation .table-bordered thead th,
.navigation .table-bordered thead td {
  border-bottom-width: 2px;
}

.navigation .table-borderless th,
.navigation .table-borderless td,
.navigation .table-borderless thead th,
.navigation .table-borderless tbody + tbody {
  border: 0;
}

.navigation .table-striped tbody tr:nth-of-type(odd) {
  background-color: #d9d9d6;
}

.navigation .table-striped tbody tr:nth-of-type(odd) th, .navigation .table-striped tbody tr:nth-of-type(odd) td {
  background-color: #d9d9d6;
}

.navigation .table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

/* breakpoints */
.navigation.navigation-fat {
  background: #FFFFFF;
  border-width: 2px;
  border-style: solid;
  border-color: #006747;
}

.navigation.navigation-fat a {
  text-decoration: none;
}

.navigation.navigation-fat nav > ul {
  list-style: none;
  padding: 10px 0;
  overflow: hidden;
}

.navigation.navigation-fat .rel-level1 {
  margin: 10px;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

.navigation.navigation-fat .rel-level1.submenu ul a {
  position: relative;
}

.navigation.navigation-fat .rel-level1.submenu ul a:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  content: "";
  top: 50%;
  left: -9px;
  font-size: 10px;
}

.navigation.navigation-fat .rel-level1 > .navigation-title > a {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-bottom: 0;
  background: #f6f6f6;
  padding: 5px 10px;
  display: block;
  width: auto;
}

.navigation.navigation-fat .rel-level1 > .navigation-title > a:hover {
  border-color: #1b809e;
}

.navigation.navigation-fat .rel-level1 > ul {
  padding: 0;
}

.navigation.navigation-fat .rel-level2 {
  padding-left: 10px;
  display: block;
}

/* breakpoints */
.navigation.navigation-main {
  /*entered in sitecore RTE <span></span>
    .symbol-registered {
        &:after {
            @include fa-icon(); 
            font-size:10px;
            content: $fa-var-registered;
            position:relative;
            top:-4px;
            left:2px;
        }
    }*/
  /*entered in sitecore RTE <span></span>
    .symbol-trademark {
        &:after {
            @include fa-icon(); 
            font-size:10px;
            content: $fa-var-trademark; 
            position:relative;
            top:-6px;
            left:2px;
        }
    }*/
  /*entered in sitecore RTE <span></span>
    .service-mark {
        &:after {
            font-size:10px;
            content: 'SM';
            position:relative;
            top:-5px;
            left:2px;
        }
    }*/
  /*.navigation-heading {
        .navigation-title {
            color:$text-white;
        }
        &:hover, &:focus {
            .navigation-title {
                color:$text-green;
            }
        }
    }*/
}

.navigation.navigation-main .symbol-registered > .navigation-title > a:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  content: "";
  position: relative;
  top: -4px;
  left: 2px;
}

.navigation.navigation-main .symbol-trademark > .navigation-title > a:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  content: "";
  position: relative;
  top: -6px;
  left: 2px;
}

.navigation.navigation-main .service-mark > .navigation-title > a:after {
  font-size: 10px;
  content: 'SM';
  position: relative;
  top: -5px;
  left: 2px;
}

.navigation.navigation-main .component-content > nav {
  position: relative;
}

.navigation.navigation-main .component-content > nav ul:after {
  content: "";
  display: table;
  clear: both;
}

.navigation.navigation-main .rel-level1 {
  float: right;
  height: 95px;
  padding: 0 20px;
}

.navigation.navigation-main .rel-level1 > .navigation-title > a {
  border-width: 2px 0 0 0;
  border-color: transparent;
  margin-top: 30px;
}

.navigation.navigation-main .rel-level1.submenu > .navigation-title a {
  position: relative;
  padding-right: 0;
}

.navigation.navigation-main .rel-level1 > ul {
  overflow: hidden;
  display: none;
  z-index: 10;
  position: absolute;
  top: 100%;
  background: #f6f6f6;
  margin-left: 0;
  margin-top: -2px;
  border-top: 2px solid #000000;
  border-left: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
}

.navigation.navigation-main .rel-level1.show {
  background-color: #000;
}

.navigation.navigation-main .rel-level1.show > .navigation-title > a {
  color: #fff;
}

.navigation.navigation-main .rel-level1.show > a + ul {
  display: block !important;
}

.navigation.navigation-main .rel-level1.show > ul {
  display: block !important;
  min-width: 60px;
}

.navigation.navigation-main .rel-level1.active > .navigation-title > a:link, .navigation.navigation-main .rel-level1.active > .navigation-title > a:visited {
  color: #000000;
}

.navigation.navigation-main .rel-level1.active > span {
  display: block;
  padding: 10px 20px;
  color: #fff;
}

.navigation.navigation-main .rel-level1.submenu.active {
  border-color: #176f89;
}

.navigation.navigation-main .rel-level2:hover, .navigation.navigation-main .rel-level2:focus {
  -webkit-transition: background .2s ease-in;
  transition: background .2s ease-in;
  background: #f6f6f6;
}

.navigation.navigation-main .rel-level2 div > a {
  display: block;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
}

.navigation.navigation-main .rel-level2 div > a:hover, .navigation.navigation-main .rel-level2 div > a:focus {
  color: #222;
}

.navigation.navigation-main .rel-level2.submenu {
  box-sizing: border-box;
}

.navigation.navigation-main .rel-level2.submenu.navigation-image {
  text-align: center;
}

.navigation.navigation-main .rel-level2.submenu.navigation-image > a, .navigation.navigation-main .rel-level2.submenu.navigation-image .field-navigationtext {
  text-align: left;
}

.navigation.navigation-main.navigation-main-horizontal {
  padding: 0;
}

.navigation.navigation-main.navigation-main-horizontal .submenu > ul {
  padding-left: 0;
}

.navigation.navigation-main.navigation-main-horizontal li > .navigation-title > a {
  display: inline-block;
}

.navigation.navigation-main.navigation-main-horizontal .login-required-lock {
  margin-left: 5px;
  color: #fff;
}

.navigation.navigation-main.navigation-main-horizontal .login-required-lock:after {
  font-size: inherit;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
}

.navigation.navigation-main.navigation-main-horizontal .rel-level1 {
  padding: 0 10px;
}

@media only screen and (min-width: 1200px) {
  .navigation.navigation-main.navigation-main-horizontal .rel-level1 {
    padding: 0 20px;
  }
}

.navigation.navigation-main.navigation-main-horizontal .rel-level1.show > a + ul {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level1.show > ul {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  box-shadow: 6px 4px 12px 4px rgba(0, 0, 0, 0.4);
}

.navigation.navigation-main.navigation-main-horizontal .rel-level1 > ul {
  width: 100%;
  clear: both;
  left: 0;
}

@media only screen and (min-width: 768px) {
  .navigation.navigation-main.navigation-main-horizontal .rel-level1 > ul {
    width: 160%;
    left: -27%;
  }
}

@media only screen and (min-width: 1200px) {
  .navigation.navigation-main.navigation-main-horizontal .rel-level1 > ul {
    left: -26.75%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navigation.navigation-main.navigation-main-horizontal .rel-level1 > ul > .rel-level2:last-child {
    display: none;
  }
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2 {
  float: left;
  padding: 10px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #c2c2c2;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 23%;
  flex-basis: 23%;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.last ul:after {
  clear: none;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.black, .navigation.navigation-main.navigation-main-horizontal .rel-level2.gray {
  border-top: 10px solid #000;
  border-right: 0;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.black {
  background: #000;
  padding: 0 25px;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.black li {
  border-bottom: 1px solid #4d4d4d;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.black li > .navigation-title > a {
  color: #fff;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.black li > .navigation-title > a:hover, .navigation.navigation-main.navigation-main-horizontal .rel-level2.black li > .navigation-title > a:focus {
  color: #009639;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.black li:last-of-type {
  border-bottom: 0;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.black li:hover, .navigation.navigation-main.navigation-main-horizontal .rel-level2.black li:focus {
  color: #009639;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.black .rel-level3 .navigation-heading {
  padding: 15px 0;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.black .rel-level3 .navigation-heading > .navigation-title {
  color: #fff;
  font-size: 16px;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.black .rel-level3 ul {
  margin-top: -10px;
  padding-bottom: 15px;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.black .rel-level3 ul li {
  border-bottom: 0;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.black .rel-level3:hover .navigation-heading > .navigation-title, .navigation.navigation-main.navigation-main-horizontal .rel-level2.black .rel-level3:focus .navigation-heading > .navigation-title {
  color: #009639;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.black .rel-level3:hover > .navigation-title > a, .navigation.navigation-main.navigation-main-horizontal .rel-level2.black .rel-level3:focus > .navigation-title > a {
  color: #009639;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.black .rel-level3:hover > .login-required-lock, .navigation.navigation-main.navigation-main-horizontal .rel-level2.black .rel-level3:focus > .login-required-lock {
  color: #009639;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.black .rel-level4 > .navigation-title > a {
  padding: 8px 0;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.black .rel-level4:hover > .navigation-title > a, .navigation.navigation-main.navigation-main-horizontal .rel-level2.black .rel-level4:focus > .navigation-title > a {
  color: #009639;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.black .rel-level4:hover > .login-required-lock, .navigation.navigation-main.navigation-main-horizontal .rel-level2.black .rel-level4:focus > .login-required-lock {
  color: #009639;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.gray {
  background: #f2f2f2;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.gray .item-cta, .navigation.navigation-main.navigation-main-horizontal .rel-level2.gray .item-fake {
  font-family: "Proxima", arial, helvetica, sans-serif;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.gray .item-fake h4 {
  font-family: "ProximaBoldCondensed", arial, helvetica, sans-serif;
  text-transform: uppercase;
  color: #000000;
  margin: 15px 5px 0;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.gray .item-fake div a {
  display: inline;
  color: #009639;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.gray .item-fake div a:hover, .navigation.navigation-main.navigation-main-horizontal .rel-level2.gray .item-fake div a:focus {
  color: #000000;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.gray .item-fake div p {
  margin: 20px 0;
  font-size: 14px;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.gray .item-fake div p strong {
  font-size: 16px;
  line-height: 1;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.gray .item-fake div p a {
  font-size: 14px;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.gray .item-fake table {
  width: 100%;
  font-size: 14px;
  margin-top: 15px;
  margin-left: 5px;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.gray .item-fake table a {
  font-size: 14px;
  text-decoration: none;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.gray .item-fake table a.track-fund {
  color: #000000;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.gray .item-fake table a.track-fund:before {
  font-size: inherit;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  color: #009639;
  margin-right: 5px;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.gray .item-cta {
  padding: 10px 5px;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.gray .item-cta .service-mark:after {
  font-size: 10px;
  content: 'SM';
  position: relative;
  top: -5px;
  left: 2px;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.gray .item-cta img {
  width: 100%;
  height: auto;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.gray .item-cta hr {
  border: 0;
  color: transparent;
  border-bottom: 1px solid #b7b7b7;
  margin-top: 20px;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.gray .item-cta .field-navigationlink a {
  font-family: "CopernicusBook", arial, helvetica, sans-serif;
  font-size: 24px;
  color: #009639;
  text-decoration: none;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.gray .item-cta .login-required-lock {
  color: #009639;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.gray .item-cta .login-required-lock:after {
  font-size: inherit;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.gray .item-cta:hover .field-navigationlink a, .navigation.navigation-main.navigation-main-horizontal .rel-level2.gray .item-cta:focus .field-navigationlink a {
  color: #000000;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2.gray .item-cta:hover .login-required-lock, .navigation.navigation-main.navigation-main-horizontal .rel-level2.gray .item-cta:focus .login-required-lock {
  color: #000000;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2 > span {
  display: none;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level2 li > .navigation-title > a, .navigation.navigation-main.navigation-main-horizontal .rel-level3 li > .navigation-title > a {
  padding: 15px 0;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level3 {
  font-family: "ProximaBold", arial, helvetica, sans-serif;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level3 li > .navigation-title > a:before {
  font-size: inherit;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  margin-right: 10px;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level3 li:hover .login-required-lock, .navigation.navigation-main.navigation-main-horizontal .rel-level3 li:focus .login-required-lock {
  color: #009639;
}

.navigation.navigation-main.navigation-main-horizontal .rel-level4 {
  font-family: "Proxima", arial, helvetica, sans-serif;
}

.navigation.navigation-main.navigation-main-vertical .rel-level1 > ul {
  padding-left: 0;
  width: auto;
  left: auto;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #c2c2c2;
}

.navigation.navigation-main.navigation-main-vertical .rel-level1 > ul > li {
  padding: 5px 10px;
}

.navigation.navigation-main.navigation-umbrella {
  max-width: 210px;
  /*@include respond-to(large) {
            position:relative;
            left:-10px;
        }*/
}

.navigation.navigation-main.navigation-umbrella .level1 > .navigation-title > a, .navigation.navigation-main.navigation-umbrella .level0 > .navigation-title > a {
  font-size: 16px;
}

.navigation.navigation-main.navigation-umbrella .rel-level1 {
  float: none;
  background: #FFFFFF;
  width: 100%;
  height: auto;
  padding: 0;
}

.navigation.navigation-main.navigation-umbrella .rel-level1 > .navigation-title {
  border: 1px solid #ffffff;
  line-height: 1.7;
  margin-top: -1px;
}

.navigation.navigation-main.navigation-umbrella .rel-level1 > .navigation-title > a {
  font-family: "ProximaBold", arial, helvetica, sans-serif;
  color: #009639;
  margin-top: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 4px;
}

.navigation.navigation-main.navigation-umbrella .rel-level1 > ul > li {
  padding: 5px 15px;
}

.navigation.navigation-main.navigation-umbrella .rel-level1.submenu > .navigation-title a:after {
  font-size: inherit;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  right: 10px;
}

.navigation.navigation-main.navigation-umbrella .rel-level1 > ul {
  width: 100%;
  z-index: 11;
  background: #FFFFFF;
  margin-top: 0;
  border-top: 0;
}

.navigation.navigation-main.navigation-umbrella .rel-level1.show {
  background: #FFFFFF;
}

.navigation.navigation-main.navigation-umbrella .rel-level1.show > .navigation-title {
  border-left: 1px solid #004d33;
  border-right: 1px solid #004d33;
}

.navigation.navigation-main.navigation-umbrella .rel-level1.show > .navigation-title > a {
  color: #000000;
}

.navigation.navigation-main.navigation-umbrella .rel-level1.show > ul {
  border-left: 1px solid #004d33;
  border-right: 1px solid #004d33;
  border-bottom: 1px solid #004d33;
}

.navigation.navigation-main.navigation-umbrella .rel-level2:hover, .navigation.navigation-main.navigation-umbrella .rel-level2:focus {
  background: #FFFFFF;
}

.navigation.navigation-main.navigation-umbrella .rel-level2 div > a {
  font-size: 16px;
  text-align: left;
  padding: 0 5px 8px 0;
  border-bottom: 1px solid #004d33;
}

.navigation.navigation-main.navigation-umbrella .rel-level2 div > a:hover, .navigation.navigation-main.navigation-umbrella .rel-level2 div > a:focus {
  color: #009639;
}

.navigation.navigation-main.navigation-umbrella .rel-level2:last-child div > a {
  border-bottom: 0;
}

.navigation.navigation-main.navigation-account, .navigation.navigation-main.navigation-login {
  /*padding-right:35px;
         @include respond-to(desktop) {
            padding-right:45px;
        }*/
}

.navigation.navigation-main.navigation-account .sxaToogleNavBtn, .navigation.navigation-main.navigation-login .sxaToogleNavBtn {
  display: none !important;
}

.navigation.navigation-main.navigation-account .rel-level1, .navigation.navigation-main.navigation-login .rel-level1 {
  padding: 0;
  width: 100%;
  height: auto;
  margin-top: 30px;
}

.navigation.navigation-main.navigation-account .rel-level1 > .navigation-title > a, .navigation.navigation-main.navigation-login .rel-level1 > .navigation-title > a {
  margin: 0;
  color: #009639;
  border: solid 2px #009639;
  text-align: center;
}

.navigation.navigation-main.navigation-account .rel-level1 > .navigation-title > a:before, .navigation.navigation-main.navigation-login .rel-level1 > .navigation-title > a:before {
  font-size: inherit;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  margin-right: 6px;
}

.navigation.navigation-main.navigation-account .rel-level1 > .navigation-title > a:hover, .navigation.navigation-main.navigation-login .rel-level1 > .navigation-title > a:hover {
  color: #009639;
  background-color: #fff;
}

.navigation.navigation-main.navigation-account .rel-level1.show, .navigation.navigation-main.navigation-login .rel-level1.show {
  background-color: transparent;
}

.navigation.navigation-main.navigation-account .rel-level1.active > .navigation-title > a, .navigation.navigation-main.navigation-login .rel-level1.active > .navigation-title > a {
  color: #009639;
}

.navigation.navigation-main.navigation-account .rel-level1 > .navigation-title {
  background: #009639;
}

.navigation.navigation-main.navigation-account .rel-level1 > .navigation-title > a {
  color: #fff;
}

.navigation.navigation-main.navigation-account .rel-level1 > .navigation-title > a:after {
  font-size: inherit;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  margin-left: 6px;
}

.navigation.navigation-main.navigation-account .rel-level1.active:not(.show) > .navigation-title > a {
  color: #fff;
}

.navigation.navigation-main.navigation-account .rel-level1.active:not(.show) > .navigation-title > a:hover, .navigation.navigation-main.navigation-account .rel-level1.active:not(.show) > .navigation-title > a:focus {
  color: #009639;
}

.navigation.navigation-main.navigation-account .rel-level1.active.show > .navigation-title {
  background: #FFFFFF;
}

.navigation.navigation-main.navigation-account .rel-level1.active.show > .navigation-title > a {
  color: #009639;
}

.navigation.navigation-main.navigation-account .rel-level1.active.show > .navigation-title > a:hover, .navigation.navigation-main.navigation-account .rel-level1.active.show > .navigation-title > a:focus {
  color: #009639;
}

.navigation.navigation-main.navigation-account .rel-level1 > ul {
  width: 100%;
  background-color: #FFFFFF;
  border-top: solid 2px #009639;
}

.navigation.navigation-main.navigation-account .rel-level2 div > a {
  text-align: left;
}

.navigation.navigation-main.navigation-account .rel-level2 > .navigation-title > a:before {
  font-size: inherit;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 6px;
}

.navigation.navigation-main.navigation-account .rel-level2:first-of-type > .navigation-title > a:before {
  content: "";
}

.navigation.navigation-main.navigation-account .rel-level2:last-of-type > .navigation-title > a:before {
  content: "";
}

.navigation.navigation-main.navigation-login .rel-level1 > .navigation-title {
  background-color: #009639;
}

.navigation.navigation-main.navigation-login .rel-level1 > .navigation-title > a {
  color: #fff;
}

.navigation.navigation-main.navigation-login .rel-level1 > .navigation-title > a:before {
  content: "";
}

@media only screen and (min-width: 1200px) {
  .navigation.navigation-main.navigation-login .rel-level1 > .navigation-title > a:after {
    content: '/Register';
  }
}

/* breakpoints */
.navigation.navigation-mobile {
  padding: 0;
}

.navigation.navigation-mobile nav > ul {
  border: none;
}

.navigation.navigation-mobile .rel-level1 {
  cursor: pointer;
  margin: 0;
  background: #FFFFFF;
  /*&:last-of-type {
            border-bottom:1px solid $border-dark-gray;
        }*/
}

.navigation.navigation-mobile .rel-level1 > .navigation-title {
  display: block;
  padding: 10px;
  margin: 0;
  border-bottom: 1px solid #b7b7b7;
}

.navigation.navigation-mobile .rel-level1 > .navigation-title:last-child {
  border-bottom: none;
}

.navigation.navigation-mobile .rel-level1 > .navigation-title > a {
  padding: 3px 5px;
  text-decoration: none;
  color: #000000;
  display: inline;
  border-width: 0;
  font-size: 16px;
}

.navigation.navigation-mobile .rel-level1 > ul {
  padding-left: 25px;
  display: none;
  background: #FFFFFF;
}

.navigation.navigation-mobile .rel-level1 > ul li {
  position: relative;
}

.navigation.navigation-mobile .rel-level1 > ul li a:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  display: block;
  position: absolute;
  left: -5px;
  top: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 0.8em;
  color: #009639;
}

.navigation.navigation-mobile .rel-level1.active > .navigation-title > a {
  color: #009639;
}

.navigation.navigation-mobile .rel-level1.submenu.active > .navigation-title:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.navigation.navigation-mobile .rel-level1.submenu.active > ul {
  display: block;
}

.navigation.navigation-mobile .rel-level1.submenu > .navigation-title {
  position: relative;
}

.navigation.navigation-mobile .rel-level1.submenu > .navigation-title:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  font-size: 1em;
  color: #009639;
}

.navigation.navigation-mobile .rel-level1.submenu.first.last:not(.no-child):not(.active) {
  border-bottom: 1px solid #b7b7b7;
}

.navigation.navigation-mobile .rel-level2 {
  display: list-item;
}

.navigation.navigation-mobile .rel-level2 .navigation-title > a {
  font-weight: 500;
  padding: 8px 10px 8px 15px;
  display: inline-block;
}

.navigation.navigation-mobile .rel-level2 .navigation-title > a:hover, .navigation.navigation-mobile .rel-level2 .navigation-title > a:focus {
  color: #009639;
}

.navigation.navigation-mobile .rel-level2 ul {
  display: none;
}

.navigation.navigation-mobile .rel-level2 .login-required-lock {
  color: #000000;
}

.navigation.navigation-mobile .rel-level2 .login-required-lock:after {
  font-size: inherit;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
}

.navigation.navigation-mobile .rel-level2:hover > .navigation-title > a, .navigation.navigation-mobile .rel-level2:focus > .navigation-title > a {
  color: #009639;
}

.navigation.navigation-mobile .rel-level2:hover > .login-required-lock, .navigation.navigation-mobile .rel-level2:focus > .login-required-lock {
  color: #009639;
}

.navigation.navigation-mobile.navigation-login .rel-level1, .navigation.navigation-mobile.navigation-account .rel-level1, .navigation.navigation-mobile.navigation-umbrella .rel-level1 {
  background: #009639;
}

.navigation.navigation-mobile.navigation-login .rel-level1 > .navigation-title > a, .navigation.navigation-mobile.navigation-account .rel-level1 > .navigation-title > a, .navigation.navigation-mobile.navigation-umbrella .rel-level1 > .navigation-title > a {
  color: #fff;
}

.navigation.navigation-mobile.navigation-login .rel-level1.active > .navigation-title > a, .navigation.navigation-mobile.navigation-account .rel-level1.active > .navigation-title > a, .navigation.navigation-mobile.navigation-umbrella .rel-level1.active > .navigation-title > a {
  color: #fff;
}

.navigation.navigation-mobile.navigation-login .rel-level1.submenu > .navigation-title:before, .navigation.navigation-mobile.navigation-account .rel-level1.submenu > .navigation-title:before, .navigation.navigation-mobile.navigation-umbrella .rel-level1.submenu > .navigation-title:before {
  color: #fff;
}

/* breakpoints */
.navigation-sidebar {
  padding-left: 0;
  /* States */
}

.navigation-sidebar .subnav {
  width: 160px;
}

.navigation-sidebar .subnav > ul {
  list-style: none;
  border-radius: 4px;
  box-shadow: 0px 2px 9.5px 0.5px rgba(0, 0, 0, 0.4);
}

.navigation-sidebar .subnav > ul > li + li {
  border-top: 1px solid #d9d9d6;
}

.navigation-sidebar .subnav > ul > li > a {
  display: block;
  padding: 10px;
  text-decoration: none;
}

.navigation-sidebar .subnav > ul > li > a:hover,
.navigation-sidebar .subnav > ul > li > a.active {
  background-color: #009639;
  color: #fff;
}

.navigation-sidebar .subnav.isStuck {
  top: 160px;
  position: fixed;
  -webkit-backface-visibility: hidden;
  /* fixes google chrome bug */
}

.navigation-sidebar .subnav.threshold {
  position: absolute;
  bottom: 50px;
}

/* breakpoints */
.navigation.sitemap-navigation .level2 a {
  position: relative;
  padding-left: 10px;
}

.navigation.sitemap-navigation .level2 a:before {
  font-size: 14px;
  font-size: 1.4rem;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translateY(-50%) scale(1, -1);
  -ms-transform: translateY(-50%) scale(1, -1);
  transform: translateY(-50%) scale(1, -1);
  position: absolute;
  content: "";
  top: 50%;
  left: -8px;
}
