/* breakpoints */
.divider hr {
  margin: 10px 0;
  border: 0;
  height: 0;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #006747;
}

.page-header-divider hr {
  margin-top: 5px;
}

.white-space-divider hr {
  border: none;
}
