/*$font-small:11px;
$font-normal:13px;
$font-medium:16px;*/
/*$font-small:11px;
$font-normal:13px;
$font-medium:16px;*/
/* breakpoints */
.page-list {
  background-color: transparent;
  /*$font-small:11px;
$font-normal:13px;
$font-medium:16px;*/
  /* breakpoints */
  /*$font-small:11px;
$font-normal:13px;
$font-medium:16px;*/
}

.page-list .item {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  background: transparent;
  padding: 15px;
  overflow: hidden;
}

.page-list .item:last-child {
  border-width: 0;
}

.page-list .item .field-title {
  color: #000;
}

.page-list .field-title {
  font-weight: bold;
}

.page-list a {
  background-color: transparent;
  text-decoration: none;
  font-size: 1em;
  color: #000000;
  border-bottom: 1px solid #000000;
}

.page-list a:hover {
  color: #000000;
  text-decoration: none;
}
