@charset "UTF-8";
/* breakpoints */
.content, .rich-text {
  background: transparent;
  color: #000000;
  border: transparent;
  line-height: 1.5;
  font-size: 12px;
  overflow: hidden;
  /*{
        max-width: 100%;
    }*/
  /* breakpoints */
  /*Added NW
p {
    margin: 0 0 $middle-margin 0;
}

strong {
    font-weight: 700;
}*/
}

.content .field-filetypeicon > a > span, .content .pdf, .content .xls, .content .xlsx, .content .pptx, .content .ppt, .content .docx, .content .doc, .content .bmp, .content .png, .content .jpg, .content .jpeg, .content .psd, .content .gif, .content .avi, .content .mp4, .content .wmv, .content .mov, .content .mp3, .content .wma, .content .txt, .content .zip, .rich-text .field-filetypeicon > a > span, .rich-text .pdf, .rich-text .xls, .rich-text .xlsx, .rich-text .pptx, .rich-text .ppt, .rich-text .docx, .rich-text .doc, .rich-text .bmp, .rich-text .png, .rich-text .jpg, .rich-text .jpeg, .rich-text .psd, .rich-text .gif, .rich-text .avi, .rich-text .mp4, .rich-text .wmv, .rich-text .mov, .rich-text .mp3, .rich-text .wma, .rich-text .txt, .rich-text .zip {
  display: inline-block;
  box-sizing: border-box;
  font-weight: normal;
  width: 15px;
  height: 21px;
  margin: 0;
  padding: 0;
  position: relative;
}

.content .field-filetypeicon > a > span:before, .content .pdf:before, .content .xls:before, .content .xlsx:before, .content .pptx:before, .content .ppt:before, .content .docx:before, .content .doc:before, .content .bmp:before, .content .png:before, .content .jpg:before, .content .jpeg:before, .content .psd:before, .content .gif:before, .content .avi:before, .content .mp4:before, .content .wmv:before, .content .mov:before, .content .mp3:before, .content .wma:before, .content .txt:before, .content .zip:before, .rich-text .field-filetypeicon > a > span:before, .rich-text .pdf:before, .rich-text .xls:before, .rich-text .xlsx:before, .rich-text .pptx:before, .rich-text .ppt:before, .rich-text .docx:before, .rich-text .doc:before, .rich-text .bmp:before, .rich-text .png:before, .rich-text .jpg:before, .rich-text .jpeg:before, .rich-text .psd:before, .rich-text .gif:before, .rich-text .avi:before, .rich-text .mp4:before, .rich-text .wmv:before, .rich-text .mov:before, .rich-text .mp3:before, .rich-text .wma:before, .rich-text .txt:before, .rich-text .zip:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px !important;
  position: absolute;
  display: block;
  top: 50%;
  margin: 0;
  padding: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.content .field-filetypeicon span:before, .rich-text .field-filetypeicon span:before {
  content: "";
}

.content .field-filetypeicon .pdf:before, .rich-text .field-filetypeicon .pdf:before {
  content: "";
}

.content .field-filetypeicon .xlsx:before, .content .field-filetypeicon .xls:before, .rich-text .field-filetypeicon .xlsx:before, .rich-text .field-filetypeicon .xls:before {
  content: "";
}

.content .field-filetypeicon .pptx:before, .content .field-filetypeicon .ppt:before, .rich-text .field-filetypeicon .pptx:before, .rich-text .field-filetypeicon .ppt:before {
  content: "";
}

.content .field-filetypeicon .docx:before, .content .field-filetypeicon .doc:before, .rich-text .field-filetypeicon .docx:before, .rich-text .field-filetypeicon .doc:before {
  content: "";
}

.content .field-filetypeicon .bmp:before, .content .field-filetypeicon .png:before, .content .field-filetypeicon .jpg:before, .content .field-filetypeicon .jpeg:before, .content .field-filetypeicon .psd:before, .content .field-filetypeicon .gif:before, .content .field-filetypeicon .tif:before, .rich-text .field-filetypeicon .bmp:before, .rich-text .field-filetypeicon .png:before, .rich-text .field-filetypeicon .jpg:before, .rich-text .field-filetypeicon .jpeg:before, .rich-text .field-filetypeicon .psd:before, .rich-text .field-filetypeicon .gif:before, .rich-text .field-filetypeicon .tif:before {
  content: "";
}

.content .field-filetypeicon .avi:before, .content .field-filetypeicon .mp4:before, .content .field-filetypeicon .wmv:before, .content .field-filetypeicon .mov:before, .content .field-filetypeicon .mpg:before, .content .field-filetypeicon .mkv:before, .content .field-filetypeicon .vp6:before, .content .field-filetypeicon .vid:before, .content .field-filetypeicon .rv:before, .content .field-filetypeicon .webm:before, .content .field-filetypeicon .swf:before, .content .field-filetypeicon .flv:before, .content .field-filetypeicon .m4v:before, .content .field-filetypeicon .h264:before, .content .field-filetypeicon .mk3d:before, .content .field-filetypeicon .gifv:before, .content .field-filetypeicon .oggv:before, .content .field-filetypeicon .movie:before, .content .field-filetypeicon .divx:before, .rich-text .field-filetypeicon .avi:before, .rich-text .field-filetypeicon .mp4:before, .rich-text .field-filetypeicon .wmv:before, .rich-text .field-filetypeicon .mov:before, .rich-text .field-filetypeicon .mpg:before, .rich-text .field-filetypeicon .mkv:before, .rich-text .field-filetypeicon .vp6:before, .rich-text .field-filetypeicon .vid:before, .rich-text .field-filetypeicon .rv:before, .rich-text .field-filetypeicon .webm:before, .rich-text .field-filetypeicon .swf:before, .rich-text .field-filetypeicon .flv:before, .rich-text .field-filetypeicon .m4v:before, .rich-text .field-filetypeicon .h264:before, .rich-text .field-filetypeicon .mk3d:before, .rich-text .field-filetypeicon .gifv:before, .rich-text .field-filetypeicon .oggv:before, .rich-text .field-filetypeicon .movie:before, .rich-text .field-filetypeicon .divx:before {
  content: "";
}

.content .field-filetypeicon .mp3:before, .content .field-filetypeicon .wma:before, .content .field-filetypeicon .wav:before, .content .field-filetypeicon .fla:before, .content .field-filetypeicon .flac:before, .content .field-filetypeicon .ra:before, .content .field-filetypeicon .rma:before, .content .field-filetypeicon .aif:before, .content .field-filetypeicon .aiff:before, .content .field-filetypeicon .aa:before, .content .field-filetypeicon .aac:before, .content .field-filetypeicon .mid:before, .content .field-filetypeicon .midi:before, .content .field-filetypeicon .aax:before, .content .field-filetypeicon .ac3:before, .content .field-filetypeicon .au:before, .content .field-filetypeicon .ogg:before, .content .field-filetypeicon .avr:before, .content .field-filetypeicon .m4a:before, .content .field-filetypeicon .mp4a:before, .content .field-filetypeicon .amz:before, .content .field-filetypeicon .mka:before, .content .field-filetypeicon .asx:before, .content .field-filetypeicon .pcm:before, .content .field-filetypeicon .m3u:before, .content .field-filetypeicon .xwma:before, .rich-text .field-filetypeicon .mp3:before, .rich-text .field-filetypeicon .wma:before, .rich-text .field-filetypeicon .wav:before, .rich-text .field-filetypeicon .fla:before, .rich-text .field-filetypeicon .flac:before, .rich-text .field-filetypeicon .ra:before, .rich-text .field-filetypeicon .rma:before, .rich-text .field-filetypeicon .aif:before, .rich-text .field-filetypeicon .aiff:before, .rich-text .field-filetypeicon .aa:before, .rich-text .field-filetypeicon .aac:before, .rich-text .field-filetypeicon .mid:before, .rich-text .field-filetypeicon .midi:before, .rich-text .field-filetypeicon .aax:before, .rich-text .field-filetypeicon .ac3:before, .rich-text .field-filetypeicon .au:before, .rich-text .field-filetypeicon .ogg:before, .rich-text .field-filetypeicon .avr:before, .rich-text .field-filetypeicon .m4a:before, .rich-text .field-filetypeicon .mp4a:before, .rich-text .field-filetypeicon .amz:before, .rich-text .field-filetypeicon .mka:before, .rich-text .field-filetypeicon .asx:before, .rich-text .field-filetypeicon .pcm:before, .rich-text .field-filetypeicon .m3u:before, .rich-text .field-filetypeicon .xwma:before {
  content: "";
}

.content .field-filetypeicon .txt:before, .rich-text .field-filetypeicon .txt:before {
  content: "";
}

.content .field-filetypeicon .zip:before, .content .field-filetypeicon .zipx:before, .content .field-filetypeicon .rar:before, .content .field-filetypeicon .tar:before, .content .field-filetypeicon .gz:before, .content .field-filetypeicon .dmg:before, .content .field-filetypeicon .iso:before, .rich-text .field-filetypeicon .zip:before, .rich-text .field-filetypeicon .zipx:before, .rich-text .field-filetypeicon .rar:before, .rich-text .field-filetypeicon .tar:before, .rich-text .field-filetypeicon .gz:before, .rich-text .field-filetypeicon .dmg:before, .rich-text .field-filetypeicon .iso:before {
  content: "";
}

.content .field-filetypeicon .css:before, .content .field-filetypeicon .js:before, .content .field-filetypeicon .py:before, .content .field-filetypeicon .git:before, .content .field-filetypeicon .py:before, .content .field-filetypeicon .cpp:before, .content .field-filetypeicon .h:before, .content .field-filetypeicon .ini:before, .content .field-filetypeicon .config:before, .rich-text .field-filetypeicon .css:before, .rich-text .field-filetypeicon .js:before, .rich-text .field-filetypeicon .py:before, .rich-text .field-filetypeicon .git:before, .rich-text .field-filetypeicon .py:before, .rich-text .field-filetypeicon .cpp:before, .rich-text .field-filetypeicon .h:before, .rich-text .field-filetypeicon .ini:before, .rich-text .field-filetypeicon .config:before {
  content: "";
}

.content .field-filetypeicon .exe:before, .content .field-filetypeicon .jar:before, .content .field-filetypeicon .dll:before, .content .field-filetypeicon .bat:before, .content .field-filetypeicon .pl:before, .content .field-filetypeicon .scr:before, .content .field-filetypeicon .msi:before, .content .field-filetypeicon .app:before, .content .field-filetypeicon .deb:before, .content .field-filetypeicon .apk:before, .content .field-filetypeicon .jar:before, .content .field-filetypeicon .vb:before, .content .field-filetypeicon .prg:before, .content .field-filetypeicon .sh:before, .rich-text .field-filetypeicon .exe:before, .rich-text .field-filetypeicon .jar:before, .rich-text .field-filetypeicon .dll:before, .rich-text .field-filetypeicon .bat:before, .rich-text .field-filetypeicon .pl:before, .rich-text .field-filetypeicon .scr:before, .rich-text .field-filetypeicon .msi:before, .rich-text .field-filetypeicon .app:before, .rich-text .field-filetypeicon .deb:before, .rich-text .field-filetypeicon .apk:before, .rich-text .field-filetypeicon .jar:before, .rich-text .field-filetypeicon .vb:before, .rich-text .field-filetypeicon .prg:before, .rich-text .field-filetypeicon .sh:before {
  content: "";
}

.content .field-filetypeicon .com:before, .content .field-filetypeicon .net:before, .content .field-filetypeicon .org:before, .content .field-filetypeicon .edu:before, .content .field-filetypeicon .gov:before, .content .field-filetypeicon .mil:before, .content .field-filetypeicon .html:before, .content .field-filetypeicon .htm:before, .content .field-filetypeicon .xhtml:before, .content .field-filetypeicon .jhtml:before, .content .field-filetypeicon .php:before, .content .field-filetypeicon .php3:before, .content .field-filetypeicon .php4:before, .content .field-filetypeicon .php5:before, .content .field-filetypeicon .phtmle:before, .content .field-filetypeicon .asp:before, .content .field-filetypeicon .aspx:before, .content .field-filetypeicon .cfm:before, .rich-text .field-filetypeicon .com:before, .rich-text .field-filetypeicon .net:before, .rich-text .field-filetypeicon .org:before, .rich-text .field-filetypeicon .edu:before, .rich-text .field-filetypeicon .gov:before, .rich-text .field-filetypeicon .mil:before, .rich-text .field-filetypeicon .html:before, .rich-text .field-filetypeicon .htm:before, .rich-text .field-filetypeicon .xhtml:before, .rich-text .field-filetypeicon .jhtml:before, .rich-text .field-filetypeicon .php:before, .rich-text .field-filetypeicon .php3:before, .rich-text .field-filetypeicon .php4:before, .rich-text .field-filetypeicon .php5:before, .rich-text .field-filetypeicon .phtmle:before, .rich-text .field-filetypeicon .asp:before, .rich-text .field-filetypeicon .aspx:before, .rich-text .field-filetypeicon .cfm:before {
  content: "";
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .rich-text h1, .rich-text h2, .rich-text h3, .rich-text h4, .rich-text h5, .rich-text h6 {
  color: #222;
}

.content h1, .content h2, .rich-text h1, .rich-text h2 {
  margin: 10px 0;
}

.content h3, .content h4, .rich-text h3, .rich-text h4 {
  margin: 5px 0;
}

.content h5, .content h6, .rich-text h5, .rich-text h6 {
  margin: 5px 0 0;
}

.content p, .rich-text p {
  margin: 20px 0;
}

.content ul, .content ol, .rich-text ul, .rich-text ol {
  padding-bottom: 5px;
  padding-top: 5px;
  margin-left: 10px;
}

.content li, .rich-text li {
  font-size: 16px;
  margin-left: 15px;
}

.content ul li, .rich-text ul li {
  list-style: disc;
  list-style-position: inside;
}

.content ol li, .rich-text ol li {
  list-style: decimal;
  list-style-position: inside;
}

.content a, .rich-text a {
  color: #009639;
  text-decoration: none;
  font-size: 1em;
}

.content a:hover, .rich-text a:hover {
  color: #000000;
  text-decoration: underline;
}

.content table, .rich-text table {
  height: auto !important;
}

.content table, .content table tr, .content table th, .content table td, .rich-text table, .rich-text table tr, .rich-text table th, .rich-text table td {
  border-collapse: collapse;
  vertical-align: middle;
}

.content table th, .content table td, .rich-text table th, .rich-text table td {
  border-top: solid 1px #c2c2c2;
}

.content table thead th, .rich-text table thead th {
  border-bottom: solid 2px #c2c2c2;
}

.content table thead th.table-header-green, .rich-text table thead th.table-header-green {
  color: #00A952;
}

.content table thead th.table-header-grey, .rich-text table thead th.table-header-grey {
  color: #DBDCDE;
}

.content table tr, .content table th, .content table td, .rich-text table tr, .rich-text table th, .rich-text table td {
  padding: 5px;
}

.content table caption, .rich-text table caption {
  background-color: #f0f0f0;
  overflow: hidden;
  padding: 10px;
  margin-left: 0;
}

.content table tr, .rich-text table tr {
  border: none;
}

.content table th, .rich-text table th {
  font-size: 16px;
  font-weight: bold;
  padding: 7px;
}

.content table th:first-child, .rich-text table th:first-child {
  border-left: 0;
}

.content table td:first-child, .rich-text table td:first-child {
  border-left: 0;
}

.content .table-sm th,
.content .table-sm td, .rich-text .table-sm th,
.rich-text .table-sm td {
  padding: 0.3rem;
}

.content .table-bordered, .rich-text .table-bordered {
  border: 1px solid #c2c2c2;
}

.content .table-bordered th,
.content .table-bordered td, .rich-text .table-bordered th,
.rich-text .table-bordered td {
  border: 1px solid #c2c2c2;
}

.content .table-bordered thead th,
.content .table-bordered thead td, .rich-text .table-bordered thead th,
.rich-text .table-bordered thead td {
  border-bottom-width: 2px;
}

.content .table-borderless th,
.content .table-borderless td,
.content .table-borderless thead th,
.content .table-borderless tbody + tbody, .rich-text .table-borderless th,
.rich-text .table-borderless td,
.rich-text .table-borderless thead th,
.rich-text .table-borderless tbody + tbody {
  border: 0;
}

.content .table-striped tbody tr:nth-of-type(odd), .rich-text .table-striped tbody tr:nth-of-type(odd) {
  background-color: #d9d9d6;
}

.content .table-striped tbody tr:nth-of-type(odd) th, .content .table-striped tbody tr:nth-of-type(odd) td, .rich-text .table-striped tbody tr:nth-of-type(odd) th, .rich-text .table-striped tbody tr:nth-of-type(odd) td {
  background-color: #d9d9d6;
}

.content .table-hover tbody tr:hover, .rich-text .table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.content .button-default, .content .btn-default, .content .default, .rich-text .button-default, .rich-text .btn-default, .rich-text .default {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #009639;
  background: #FFFFFF;
  color: #009639;
  text-transform: uppercase;
  font-size: 16px;
}

.content .button-default:hover, .content .button-default:focus, .content .btn-default:hover, .content .btn-default:focus, .content .default:hover, .content .default:focus, .rich-text .button-default:hover, .rich-text .button-default:focus, .rich-text .btn-default:hover, .rich-text .btn-default:focus, .rich-text .default:hover, .rich-text .default:focus {
  color: #fff;
  background: #009639;
  border: 2px solid #009639;
}

.content .button-success, .content .btn-success, .content .success, .rich-text .button-success, .rich-text .btn-success, .rich-text .success {
  font-size: 12px;
  font-size: 1.2rem;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  background: #a0ce4e;
  color: #fff;
  font-weight: bold;
}

.content .button-success:hover, .content .button-success:focus, .content .btn-success:hover, .content .btn-success:focus, .content .success:hover, .content .success:focus, .rich-text .button-success:hover, .rich-text .button-success:focus, .rich-text .btn-success:hover, .rich-text .btn-success:focus, .rich-text .success:hover, .rich-text .success:focus {
  color: #fff;
  background: #92be43;
}

.content .button-danger, .content .btn-danger, .content .danger, .rich-text .button-danger, .rich-text .btn-danger, .rich-text .danger {
  font-size: 12px;
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  background: #FFFFFF;
  color: #6d3332;
  border: 2px solid #6d3332;
  text-transform: uppercase;
}

.content .button-danger:hover, .content .button-danger:focus, .content .btn-danger:hover, .content .btn-danger:focus, .content .danger:hover, .content .danger:focus, .rich-text .button-danger:hover, .rich-text .button-danger:focus, .rich-text .btn-danger:hover, .rich-text .btn-danger:focus, .rich-text .danger:hover, .rich-text .danger:focus {
  color: #fff;
  background: #6d3332;
}

.content .btn-block, .rich-text .btn-block {
  width: 100%;
}

.content .btn-sm, .rich-text .btn-sm {
  margin: 3px 0;
  padding: 5px 10px;
  font-size: 14px;
}

.rich-text {
  /* breakpoints */
  /* breakpoints */
  /* breakpoints */
  /* breakpoints */
  /* breakpoints */
  /* breakpoints */
  /*@include respond-to(large) {
        &.col-12 { 
            padding:0;
        }
    }*/
}

.rich-text.alert p {
  margin: 10px 0;
}

.rich-text.featured-funds.col-12 {
  padding: 15px;
}

.rich-text.featured-funds .component-content {
  border-bottom: 3px solid #fff;
  margin-bottom: 20px;
}

.rich-text.featured-funds h2, .rich-text.featured-funds a {
  color: #fff;
}

.rich-text.featured-funds h2 {
  font-family: "ProximaBoldCondensed", arial, helvetica, sans-serif;
  float: left;
  margin-top: 0;
  line-height: 1;
}

.rich-text.featured-funds a {
  float: right;
  margin: 10px auto;
  font-family: "ProximaBold", arial, helvetica, sans-serif;
  font-size: 16px;
  text-decoration: none;
}

.rich-text.featured-funds a:after {
  font-size: inherit;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  margin-left: 5px;
}

.rich-text.featured-funds a:hover, .rich-text.featured-funds a:focus {
  text-decoration: underline;
}

.rich-text.next-steps h1, .rich-text.next-steps h2, .rich-text.next-steps h3, .rich-text.next-steps h4, .rich-text.next-steps h5, .rich-text.next-steps h6 {
  margin-top: 60px;
  margin-bottom: 60px;
  color: #fff;
}

.rich-text.overlay-title {
  text-align: left;
  padding: 15px 30px;
  margin: 0;
  position: relative;
  background: transparent;
}

.rich-text.overlay-title > .component-content {
  border-bottom: 1px solid #b7b7b7;
}

.rich-text.overlay-title h2, .rich-text.overlay-title h3, .rich-text.overlay-title h4, .rich-text.overlay-title h5, .rich-text.overlay-title h6 {
  color: #000000;
  text-transform: uppercase;
  text-align: left;
  font-weight: normal;
  margin: 0;
  padding-bottom: 10px;
}

@media only screen and (max-width: 991px) {
  .rich-text.overlay-title h2, .rich-text.overlay-title h3, .rich-text.overlay-title h4, .rich-text.overlay-title h5, .rich-text.overlay-title h6 {
    font-size: 16px;
  }
}

.rich-text.replays.col-12 {
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (min-width: 1200px) {
  .rich-text.replays.col-12 {
    padding: 0;
  }
}

.rich-text.replays h1, .rich-text.replays h2, .rich-text.replays h3, .rich-text.replays h4, .rich-text.replays h5, .rich-text.replays h6 {
  font-family: "ProximaBoldCondensed", arial, helvetica, sans-serif;
  text-transform: uppercase;
}

.rich-text.replays h1, .rich-text.replays h2, .rich-text.replays h3, .rich-text.replays h4, .rich-text.replays h5, .rich-text.replays h6 {
  border-bottom: 3px solid #000000;
  margin-bottom: 30px;
}

.rich-text.section-title {
  padding: 0;
}

.rich-text.section-title h1, .rich-text.section-title h2, .rich-text.section-title h3, .rich-text.section-title h4, .rich-text.section-title h5, .rich-text.section-title h6 {
  font-family: "ProximaBoldCondensed", arial, helvetica, sans-serif;
  text-transform: uppercase;
}

.rich-text.section-title h2 {
  border-bottom: 3px solid #000000;
  margin-bottom: 30px;
}

.rich-text.upcoming-events {
  margin-top: 60px;
  padding: 15px 15px 0 15px;
}

.rich-text.upcoming-events.col-12 {
  padding: 15px;
}

@media only screen and (min-width: 992px) {
  .rich-text.upcoming-events {
    margin-top: -30px;
    margin-bottom: -15px;
  }
}

.rich-text.upcoming-events .component-content {
  border-bottom: 3px solid #000000;
  margin-bottom: 20px;
}

.rich-text.upcoming-events h2 {
  font-family: "ProximaBoldCondensed", arial, helvetica, sans-serif;
  text-transform: uppercase;
  float: left;
  margin-top: 0;
  line-height: 1;
}

.rich-text.upcoming-events a {
  float: right;
  margin: 10px auto;
  font-family: "ProximaBold", arial, helvetica, sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #009639;
}

.rich-text.upcoming-events a:after {
  font-size: inherit;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  margin-left: 5px;
}

.rich-text.upcoming-events a:hover, .rich-text.upcoming-events a:focus {
  text-decoration: underline;
}

.rich-text.upcoming-live h1, .rich-text.upcoming-live h2, .rich-text.upcoming-live h3, .rich-text.upcoming-live h4, .rich-text.upcoming-live h5, .rich-text.upcoming-live h6 {
  font-family: "ProximaBoldCondensed", arial, helvetica, sans-serif;
  text-transform: uppercase;
}

.rich-text.upcoming-live h1, .rich-text.upcoming-live h2, .rich-text.upcoming-live h3, .rich-text.upcoming-live h4, .rich-text.upcoming-live h5, .rich-text.upcoming-live h6 {
  border-bottom: 3px solid #000000;
  margin-bottom: 30px;
}

.content {
  /* breakpoints */
  /* breakpoints */
}

.content.content-highlight {
  padding: 0;
}

@media only screen and (max-width: 767px) {
  .content.content-highlight .field-title {
    line-height: 1;
  }
}

@media only screen and (max-width: 767px) {
  .content.content-highlight [class*="col-"]:first-of-type, .content.content-highlight [class*="col-"]:last-of-type {
    padding: 0;
  }
}

@media only screen and (min-width: 768px) {
  .content.content-highlight [class*="col-"]:first-of-type {
    padding-left: 0;
  }
  .content.content-highlight [class*="col-"]:last-of-type {
    padding-right: 0;
  }
}

.content.content-highlight .field-intro-header {
  margin-top: 0;
}

.content.content-highlight .highlight {
  width: 100%;
  padding: 15px;
  font-size: 16px;
}

.content.content-highlight .highlight h5 {
  width: 100%;
  font-family: "ProximaBold", arial, helvetica, sans-serif;
  text-transform: uppercase;
  border-bottom: 2px solid #000000;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.content.content-highlight .highlight p {
  font-size: 16px;
}

.content.content-highlight .highlight ul, .content.content-highlight .highlight ol {
  margin-left: 0;
  padding-top: 0;
}

.content.content-highlight .highlight ul li, .content.content-highlight .highlight ol li {
  list-style-position: outside;
}

.content.content-highlight .highlight.genlink {
  padding: 0 15px 15px;
}

@media only screen and (max-width: 767px) {
  .content.content-highlight .highlight {
    margin-bottom: 30px;
  }
}

.content.content-highlight.image {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}

.content.content-highlight.image .highlight {
  background-color: #FFFFFF;
  box-shadow: 0px 2px 5.76px 0.24px rgba(0, 0, 0, 0.4);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 767px) {
  .content.content-highlight.image .highlight {
    margin: 30px 0;
  }
}

.content.content-highlight.image [class*="col-"] {
  position: relative;
}

@media only screen and (min-width: 1200px) {
  .content.content-highlight.image .col-xl-auto:first-of-type {
    float: left;
    padding-right: 0;
  }
  .content.content-highlight.image .col-xl-auto:first-of-type .field-image {
    max-width: 975px;
  }
  .content.content-highlight.image .col-xl-auto:last-of-type {
    float: right;
    position: absolute;
    right: 0;
    max-width: 25%;
    top: 18px;
  }
}

.content.content-highlight.image .headline {
  background: rgba(0, 150, 57, 0.85);
  color: #fff;
  position: absolute;
  bottom: 6px;
  padding: 30px;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .content.content-highlight.image .headline {
    background: #009639;
    position: relative;
    bottom: auto;
    top: -5px;
    padding: 15px;
    margin-bottom: 0;
  }
}

.content.content-highlight.image .headline .field-date {
  font-size: 14px;
}

.content.content-highlight.image .headline .field-title, .content.content-highlight.image .headline .field-excerpt {
  max-width: 90%;
}

.content.content-highlight.image .headline .field-title {
  font-family: "ProximaBoldCondensed", arial, helvetica, sans-serif;
  font-size: 40px;
  text-transform: uppercase;
}

.content.content-highlight.image .headline .field-title a {
  color: #fff;
  text-decoration: none;
}

.content.content-highlight.image .headline .field-excerpt {
  font-size: 18px;
}

.content.content-live {
  /*@include respond-to (tablet) {
        padding-right:0;
    }*/
}

@media only screen and (max-width: 767px) {
  .content.content-live {
    padding: 0;
  }
}

.content.content-live .field-eventname, .content.content-live .field-title {
  color: #009639;
  margin-top: 0;
}

.content.content-live .event-date, .content.content-live .field-eventtime {
  font-family: "ProximaBold", arial, helvetica, sans-serif;
}

.content.content-live .field-eventlink, .content.content-live .field-eventreplaylink {
  margin-top: 30px;
}

.content.content-live .field-eventlink a, .content.content-live .field-eventreplaylink a {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #009639;
  background-color: #009639;
  color: #fff;
}

.content.content-live .field-eventlink a:hover, .content.content-live .field-eventreplaylink a:hover {
  color: #009639;
  background-color: #FFFFFF;
}

@media only screen and (max-width: 991px) {
  .content.content-live .field-eventlink a, .content.content-live .field-eventreplaylink a {
    width: 100%;
  }
}

.content.content-live .field-eventtranscriptlink {
  margin-top: 20px;
}

.content.content-live .field-eventtranscriptlink a:before {
  font-size: inherit;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  margin-right: 5px;
}

@media only screen and (min-width: 992px) {
  .content.content-live:not(.landing) {
    padding-right: 0;
  }
}

.content.content-live:not(.landing) .event-date {
  font-size: 14px;
  margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
  .content.content-live.landing.col-12 {
    padding-left: 0;
  }
}

.content.content-live.landing .upcoming-preview {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.content.content-live.landing .upcoming-preview h3 {
  margin-top: 0;
}

.content.content-live.landing .upcoming-preview h3 .badge {
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
}

.content.content-live.landing .event-date, .content.content-live.landing .field-eventtime {
  font-size: 20px;
}

.content.content-live.landing .event-date {
  margin-top: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .content.content-live.landing .field-content, .content.content-live.landing .wrap-details {
    width: 50%;
    float: left;
  }
  .content.content-live.landing .wrap-details {
    padding-left: 30px;
  }
  .content.content-live.landing .wrap-details .event-date {
    margin-top: 0;
  }
}

.content.content-perspective .col-xs-12.col-lg-10 {
  padding-left: 0;
}

.content.content-video.live-landing {
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .content.content-video.live-landing {
    padding-right: 0;
  }
}

.content.content-video.live {
  padding-left: 0;
}

@media only screen and (max-width: 767px) {
  .content.content-video.live {
    padding: 0;
  }
}

.content .speakers h1, .content .speakers h2, .content .speakers h3, .content .speakers h4, .content .speakers h5, .content .speakers h6, .content.speakers h1, .content.speakers h2, .content.speakers h3, .content.speakers h4, .content.speakers h5, .content.speakers h6 {
  text-transform: uppercase;
  border-bottom: 3px solid #000000;
  width: 100%;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.content .speakers .wrap-author, .content.speakers .wrap-author {
  font-size: 16px;
}

.content .speakers .wrap-author .field-image img, .content.speakers .wrap-author .field-image img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.content .speakers .wrap-author .field-name, .content.speakers .wrap-author .field-name {
  font-family: "ProximaBold", arial, helvetica, sans-serif;
}

.content .speakers .wrap-author .field-title, .content.speakers .wrap-author .field-title {
  font-style: italic;
}

.content .speakers:not(.perspectives) .wrap-author, .content.speakers:not(.perspectives) .wrap-author {
  margin-top: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .content .speakers:not(.perspectives) .wrap-author, .content.speakers:not(.perspectives) .wrap-author {
    float: left;
    width: 50%;
  }
}

@media only screen and (min-width: 1200px) {
  .content .speakers:not(.perspectives) .wrap-author, .content.speakers:not(.perspectives) .wrap-author {
    float: left;
    width: 33.3%;
  }
}

.content .speakers:not(.perspectives) .wrap-author .field-image, .content .speakers:not(.perspectives) .wrap-author .wrap-text, .content.speakers:not(.perspectives) .wrap-author .field-image, .content.speakers:not(.perspectives) .wrap-author .wrap-text {
  float: left;
}

.content .speakers:not(.perspectives) .wrap-author .field-image, .content.speakers:not(.perspectives) .wrap-author .field-image {
  margin-right: 10px;
}

.content .speakers:not(.perspectives) .wrap-author .wrap-text, .content.speakers:not(.perspectives) .wrap-author .wrap-text {
  padding: 5px 15px 0;
  max-width: 60%;
}

.content .speakers.perspectives, .content.speakers.perspectives {
  padding: 0;
  text-align: center;
}

.content .speakers.perspectives .wrap-author, .content.speakers.perspectives .wrap-author {
  margin-bottom: 30px;
}

.content .speakers.webcast, .content.speakers.webcast {
  margin-bottom: 10px;
}

@media only screen and (max-width: 991px) {
  .content .speakers.webcast, .content.speakers.webcast {
    margin-top: 30px;
  }
}

.content .speakers.webcast .wrap-author, .content.speakers.webcast .wrap-author {
  width: 100%;
  margin-top: 0;
}

.content .speakers.webcast .wrap-author .field-title, .content.speakers.webcast .wrap-author .field-title {
  font-style: normal;
  color: #000000;
}

.content .speakers.webcast .wrap-author .wrap-text, .content.speakers.webcast .wrap-author .wrap-text {
  width: 100%;
}

.content .speakers.webcast .event-date, .content.speakers.webcast .event-date {
  padding-top: 10px;
  margin-bottom: 10px;
}

.rich-text, .content {
  font-size: 18px;
}

.rich-text b, .rich-text strong, .content b, .content strong {
  font-weight: normal;
  font-family: "ProximaBold", arial, helvetica, sans-serif;
}

.rich-text p, .content p {
  font-size: 18px;
  margin-top: 0;
}

.rich-text p.fine-print, .content p.fine-print {
  font-size: 14px;
}

.rich-text .lead, .content .lead {
  font-size: 22px;
}

@media only screen and (max-width: 767px) {
  .rich-text .lead, .content .lead {
    font-size: 20px;
  }
}

#footer .rich-text, #footer .content {
  font-size: 14px;
}

#footer .rich-text p, #footer .content p {
  font-size: 14px;
}

.content ul, .content ol {
  margin: 0;
  padding: 0;
}

.content ul li, .content ol li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
  padding-bottom: 10px;
  font-size: inherit;
}

.content ul li:before, .content ol li:before {
  content: '\2022';
  margin: -2px 10px 0 0;
}

/* breakpoints */
.rich-text-lists ul, .field-featurelist ul {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.rich-text-lists ul li, .field-featurelist ul li {
  font-size: 13px;
  font-size: 1.3rem;
  position: relative;
  line-height: 21px;
  list-style: none;
  margin: 0;
  padding: 5px 0 5px 25px;
}

.rich-text-lists ul li:before, .field-featurelist ul li:before {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  font-size: 1.2rem;
  font-family: 'FontAwesome', sans-serif;
  position: absolute;
  top: 3px;
  left: 0;
  color: #000000;
  text-align: center;
  content: "\f00c";
  width: 20px;
  margin: 0 5px 0 0;
  padding: 0;
}

.field-featurelist ul li:before {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  font-size: 1.2rem;
  font-family: 'FontAwesome', sans-serif;
  position: absolute;
  top: 3px;
  left: 0;
  color: #000000;
  text-align: center;
  content: "\f046";
  width: 20px;
  margin: 0 5px 0 0;
  padding: 0;
}

.media-link.file-type-icon-media-link {
  float: left;
}

.media-link.file-type-icon-media-link .field-filetypeicon {
  text-align: center;
}
