/* breakpoints */
.plain-html .button-default, .plain-html .btn-default, .plain-html .default, .plain-html .btn-white {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #009639;
  background: #FFFFFF;
  color: #009639;
  text-transform: uppercase;
  font-size: 16px;
}

.plain-html .button-default:hover, .plain-html .button-default:focus, .plain-html .btn-default:hover, .plain-html .btn-default:focus, .plain-html .default:hover, .plain-html .default:focus, .plain-html .btn-white:hover, .plain-html .btn-white:focus {
  color: #fff;
  background: #009639;
  border: 2px solid #009639;
  text-decoration: none;
}

.plain-html .button-success, .plain-html .btn-success, .plain-html .success {
  font-size: 12px;
  font-size: 1.2rem;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  background: #a0ce4e;
  color: #fff;
  font-weight: bold;
}

.plain-html .button-success:hover, .plain-html .button-success:focus, .plain-html .btn-success:hover, .plain-html .btn-success:focus, .plain-html .success:hover, .plain-html .success:focus {
  color: #fff;
  background: #92be43;
}

.plain-html .button-danger, .plain-html .btn-danger, .plain-html .danger {
  font-size: 12px;
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  background: #FFFFFF;
  color: #6d3332;
  border: 2px solid #6d3332;
  text-transform: uppercase;
}

.plain-html .button-danger:hover, .plain-html .button-danger:focus, .plain-html .btn-danger:hover, .plain-html .btn-danger:focus, .plain-html .danger:hover, .plain-html .danger:focus {
  color: #fff;
  background: #6d3332;
}

.plain-html .button-primary, .plain-html .btn-primary, .plain-html .btn-green {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #009639;
  background: #009639;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
}

.plain-html .button-primary:hover, .plain-html .button-primary:focus, .plain-html .btn-primary:hover, .plain-html .btn-primary:focus, .plain-html .btn-green:hover, .plain-html .btn-green:focus {
  color: #009639;
  background: #FFFFFF;
  border: 2px solid #009639;
  text-decoration: none;
}

.plain-html .btn-block {
  width: 100%;
}

.plain-html .btn-sm {
  margin: 3px 0;
  padding: 5px 10px;
  font-size: 14px;
}

.plain-html table {
  height: auto !important;
}

.plain-html table, .plain-html table tr, .plain-html table th, .plain-html table td {
  border-collapse: separate;
  vertical-align: middle;
}

.plain-html table th, .plain-html table td {
  border-top: solid 1px #c2c2c2;
  padding: 5px 15px;
}

.plain-html table thead th {
  border-bottom: solid 2px #c2c2c2;
}

.plain-html table thead.table-header-green, .plain-html table tr.table-header-green {
  background-color: #00A952;
  color: #fff;
}

.plain-html table thead.table-header-grey, .plain-html table tr.table-header-grey {
  background-color: #DBDCDE;
}

.plain-html table caption {
  background-color: #f0f0f0;
  overflow: hidden;
  padding: 10px;
  margin-left: 0;
}

.plain-html table tr {
  border: none;
}

.plain-html table th {
  font-size: 16px;
  font-weight: bold;
  padding: 7px;
}

.plain-html table th:first-child {
  border-left: 0;
}

.plain-html table td:first-child {
  border-left: 0;
}

.plain-html .table-sm th,
.plain-html .table-sm td {
  padding: 0.3rem;
}

.plain-html .table-bordered {
  border: 1px solid #c2c2c2;
}

.plain-html .table-bordered th,
.plain-html .table-bordered td {
  border: 1px solid #c2c2c2;
}

.plain-html .table-bordered thead th,
.plain-html .table-bordered thead td {
  border-bottom-width: 2px;
}

.plain-html .table-borderless th,
.plain-html .table-borderless td,
.plain-html .table-borderless thead th,
.plain-html .table-borderless tbody + tbody {
  border: 0;
}

.plain-html .table-striped tbody tr:nth-of-type(odd) {
  background-color: #f0f0f0;
}

.plain-html .table-striped tbody tr:nth-of-type(odd) th, .plain-html .table-striped tbody tr:nth-of-type(odd) td {
  background-color: #f0f0f0;
}
