@charset "UTF-8";
/* breakpoints */
.tabs {
  overflow: hidden;
  position: relative;
  background: none;
  border: none;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin-bottom: 60px;
}

.tab-slider {
  position: absolute;
  background: #f0f0f0;
  cursor: pointer;
  border: 2px solid #000000;
  vertical-align: center;
  width: 15px;
  text-indent: -9999px;
  z-index: 10;
}

.tabs-heading {
  overflow: hidden;
}

.tabs-heading li {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #b7b7b7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #b7b7b7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #b7b7b7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #b7b7b7;
  float: left;
  display: block;
  margin-left: 1px;
  background: #f0f0f0;
  width: auto;
  cursor: pointer;
}

.tabs-heading li > div {
  padding: 3px 10px;
  display: block;
  text-decoration: none;
  color: #222;
}

.tabs-heading li > div:after {
  content: "";
  display: table;
  clear: both;
}

.tabs-heading li > div .field-heading {
  font-size: 14px;
  text-transform: uppercase;
}

.tabs-heading li .component.content {
  margin: 5px 0;
  width: 100%;
}

.tabs-heading li.active {
  background: #FFFFFF;
  border-bottom-width: 0;
}

.tabs-heading li.active a {
  color: #006747;
}

.tabs-heading li.active > div .field-heading {
  color: #006747;
}

.tabs-heading li:hover {
  background: #FFFFFF;
}

.tabs-heading li:first-child {
  margin-left: 0;
}

.tabs-container {
  background: transparent;
  margin-top: -1px;
}

.tabs-inner .tabs-container .content.col-12 {
  padding: 15px 0;
}

.tab {
  display: none;
  padding: 15px 0;
}

.tab:after {
  content: "";
  display: table;
  clear: both;
}

.tab.active {
  display: block;
}

/* breakpoints */
.tabs.tabs-bottom .tabs-container {
  margin: 0;
}

.tabs.tabs-bottom .tabs-heading {
  position: relative;
  margin-top: -1px;
}

.tabs.tabs-bottom .tabs-heading li {
  margin-bottom: 0;
  border-top: 0px solid #ffffff;
}

.tabs.tabs-bottom .tabs-heading li a {
  border: none;
}

.tabs.tabs-bottom .tabs-heading li.active {
  border-top: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #b7b7b7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
}

.tabs.tabs-bottom .tabs-heading li.active a {
  border: none;
  position: relative;
}

.tabs.tabs-bottom .tabs-heading li:hover {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #b7b7b7;
  background: #FFFFFF;
}

.tabs.tabs-bottom .tabs-container {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #b7b7b7;
  border-top: none;
  background: transparent;
  margin-bottom: 1px;
}

/* breakpoints */
.tabs .toggle:first-child {
  margin-top: 1px;
}

.tabs .toggle:first-child details summary.toggle-header {
  border-top: 1px solid #b7b7b7;
}

.tabs .toggle:last-child details summary.toggle-header {
  border-bottom: 1px solid #b7b7b7;
}

.tabs .toggle details[open] summary:before {
  content: none;
}

.tabs .toggle details[open] summary.toggle-header {
  border: 1px solid #b7b7b7;
  box-shadow: 0px 2px 4.9px 0.1px rgba(0, 0, 0, 0.4);
}

.tabs .toggle details[open] summary.toggle-header .toggle-label .field-heading:after {
  content: "" !important;
}

.tabs .toggle details summary.toggle-header {
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  border-top: 1px solid #b7b7b7;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.tabs .toggle details summary.toggle-header:before {
  content: none;
}

.tabs .toggle details summary.toggle-header .toggle-label {
  width: 100%;
  padding: 15px 0;
}

.tabs .toggle details summary.toggle-header .toggle-label [class*="col-"] {
  padding: 0;
}

.tabs .toggle details summary.toggle-header .toggle-label .field-heading {
  font-size: 16px;
}

.tabs .toggle details summary.toggle-header .toggle-label .field-heading:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  content: "" !important;
  color: #009639;
  position: absolute;
  right: 10px;
}

.tabs .toggle details .field-content {
  padding: 30px 0;
}

.tabs.tabs-morningstar .tabs-heading li {
  width: 19.85%;
  text-align: center;
}

.tabs.tabs-morningstar .tabs-heading li .component.content {
  margin: 5px;
  min-height: 50px;
  max-height: 50px;
}

@media only screen and (min-width: 768px) {
  .tabs.tabs-morningstar .tabs-heading li .component.content {
    padding: 5px;
  }
}

@media only screen and (min-width: 992px) {
  .tabs.tabs-morningstar .tabs-heading li .component.content {
    padding: 5px 25px;
  }
}

.tabs.tabs-morningstar #morningstar-top-divider {
  width: 100%;
  display: block;
  color: #b7b7b7;
  margin: 30px 0;
  display: none;
}

.tabs.tabs-morningstar iframe {
  width: 100%;
  min-height: 900px;
  /*recommend adding to iframe stylesheet
        .sbt-RootContainer {
            margin-left:0;
            width: 99%;
        }*/
}

/* breakpoints */
.tabs.tabs-scrollable .tabs-heading {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
}

.tabs.tabs-scrollable .tabs-container {
  margin: 0;
}

.tabs.tabs-scrollable .prev {
  left: 0;
  background: #e4e4e4 url("../Images/arrow-left.png") center center no-repeat;
}

.tabs.tabs-scrollable .next {
  right: 0;
  background: #e4e4e4 url("../Images/arrow-right.png") center center no-repeat;
}

.tabs.tabs-scrollable.tabs-bottom .wrapper {
  margin-top: 2px;
  padding-bottom: 6px;
}

.tabs.tabs-scrollable.tabs-bottom .next {
  top: 1px;
}

.tabs.tabs-scrollable.tabs-bottom .prev {
  top: 1px;
}

.tabs.tabs-scrollable.tabs-bottom .tabs-heading {
  margin-top: -4px;
}

/* breakpoints */
.tabs.tabs-vertical.tabs-vertical-right .tabs-heading {
  float: right;
  margin-left: -1px;
}

.tabs.tabs-vertical.tabs-vertical-right .tabs-heading li {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #f0f0f0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #f0f0f0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #b7b7b7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #f0f0f0;
}

.tabs.tabs-vertical.tabs-vertical-right .tabs-heading li.active {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #b7b7b7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #b7b7b7;
}

.tabs.tabs-vertical.tabs-vertical-right .tabs-heading li.active a {
  border: none;
}

.tabs.tabs-vertical.tabs-vertical-right .tabs-heading li:hover {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #b7b7b7;
}

.tabs.tabs-vertical.tabs-vertical-right .tabs-container {
  float: right;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #b7b7b7;
  border-top: none;
  margin-left: -1px;
  border-left: none;
}

/* breakpoints */
.tabs.tabs-vertical .tabs-heading {
  width: 30%;
  float: left;
}

.tabs.tabs-vertical .tabs-heading li {
  margin: 0 0 2px 0;
  display: block;
  width: 100%;
  border: 0;
  background: transparent;
  /*&:hover {
                @include border-basic(left, $tab-container-border, 2px);
            }*/
}

.tabs.tabs-vertical .tabs-heading li > div .field-heading {
  color: #009639;
  text-transform: capitalize;
  font-size: 16px;
}

.tabs.tabs-vertical .tabs-heading li.active {
  color: #009639;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #b7b7b7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #b7b7b7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #b7b7b7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  position: relative;
  z-index: 9;
}

.tabs.tabs-vertical .tabs-heading li.active > div .field-heading {
  color: #006747;
}

.tabs.tabs-vertical .tabs-heading li.active a {
  border: none;
}

.tabs.tabs-vertical .tabs-heading li:first-child {
  margin-top: 0;
}

.tabs.tabs-vertical .tabs-container {
  margin: 0;
  float: left;
  width: 70%;
  margin-left: -1px;
  border-top: none;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #b7b7b7;
}

.tabs.tabs-vertical .tabs-inner .tabs-container .content.col-12 {
  padding: 0 10px;
}

.tabs.tabs-vertical .tabs-inner .tabs-container .content h1:first-of-type, .tabs.tabs-vertical .tabs-inner .tabs-container .content h2:first-of-type, .tabs.tabs-vertical .tabs-inner .tabs-container .content h3:first-of-type, .tabs.tabs-vertical .tabs-inner .tabs-container .content h4:first-of-type, .tabs.tabs-vertical .tabs-inner .tabs-container .content h5:first-of-type, .tabs.tabs-vertical .tabs-inner .tabs-container .content h6:first-of-type {
  margin-top: 0;
}

.tabs.tabs-vertical .tab {
  padding: 0 10px;
}
