/* breakpoints */
.sitecore-form {
  margin: 10px 0;
  overflow: hidden;
  /*.scfRequired {
        display: none !important;
    }*/
}

.sitecore-form.col-12 {
  padding: 0;
}

.sitecore-form table {
  width: 100%;
}

.sitecore-form .form-group {
  margin-bottom: 15px;
}

.sitecore-form .scfSectionContent > div {
  margin: 5px 0 0 0;
  padding: 0;
}

.sitecore-form .scfSectionContent > div ~ div {
  margin: 0;
}

.sitecore-form .scfSectionContent > div > label, .sitecore-form .scfSectionContent > div > div {
  width: 100%;
  display: block;
  padding: 0;
}

.sitecore-form .has-feedback:after {
  content: "";
  display: table;
  clear: both;
}

.sitecore-form fieldset {
  padding: 15px;
  margin: 10px 0;
  position: relative;
}

.sitecore-form fieldset legend {
  font-weight: 700;
  padding: 0 5px;
  font-size: 16px;
  position: absolute;
  top: -33px;
  background: #fff;
  left: 0;
}

.sitecore-form .scfSectionContent > div {
  box-sizing: border-box;
  margin: 15px 0;
  border: 1px dashed gray;
  padding: 10px;
  position: relative;
}

.sitecore-form .scfSectionContent > div:after {
  clear: both;
  content: "";
  display: block;
}

.sitecore-form .scfSectionContent > div:hover [class$="GeneralPanel"] > [class$="UsefulInfo"] {
  opacity: 1;
}

.sitecore-form .scfSectionContent > div select, .sitecore-form .scfSectionContent > div input {
  margin-left: 5px;
}

.sitecore-form .scfSectionContent [class$="UsefulInfo"] {
  -webkit-transition: opacity 0.75s;
  transition: opacity 0.75s;
  box-sizing: border-box;
  opacity: 0;
  font-size: 12px;
  margin-left: 5px;
  position: absolute;
  border: 1px solid #c2c2c2;
  left: 0px;
  top: -15px;
  padding: 4px 8px;
  max-width: 98%;
  width: auto;
  background-color: #F5F5F5;
  color: #808080;
}

.sitecore-form input, .sitecore-form select, .sitecore-form textarea {
  border: 1px solid #c2c2c2;
  padding: 5px 10px;
  max-width: 98%;
  font-size: 16px;
}

.sitecore-form .scfCaptcha input[type="text"] {
  margin: 0;
}

.sitecore-form .scfCaptchaLimitGeneralPanel, .sitecore-form .scfCaptchStrongTextPanel {
  max-width: 100%;
  width: auto;
}

.sitecore-form .scfCaptchaLabel {
  display: none;
}

.sitecore-form .scfSectionContent .scfCaptchaGeneralPanel embed {
  max-width: 180px;
}

.sitecore-form input[type="image"] {
  border: none;
}

.sitecore-form input[type="submit"], .sitecore-form button {
  /*@include border-basic();
        border:1px solid $border-gray;
        background: $bg-basic-color;
        cursor: pointer;
        margin-left: 0;*/
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #009639;
  background: #FFFFFF;
  color: #009639;
}

.sitecore-form input[type="submit"]:hover, .sitecore-form button:hover {
  color: #fff;
  background: #009639;
  border: 2px solid #009639;
}

.sitecore-form input[type="text"], .sitecore-form input[type="password"], .sitecore-form textarea, .sitecore-form input[type="file"], .sitecore-form input[type="tel"], .sitecore-form input[type="email"] {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 95%;
  padding: 5px 10px;
}

.sitecore-form input[type="text"] + span, .sitecore-form input[type="password"] + span, .sitecore-form textarea + span, .sitecore-form input[type="file"] + span, .sitecore-form input[type="tel"] + span, .sitecore-form input[type="email"] + span {
  display: inline-block;
  vertical-align: middle;
}

.sitecore-form input[type="file"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sitecore-form input[type="radio"] {
  position: absolute;
}

.sitecore-form input[type="radio"] + label:before {
  content: "";
  position: absolute;
  top: 2px;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #FFFFFF;
}

.sitecore-form input[type="radio"] + label:after {
  content: "";
  position: absolute;
  top: 2px;
  display: block;
  width: 16px;
  height: 15px;
  background: image-url("radiobox.png");
}

.sitecore-form input[type="radio"]:checked + label:after {
  background-position: -16px 0;
}

.sitecore-form input[type="radio"] + label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 20px;
  margin-left: 5px;
  position: relative;
}

.sitecore-form select {
  border: 1px solid #c2c2c2;
  max-height: 30px;
  position: relative;
  text-indent: 2px;
}

.sitecore-form .scfListBox {
  background: none;
  max-height: none;
}

.sitecore-form .scfDateSelectorDay, .sitecore-form .scfDateSelectorMonth, .sitecore-form .scfDateSelectorYear {
  width: 30%;
}

.form.hints-below .scfSectionContent [class$="UsefulInfo"] {
  position: static;
  opacity: 1;
  max-width: 100%;
  width: 100%;
  margin: 5px 0 0 5px;
}

.labels-above label {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 0;
}

.labels-above .scfEmailGeneralPanel, .labels-above .scfMultipleLineGeneralPanel, .labels-above .scfSingleLineGeneralPanel, .labels-above .scfPasswordGeneralPanel, .labels-above .scfNumberGeneralPanel, .labels-above .scfDatePickerGeneralPanel, .labels-above .scfListBoxGeneralPanel, .labels-above .scfDropListGeneralPanel, .labels-above .scfDateGeneralPanel, .labels-above .scfRadioButtonListGeneralPanel, .labels-above .scfCheckBoxListGeneralPanel, .labels-above .scfFileUploadGeneralPanel, .labels-above .scfDateSelectorGeneralPanel, .labels-above .scfCreditCardGeneralPanel, .labels-above .scfConfirmPasswordGeneralPanel, .labels-above .scfCaptchaGeneralPanel, .labels-above .scfTelephoneGeneralPanel, .labels-above .scfSmsTelephoneGeneralPanel {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  width: 93%;
}

.labels-above .scfSectionContent .scfRequired {
  margin: 0 5px;
}

.labels-above .scfMultipleLineGeneralPanel {
  width: 95%;
}

.labels-above .scfMultipleLineTextBox {
  margin: 0 0 0 5px;
}

.labels-above .required label:after {
  content: "*";
  color: #6d3332;
  margin-left: 5px;
  font-family: "ProximaBold", arial, helvetica, sans-serif;
}

.labels-above .field-validation-error {
  color: #6d3332;
  display: block;
  width: 100%;
  font-size: 14px;
  font-family: "ProximaBold", arial, helvetica, sans-serif;
}
