/* breakpoints */
.divider hr {
  margin: 10px 0;
  border: 0;
  height: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
}

/* breakpoints */
.gray hr {
  border-top-color: #b7b7b7;
}

.page-header-divider hr {
  margin-top: 5px;
  border-top-color: #009639;
  border-top-width: 2px;
}

.divider.search {
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .divider.search {
    padding-left: 15px;
    padding-right: 0;
  }
}

.white-space-divider hr {
  border: none;
}
