@charset "UTF-8";
/* breakpoints */
.promo {
  background: #FFFFFF;
  padding: 15px;
  overflow: hidden;
  box-sizing: border-box;
  /* breakpoints */
  /* breakpoints */
  /*Added NW
p {
    margin: 0 0 $middle-margin 0;
}

strong {
    font-weight: 700;
}*/
}

.promo > .component-content {
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: #c2c2c2;
}

.promo > .component-content:after {
  content: "";
  display: table;
  clear: both;
}

.promo > .component-content > div {
  padding: 5px;
}

.promo .zg-height-fix .field-promoicon {
  margin-top: 100px;
}

.promo .field-promoicon {
  overflow: hidden;
  width: 100%;
}

.promo .field-promoicon img {
  width: 100%;
  height: auto;
}

.promo .field-promolink {
  margin-top: 5px;
  padding-bottom: 10px;
}

.promo.image-full-size img {
  margin-bottom: 10px;
}

.promo.cta {
  background-color: transparent;
  margin-bottom: 60px;
  overflow: visible;
}

.promo.cta > .component-content {
  border-width: 0;
}

.promo.cta .field-promotext3 {
  /* Custom FA Icons: https://codepen.io/Onomicon/pen/iDfld */
}

.promo.cta .field-promotext3 .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.promo.cta .field-promotext3 .icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  align-items: center;
  position: relative;
}

.promo.cta .field-promotext3 .custom-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 100px;
  font-size: 3em;
  border-radius: 25vw;
  overflow: hidden;
  background-size: cover;
  background: #FFFFFF;
  border: 3px solid #009639;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #009639;
}

.promo.cta .field-promotext3 .custom-icon::before {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.promo.cta .promo-text {
  background-color: #FFFFFF;
  border: 1px solid #ffffff;
  text-align: center;
  padding: 60px 30px 30px;
}

.promo.cta .promo-text .field-promotext {
  font-family: "CopernicusBook", arial, helvetica, sans-serif;
  color: #009639;
  text-decoration: none;
  font-size: 24px;
}

@media only screen and (max-width: 767px) {
  .promo.cta .promo-text .field-promotext {
    font-size: 22px;
  }
}

.promo.cta .promo-text .login-required-lock {
  margin-left: 5px;
  color: #009639;
}

.promo.cta .promo-text .login-required-lock:after {
  font-size: inherit;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
}

.promo.cta .promo-text .field-promotext2 {
  margin: 20px auto;
}

.promo.cta .promo-text .field-promotext2 h6 {
  font-family: "ProximaBold", arial, helvetica, sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.promo.cta .promo-text .field-promotext2 a.link-pdf {
  color: #000000;
  text-decoration: none;
}

.promo.cta .promo-text .field-promotext2 a.link-pdf:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.85em;
  content: "";
  color: #009639;
  margin-right: 10px;
  position: relative;
  top: -1px;
}

.promo.cta .promo-text .field-promotext2 a.link-pdf:hover {
  color: #009639;
}

.promo.cta .promo-text .field-promolink a {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #009639;
  background-color: #009639;
  color: #fff;
  font-size: 18px;
}

.promo.cta .promo-text .field-promolink a:hover {
  color: #009639;
  background-color: #FFFFFF;
}

@media only screen and (min-width: 768px) {
  .promo.cta.col-12.col-lg-8.offset-lg-2 .field-promotext3 {
    position: absolute;
    top: 40%;
    left: 30px;
    right: 0;
  }
  .promo.cta.col-12.col-lg-8.offset-lg-2 .field-promotext3 .icon-wrapper {
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    -webkit-box-align: left;
    -ms-flex-align: left;
    align-items: left;
    position: relative;
  }
  .promo.cta.col-12.col-lg-8.offset-lg-2 .field-promotext3 .custom-icon {
    left: 40px;
    top: 0;
  }
  .promo.cta.col-12.col-lg-8.offset-lg-2 .promo-text {
    padding: 30px 0;
  }
  .promo.cta.col-12.col-lg-8.offset-lg-2 .promo-text > div:not(.field-promolink) {
    max-width: 50%;
    position: relative;
    left: 20%;
    text-align: left;
  }
  .promo.cta.col-12.col-lg-8.offset-lg-2 .promo-text > div:not(.field-promolink) .field-promotext2 {
    margin: 20px auto 0;
  }
  .promo.cta.col-12.col-lg-8.offset-lg-2 .promo-text .field-promolink {
    position: absolute;
    right: 30px;
    top: 25%;
  }
}

@media only screen and (min-width: 768px) {
  .promo.cta.col-md-4 .promo-text, .promo.cta.col-md-6 .promo-text {
    min-height: 335px;
    max-height: 335px;
  }
}

.promo.cta.col-md-4 .field-promolink a, .promo.cta.col-md-6 .field-promolink a {
  width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .promo.cta.col-md-4 .promo-text {
    padding: 60px 15px 30px;
  }
  .promo.cta.col-md-4 .promo-text .field-promotext {
    font-size: 20px;
  }
  .promo.cta.col-md-4 .promo-text .field-promotext2 {
    font-size: 16px;
    margin: 20px auto;
  }
  .promo.cta.col-md-4 .promo-text .field-promotext2 h6 {
    font-size: 16px;
  }
  .promo.cta.col-md-4 .promo-text .field-promolink a {
    font-size: 16px;
  }
}

.promo.cta.funds {
  margin-bottom: 30px;
  background: #FFFFFF;
  border: 1px solid #009639;
}

.promo.cta.funds .promo-text {
  padding: 60px 30px 0;
  background-color: transparent;
  border: 0;
}

@media only screen and (max-width: 767px) {
  .promo.cta.funds {
    margin-top: 30px;
  }
}

.promo.resource[class*="col-"] {
  padding: 0;
}

@media only screen and (max-width: 767px) {
  .promo.resource {
    margin-bottom: 30px;
  }
}

.promo.resource .component-content {
  border: 0;
}

.promo.resource .component-content .promo-text .field-promotext a {
  font-family: "CopernicusBook", arial, helvetica, sans-serif;
  color: #009639;
  text-decoration: none;
  font-size: 24px;
}

@media only screen and (max-width: 767px) {
  .promo.resource .component-content .promo-text .field-promotext a {
    font-size: 22px;
  }
}

.promo.resource .component-content .promo-text .login-required-lock {
  margin-left: 5px;
  color: #009639;
}

.promo.resource .component-content .promo-text .login-required-lock:after {
  font-size: inherit;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
}

.promo.resource .component-content:hover .field-promotext a, .promo.resource .component-content:hover .login-required-lock, .promo.resource .component-content:focus .field-promotext a, .promo.resource .component-content:focus .login-required-lock {
  color: #000000;
}

.promo h1, .promo h2, .promo h3, .promo h4, .promo h5, .promo h6 {
  color: #222;
}

.promo h1, .promo h2 {
  margin: 10px 0;
}

.promo h3, .promo h4 {
  margin: 5px 0;
}

.promo h5, .promo h6 {
  margin: 5px 0 0;
}

.promo p {
  margin: 20px 0;
}

.promo ul, .promo ol {
  padding-bottom: 5px;
  padding-top: 5px;
  margin-left: 10px;
}

.promo li {
  font-size: 16px;
  margin-left: 15px;
}

.promo ul li {
  list-style: disc;
  list-style-position: inside;
}

.promo ol li {
  list-style: decimal;
  list-style-position: inside;
}

.promo a {
  color: #009639;
  text-decoration: none;
  font-size: 1em;
}

.promo a:hover {
  color: #000000;
  text-decoration: underline;
}

.promo.absolute-bottom-link {
  position: relative;
}

.promo.absolute-bottom-link .field-promolink {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* breakpoints */
.promo.promo-hero {
  position: relative;
  text-align: center;
}

.promo.promo-hero.promo-hero-half {
  float: left;
  width: 50%;
}

@media only screen and (max-width: 991px) {
  .promo.promo-hero.promo-hero-half {
    float: none;
    width: 100%;
  }
}

.promo.promo-hero .field-promotext {
  display: inline-block;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  padding: 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}

.promo.promo-hero .field-promotext > a {
  color: inherit;
  text-decoration: none;
}

@media only screen and (max-width: 991px) {
  .promo.promo-hero .field-promotext {
    width: 100%;
    margin: 0;
  }
  .promo.promo-hero .field-promotext h1 {
    font-size: 24px;
    font-size: 2.4rem;
  }
  .promo.promo-hero .field-promotext h2, .promo.promo-hero .field-promotext h3, .promo.promo-hero .field-promotext h4 {
    font-size: 20px;
    font-size: 2rem;
  }
}

/* breakpoints */
.promo-shadow {
  max-width: 960px;
  padding: 0;
  border-top-width: 3px;
  border-top-color: #000000;
  border-style: solid;
  overflow: visible;
  position: relative;
}

.promo-shadow.promo {
  float: left;
}

.promo-shadow > .component-content {
  padding: 15px;
  margin: 0 0 30px 0;
}

@media only screen and (max-width: 991px) {
  .promo-shadow > .component-content {
    margin: 0 10px 30px 10px;
  }
}

.promo-shadow > .component-content:before, .promo-shadow > .component-content:after {
  opacity: 0.7;
  box-shadow: 0 17px 10px rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: -1;
  height: 20%;
  max-height: 100px;
  max-width: 460px;
  width: 47%;
  content: "";
  bottom: 10px;
}

.promo-shadow > .component-content:before {
  left: 2%;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.promo-shadow > .component-content:after {
  right: 2%;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}
