/* breakpoints */
.title {
  background: transparent;
}

.column-splitter .title[class*="col-"] {
  padding-left: 0;
}

.title h1, .title .field-title a {
  font-size: 24px;
  color: #000000;
  line-height: normal;
  display: block;
  text-decoration: none;
  /*cursor: pointer;
        &:hover { 
            color: $title-color-active;
        }*/
  font-family: "ProximaBoldCondensed", arial, helvetica, sans-serif;
  font-size: 42px;
  color: #006747;
  text-transform: uppercase;
}

.title.page-header {
  position: relative;
  top: -5px;
}

@media only screen and (max-width: 767px) {
  .title.page-header {
    top: 20px;
  }
}
