@charset "UTF-8";
/* breakpoints */
.page-list {
  background-color: transparent;
  /* breakpoints */
  /* breakpoints */
  /* breakpoints */
}

.page-list .item {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  background: transparent;
  padding: 15px;
  overflow: hidden;
}

.page-list .item:last-child {
  border-width: 0;
}

.page-list .item .field-title {
  color: #000;
}

.page-list .field-title {
  font-weight: bold;
}

.page-list.general-landing {
  padding: 0;
  margin-top: 10px;
}

.page-list.general-landing .item {
  border-bottom: 0;
  width: 33%;
  float: left;
  padding: 0 0 15px 15px;
  /*min-height:450px;
        max-height:450px;
        overflow:hidden;
        we have to move this for pages that will not have an image*/
  margin-bottom: 30px;
}

@media only screen and (max-width: 991px) {
  .page-list.general-landing .item {
    width: 100%;
    float: none;
  }
}

.page-list.general-landing .item .field-image img {
  width: 100%;
  height: auto;
}

.page-list.general-landing .item .field-title {
  font-weight: normal;
  font-family: "CopernicusBook", arial, helvetica, sans-serif;
  color: #009639;
  line-height: 1.4;
  margin-top: 8px;
}

.page-list.general-landing .item .field-title a {
  color: inherit;
  border-bottom: 0;
  font-size: 22px;
}

@media only screen and (max-width: 767px) {
  .page-list.general-landing .item .field-title a {
    font-size: 20px;
  }
}

.page-list.general-landing .item .login-required-lock:after {
  font-size: inherit;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  margin-left: 5px;
  color: #009639;
}

.page-list.general-landing .item .field-excerpt {
  min-height: 140px;
  max-height: 140px;
  overflow: hidden;
}

.page-list.general-landing .item:hover .field-title, .page-list.general-landing .item:hover .login-required-lock:after, .page-list.general-landing .item:focus .field-title, .page-list.general-landing .item:focus .login-required-lock:after {
  color: #000000;
}

.page-list.upcoming-events {
  padding: 0;
}

.page-list.upcoming-events .item .field-redirecturl:after {
  font-size: inherit;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  margin-left: 10px;
}

.page-list a {
  background-color: transparent;
  text-decoration: none;
  font-size: 1em;
  color: #000000;
  border-bottom: 1px solid #000000;
}

.page-list a:hover {
  color: #000000;
  text-decoration: none;
}
