/* breakpoints */
.fund-featured .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  padding: 15px;
}

.fund-featured .card .card-title, .fund-featured .card > a, .fund-featured .card .card-text, .fund-featured .card .card-link {
  text-align: center;
}

.fund-featured .card .card-title {
  font-size: 24px;
  line-height: 30px;
  font-family: "CopernicusBook", arial, helvetica, sans-serif;
  color: #009639;
}

.fund-featured .card > a {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .fund-featured .card > a {
    min-height: 60px;
  }
}

.fund-featured .card > a strong {
  font-size: 16px;
}

.fund-featured .card > a:hover, .fund-featured .card > a:focus {
  text-decoration: underline;
}

.fund-featured .card .card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0 -15px;
}

.fund-featured .card .card-body table {
  width: 100%;
  margin-top: 15px;
}

.fund-featured .card .card-body table th, .fund-featured .card .card-body table td {
  font-size: 14px;
}

.fund-featured .card .card-body table th {
  font-weight: normal;
  padding-left: 10px;
  padding-right: 10px;
}

.fund-featured .card .card-body .card-text {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  margin: 10px auto;
}

@media only screen and (min-width: 768px) {
  .fund-featured .card .card-body .card-text {
    min-height: 50px;
  }
}

.fund-featured .card .card-body .card-text span:first-of-type, .fund-featured .card .card-body .card-text span:last-of-type {
  font-size: 20px;
}

.fund-featured .card .card-body .card-text span:first-of-type {
  color: #009639;
}

.fund-featured .card .card-body .card-link {
  padding-left: 15px;
  padding-right: 15px;
}

.fund-featured .card .card-body .card-link a i:before {
  margin-right: 5px;
}

@media only screen and (max-width: 991px) {
  .fund-featured .card {
    margin: 15px auto;
  }
}
