/* breakpoints */
.link {
  background: transparent;
  /* breakpoints */
}

.link a {
  background-color: transparent;
  text-decoration: none;
  font-size: 1em;
  color: #000000;
  border-bottom: 1px solid #000000;
}

.link a:hover {
  color: #000000;
  text-decoration: none;
}

.link.btn-default {
  background-color: #FFFFFF;
}

.link.btn-default a {
  color: #009639;
  border-bottom: 0;
}

.link.btn-default:hover, .link.btn-default:focus {
  background-color: #009639;
}

.link.btn-default:hover a, .link.btn-default:focus a {
  color: #fff;
}

#header .link {
  padding: 5px 0;
  text-align: center;
  border-left: 1px solid #004d33;
}

#header .link a {
  font-family: "ProximaBold", arial, helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  border-bottom: 0;
  position: relative;
  left: -12px;
  top: -1px;
}
