@charset "UTF-8";
/* breakpoints */
.list-pagination {
  background: transparent;
}

.list-pagination nav {
  font-size: 16px;
}

.list-pagination nav > span, .list-pagination nav > a {
  display: inline-block;
  padding: 4px 8px;
  margin: 0 2px;
  border: 1px solid #b7b7b7;
  font-size: 18px;
  font-family: "ProximaBold", arial, helvetica, sans-serif;
  text-decoration: none;
  color: #009639;
  width: 36px;
  height: 36px;
  /*&:focus {
                text-decoration: none;
                color: $list-pagination-active-color;
            }*/
}

.list-pagination nav > span:hover, .list-pagination nav > span:focus, .list-pagination nav > a:hover, .list-pagination nav > a:focus {
  color: #fff;
  background: #009639;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-color: #b7b7b7;
}

.list-pagination nav > span:not(.sxa-paginationnumber), .list-pagination nav > a:not(.sxa-paginationnumber) {
  position: relative;
  top: 4px;
  color: transparent;
  line-height: 0;
}

.list-pagination nav > span:not(.sxa-paginationnumber):before, .list-pagination nav > a:not(.sxa-paginationnumber):before {
  display: block !important;
  line-height: 1;
  position: relative;
  top: 5px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  content: "";
}

.list-pagination nav > span:first-child:before, .list-pagination nav > a:first-child:before {
  font-size: inherit;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  content: "";
}

.list-pagination nav > span:nth-child(2):before, .list-pagination nav > a:nth-child(2):before {
  font-size: inherit;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  content: "";
}

.list-pagination nav > span:last-child:before, .list-pagination nav > a:last-child:before {
  font-size: inherit;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  content: "";
}

.list-pagination nav > span:not(.inactive):before, .list-pagination nav > a:not(.inactive):before {
  color: #009639;
}

.list-pagination nav > span:not(.inactive):hover:before, .list-pagination nav > span:not(.inactive):focus:before, .list-pagination nav > a:not(.inactive):hover:before, .list-pagination nav > a:not(.inactive):focus:before {
  color: #fff;
}

.list-pagination nav > span.active {
  background: #009639;
  color: #fff;
  border: 1px solid #b7b7b7;
}

.list-pagination nav > span.inactive {
  color: transparent;
}

.list-pagination nav > span.inactive:before {
  color: #b7b7b7;
}

.list-pagination nav > span.inactive:hover {
  background: none;
  border: 1px solid #b7b7b7;
}
