@charset "UTF-8";
/*$font-small:11px;
$font-normal:13px;
$font-medium:16px;*/
/*$font-small:11px;
$font-normal:13px;
$font-medium:16px;*/
/* breakpoints */
.plain-html .button-default, .plain-html .btn-default, .plain-html .default {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #009639;
  background: #FFFFFF;
  color: #009639;
  text-transform: uppercase;
}

.plain-html .button-default:hover, .plain-html .btn-default:hover, .plain-html .default:hover {
  color: #fff;
  background: #009639;
  border: 2px solid #009639;
}

.plain-html .button-success, .plain-html .btn-success, .plain-html .success {
  font-size: 12px;
  font-size: 1.2rem;
  border-width: 1px;
  border-style: solid;
  border-color: #c2c2c2;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  background: #a0ce4e;
  color: #fff;
  font-weight: bold;
}

.plain-html .button-success:hover, .plain-html .btn-success:hover, .plain-html .success:hover {
  color: #fff;
  background: #92be43;
}

.plain-html .button-warning, .plain-html .btn-warning, .plain-html .warning {
  font-size: 12px;
  font-size: 1.2rem;
  border-width: 1px;
  border-style: solid;
  border-color: #c2c2c2;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  background: #bc4526;
  color: #fff;
  font-weight: bold;
}

.plain-html .button-warning:hover, .plain-html .btn-warning:hover, .plain-html .warning:hover {
  color: #fff;
  background: #c34e30;
}

.plain-html .btn-block {
  width: 100%;
}

.plain-html table {
  height: auto !important;
}

.plain-html table, .plain-html table tr, .plain-html table th, .plain-html table td {
  background: #FFFFFF;
  border-collapse: collapse;
  vertical-align: middle;
}

.plain-html table th, .plain-html table td {
  border-top: solid 1px #c2c2c2;
}

.plain-html table thead th {
  border-bottom: solid 2px #c2c2c2;
}

.plain-html table tr, .plain-html table th, .plain-html table td {
  padding: 5px;
}

.plain-html table caption {
  background-color: #d9d9d6;
  overflow: hidden;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 0;
}

.plain-html table tr {
  border: none;
}

.plain-html table th {
  font-size: 16px;
  font-weight: bold;
  padding: 7px;
}

.plain-html table th:first-child {
  border-left: 0;
}

.plain-html table td:first-child {
  border-left: 0;
}

.plain-html .table-sm th,
.plain-html .table-sm td {
  padding: 0.3rem;
}

.plain-html .table-bordered {
  border: 1px solid #c2c2c2;
}

.plain-html .table-bordered th,
.plain-html .table-bordered td {
  border: 1px solid #c2c2c2;
}

.plain-html .table-bordered thead th,
.plain-html .table-bordered thead td {
  border-bottom-width: 2px;
}

.plain-html .table-borderless th,
.plain-html .table-borderless td,
.plain-html .table-borderless thead th,
.plain-html .table-borderless tbody + tbody {
  border: 0;
}

.plain-html .table-striped tbody tr:nth-of-type(odd) {
  background-color: #d9d9d6;
}

.plain-html .table-striped tbody tr:nth-of-type(odd) th, .plain-html .table-striped tbody tr:nth-of-type(odd) td {
  background-color: #d9d9d6;
}

.plain-html .table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.plain-html .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  padding: 15px 0;
}

.plain-html .card .card-title, .plain-html .card strong, .plain-html .card .card-text, .plain-html .card .card-link {
  text-align: center;
}

.plain-html .card .card-title, .plain-html .card .card-text, .plain-html .card .card-link {
  padding-left: 15px;
  padding-right: 15px;
}

.plain-html .card .card-title {
  font-size: 24px;
  line-height: 30px;
}

.plain-html .card .card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.plain-html .card .card-body table {
  width: 100%;
  margin-top: 15px;
}

.plain-html .card .card-body table th, .plain-html .card .card-body table td {
  font-size: 14px;
}

.plain-html .card .card-body table th {
  font-weight: normal;
  padding-left: 10px;
  padding-right: 10px;
}

.plain-html .card .card-body .card-text {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  margin: 10px auto;
}

.plain-html .card .card-body .card-text span:first-of-type, .plain-html .card .card-body .card-text span:last-of-type {
  font-size: 20px;
}

.plain-html .card .card-body .card-text span:first-of-type {
  color: #009639;
}

.plain-html .card .card-body .card-link {
  padding-left: 15px;
  padding-right: 15px;
}

.plain-html .card .card-body .card-link .btn-default, .plain-html .card .card-body .card-link .button-default {
  font-size: 16px;
}

.plain-html .card .card-body .card-link .btn-default:before, .plain-html .card .card-body .card-link .button-default:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  font-size: 10px;
  position: relative;
  top: -2px;
}

@media only screen and (max-width: 991px) {
  .plain-html .card {
    margin: 15px auto;
  }
}
