/*$font-small:11px;
$font-normal:13px;
$font-medium:16px;*/
/* breakpoints */
/*$font-small:11px;
$font-normal:13px;
$font-medium:16px;*/
.social-media-share {
  background: transparent;
}

.social-media-share ul {
  overflow: hidden;
}

.social-media-share li {
  float: left;
  margin: 0 10px;
}

.social-media-share li:first-child {
  margin-left: 0;
}

.social-media-share li .fb_iframe_widget {
  display: block;
  margin-top: -2px;
}
