@charset "UTF-8";
/* breakpoints */
.button-default, .btn-default, .default {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #009639;
  background: #FFFFFF;
  color: #009639;
  text-transform: uppercase;
  font-size: 16px;
}

.button-default:hover, .button-default:focus, .btn-default:hover, .btn-default:focus, .default:hover, .default:focus {
  color: #fff;
  background: #009639;
  border: 2px solid #009639;
}

.button-success, .btn-success, .success {
  font-size: 12px;
  font-size: 1.2rem;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  background: #a0ce4e;
  color: #fff;
  font-weight: bold;
}

.button-success:hover, .button-success:focus, .btn-success:hover, .btn-success:focus, .success:hover, .success:focus {
  color: #fff;
  background: #92be43;
}

.button-danger, .btn-danger, .danger {
  font-size: 12px;
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  background: #FFFFFF;
  color: #6d3332;
  border: 2px solid #6d3332;
  text-transform: uppercase;
}

.button-danger:hover, .button-danger:focus, .btn-danger:hover, .btn-danger:focus, .danger:hover, .danger:focus {
  color: #fff;
  background: #6d3332;
}

.btn-block {
  width: 100%;
}

.btn-sm {
  margin: 3px 0;
  padding: 5px 10px;
  font-size: 14px;
}

.fund-finder {
  /*======================================
    Selectric v1.13.0
    ======================================*/
  /* Items box */
}

@media only screen and (min-width: 1200px) {
  .fund-finder {
    padding: 8px 15px 5px;
  }
  .fund-finder [class*="col-"] {
    padding-left: 0;
  }
  .fund-finder [class*="col-"]:first-child {
    padding-left: 15px;
  }
  .fund-finder h4 {
    padding-top: 3px;
    text-transform: uppercase;
  }
  .fund-finder .btn-sm {
    margin: 2px 0 3px;
  }
}

.fund-finder.toggle details[open] summary:before {
  content: none;
}

.fund-finder.toggle details[open] summary:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  font-size: 1.4em;
  color: #009639;
  position: absolute;
  right: 15px;
  top: 30%;
}

.fund-finder.toggle summary.toggle-header {
  width: 100%;
  background: transparent;
}

.fund-finder.toggle summary.toggle-header:before {
  content: none;
}

.fund-finder.toggle summary.toggle-header:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  font-size: 1.4em;
  color: #009639;
  position: absolute;
  right: 15px;
  top: 30%;
}

.fund-finder.toggle summary.toggle-header .toggle-label {
  float: left;
  padding: 20px 0;
}

.fund-finder.toggle [class*="col-"] {
  margin-bottom: 10px;
}

.fund-finder .selectric-wrapper {
  position: relative;
  cursor: pointer;
  width: 100%;
}

.fund-finder .selectric-responsive {
  width: 100%;
}

.fund-finder .selectric {
  border: 1px solid #c2c2c2;
  border-radius: 0;
  background: #FFFFFF;
  position: relative;
  overflow: hidden;
}

.fund-finder .selectric .label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 38px 0 10px;
  line-height: 38px;
  color: #000000;
  height: 38px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fund-finder .selectric .button {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 38px;
  height: 38px;
  line-height: 38px;
  background-color: #FFFFFF;
  color: #009639;
  text-align: center;
}

.fund-finder .selectric .button:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: #009639;
  border-bottom: none;
}

.fund-finder .selectric-focus .selectric {
  border-color: #c2c2c2;
}

.fund-finder .selectric-hover .selectric {
  border-color: #c2c2c2;
}

.fund-finder .selectric-hover .selectric .button {
  color: #009639;
}

.fund-finder .selectric-hover .selectric .button:after {
  border-top-color: #009639;
}

.fund-finder .selectric-open {
  z-index: 9999;
}

.fund-finder .selectric-open .selectric {
  border-color: #c2c2c2;
}

.fund-finder .selectric-open .selectric-items {
  display: block;
}

.fund-finder .selectric-disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fund-finder .selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;
}

.fund-finder .selectric-hide-select select {
  position: absolute;
  left: -100%;
}

.fund-finder .selectric-hide-select.selectric-is-native {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.fund-finder .selectric-hide-select.selectric-is-native select {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border: none;
  z-index: 1;
  box-sizing: border-box;
  opacity: 0;
}

.fund-finder .selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  background: none !important;
}

.fund-finder .selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}

.fund-finder .selectric-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #F8F8F8;
  border: 1px solid #c2c2c2;
  z-index: -1;
  box-shadow: 0 0 10px -6px;
}

.fund-finder .selectric-items .selectric-scroll {
  height: 100%;
  overflow: auto;
}

.fund-finder .selectric-above .selectric-items {
  top: auto;
  bottom: 100%;
}

.fund-finder .selectric-items ul, .fund-finder .selectric-items li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  min-height: 20px;
}

.fund-finder .selectric-items li {
  display: block;
  padding: 10px;
  color: #666;
  cursor: pointer;
}

.fund-finder .selectric-items li.selected {
  background: #f0f0f0;
  color: #000000;
}

.fund-finder .selectric-items li.highlighted {
  background: #D0D0D0;
  color: #000000;
}

.fund-finder .selectric-items li:hover {
  background: #D5D5D5;
  color: #000000;
}

.fund-finder .selectric-items .disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default !important;
  background: none !important;
  color: #666 !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fund-finder .selectric-items .selectric-group .selectric-group-label {
  font-weight: bold;
  padding-left: 10px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: none;
  color: #444;
}

.fund-finder .selectric-items .selectric-group.disabled li {
  filter: alpha(opacity=100);
  opacity: 1;
}

.fund-finder .selectric-items .selectric-group li {
  padding-left: 25px;
}
