/* breakpoints */
.login {
  /* breakpoints */
  background-color: transparent;
}

.login label {
  background: transparent;
  color: #000000;
}

.login input, .login button {
  display: inline-block;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #c2c2c2;
  border-radius: 0;
  color: #000000;
  font-weight: normal;
  padding: 8px 2%;
  clear: both;
  height: auto;
  font-size: 16px;
}

.login input:focus {
  border: 1px solid #c2c2c2;
}

.login input[type="submit"], .login input[type="reset"], .login input[type="button"], .login button {
  border: 1px solid #000000;
  padding: 5px 20px;
}

.login input[type="submit"]:hover, .login input[type="reset"]:hover, .login input[type="button"]:hover, .login button:hover {
  background: #f0f0f0;
}

.login input::-moz-focus-inner, .login button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.login input[type="text"] {
  font-size: 13px;
}

.login input[type="text"], .login input[type="email"], .login input[type="password"], .login textarea, .login select {
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  background: #fff;
  border: 1px solid #c2c2c2;
}

.login select {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  padding: 5px;
}

.login:not(.container-gray-background) h1, .login:not(.container-gray-background) h2, .login:not(.container-gray-background) h3, .login:not(.container-gray-background) h4, .login:not(.container-gray-background) h5, .login:not(.container-gray-background) h6 {
  text-transform: uppercase;
  border-bottom: 3px solid #000000;
  margin-bottom: 10px;
}

.login table {
  width: 100%;
}

.login table input, .login table label {
  display: inline-block;
  margin: 0;
}

.login table table, .login table tr, .login table th, .login table table td {
  background: transparent;
}

.login table tr, .login table tbody {
  background-color: transparent !important;
}

.login table td {
  padding: 5px;
  border: 0;
}

.login table td.sxa-validation {
  padding: 0;
}

.login table td.sxa-validation .field-validation-error {
  color: #6d3332;
  font-size: 14px;
}

.login table td.sxa-remember-me {
  font-size: 16px;
  margin-bottom: 5px;
}

.login table input[type='text'], .login table input[type='password'],
.login table input[type="text"], .login table input[type="password"] {
  min-height: 33px;
  font-size: 16px;
}

.login table input[type="submit"], .login table input[type="reset"], .login table input[type="button"], .login table button {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #009639;
  background: #FFFFFF;
  color: #009639;
}

.login table input[type="submit"]:hover, .login table input[type="reset"]:hover, .login table input[type="button"]:hover, .login table button:hover {
  color: #fff;
  background: #009639;
  border: 2px solid #009639;
}

.login table input[type="submit"]:hover, .login table input[type="reset"]:hover, .login table input[type="button"]:hover, .login table button:hover {
  color: #fff;
  background: #009639 !important;
  border: 2px solid #009639;
}

.login table .request-password {
  text-align: right;
}

.login table .request-password a {
  color: #009639;
  text-decoration: none;
}

.login table .request-password a:hover, .login table .request-password a:focus {
  color: #000000;
}

.login table .sxa-login-failed {
  color: #6d3332;
}

.login table .field-validation-error .field-validation-error {
  color: #6d3332;
  font-size: 14px;
}
