@charset "UTF-8";
/* breakpoints */
.page-list {
  background-color: transparent;
  /* breakpoints */
  /* breakpoints */
  /* breakpoints */
}

.page-list .item {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  background: transparent;
  padding: 15px;
  overflow: hidden;
}

.page-list .item:last-child {
  border-width: 0;
}

.page-list .item .field-title {
  color: #000;
}

.page-list .field-title {
  font-weight: bold;
}

.page-list.general-landing {
  padding: 0;
  margin-top: 10px;
}

.page-list.general-landing .item {
  border-bottom: 0;
  width: 33%;
  float: left;
  /*.field-excerpt {
            @include respond-to(desktop) {
                min-height:160px;
                max-height:160px;
                overflow:hidden;
            }
        }*/
}

@media only screen and (min-width: 992px) {
  .page-list.general-landing .item {
    padding: 0 0 15px 15px;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  .page-list.general-landing .item {
    min-height: 415px;
    max-height: 415px;
  }
}

@media only screen and (max-width: 767px) {
  .page-list.general-landing .item {
    width: 100%;
    float: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .page-list.general-landing .item {
    width: 50%;
  }
}

.page-list.general-landing .item .field-image img, .page-list.general-landing .item .field-listimage img {
  width: 100%;
  height: auto;
}

.page-list.general-landing .item .field-title {
  font-weight: normal;
  font-family: "CopernicusBook", arial, helvetica, sans-serif;
  color: #009639;
}

.page-list.general-landing .item .field-title a {
  color: inherit;
  border-bottom: 0;
  font-size: 24px;
}

@media only screen and (max-width: 767px) {
  .page-list.general-landing .item .field-title a {
    font-size: 22px;
  }
}

.page-list.general-landing .item .navigation-required:after {
  font-size: inherit;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  margin-left: 5px;
  color: #009639;
}

.page-list.general-landing .item:hover .field-title, .page-list.general-landing .item:hover .navigation-required:after, .page-list.general-landing .item:focus .field-title, .page-list.general-landing .item:focus .navigation-required:after {
  color: #000000;
}

.page-list.general-landing.bridge-gap .item {
  min-height: 430px;
  max-height: 430px;
}

@media only screen and (min-width: 768px) {
  .page-list.general-landing.perspectives .item {
    min-height: 450px;
    max-height: 450px;
    overflow: hidden;
  }
}

.page-list.general-landing.perspectives .item .wrap-labels {
  line-height: 1;
  margin-bottom: 5px;
}

.page-list.general-landing.perspectives .item .wrap-labels small {
  font-family: "ProximaBold", arial, helvetica, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.page-list.general-landing.perspectives .item:first-of-type {
  padding: 0;
  width: auto;
  margin-left: 15px;
  margin-right: 15px;
}

@media only screen and (max-width: 767px) {
  .page-list.general-landing.perspectives .item:first-of-type {
    border-bottom: 1px solid #b7b7b7;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .page-list.general-landing.perspectives .item:first-of-type {
    line-height: 0.85;
  }
}

@media only screen and (min-width: 768px) {
  .page-list.general-landing.perspectives .item:first-of-type {
    min-height: 100%;
    max-height: 100%;
    overflow: hidden;
    background-color: #d9d9d6;
  }
  .page-list.general-landing.perspectives .item:first-of-type .field-image, .page-list.general-landing.perspectives .item:first-of-type .field-listimage, .page-list.general-landing.perspectives .item:first-of-type .wrap-content {
    float: left;
  }
  .page-list.general-landing.perspectives .item:first-of-type .field-image, .page-list.general-landing.perspectives .item:first-of-type .field-listimage {
    width: 66.3%;
    line-height: 0.85;
  }
  .page-list.general-landing.perspectives .item:first-of-type .field-image img, .page-list.general-landing.perspectives .item:first-of-type .field-listimage img {
    line-height: 0.85;
  }
  .page-list.general-landing.perspectives .item:first-of-type .wrap-content {
    width: 32.7%;
    padding: 15px;
  }
}

.page-list.general-landing.perspectives .item:first-of-type .wrap-labels .field-labelsuffix {
  color: #009639;
}

.page-list.general-landing.perspectives .item:first-of-type .field-title {
  color: #000000;
}

.page-list.general-landing.perspectives .item:first-of-type .field-title a {
  color: inherit;
}

.page-list.general-landing.perspectives .item:first-of-type .field-title a:hover, .page-list.general-landing.perspectives .item:first-of-type .field-title a:focus {
  color: #009639;
}

.page-list.general-landing.perspectives .item:first-of-type .field-excerpt {
  display: none;
}

@media only screen and (max-width: 767px) {
  .page-list.general-landing.audio-insights .item {
    width: 100%;
    float: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .page-list.general-landing.audio-insights .item {
    width: 50%;
    float: left;
  }
}

@media only screen and (min-width: 992px) {
  .page-list.general-landing.audio-insights .item {
    min-height: 360px;
    max-height: 360px;
    overflow: hidden;
  }
}

.page-list.general-landing.audio-insights .item .wrap-labels {
  font-size: 14px;
}

.page-list.general-landing.audio-insights .item .wrap-labels .publish-date {
  margin-right: 5px;
}

.page-list.general-landing.audio-insights .item:hover .field-title, .page-list.general-landing.audio-insights .item:focus .field-title {
  color: #009639;
}

@media only screen and (min-width: 1200px) {
  .page-list.general-landing.replays .items {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.page-list.general-landing.replays .item {
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .page-list.general-landing.replays .item {
    min-height: 300px;
    max-height: 300px;
    overflow: hidden;
    width: 50%;
    float: left;
    padding: 0;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 1200px) {
  .page-list.general-landing.replays .item {
    width: 33.3%;
  }
}

.page-list.general-landing.replays .item .wrap-content {
  background-color: #FFFFFF;
  padding: 15px;
  margin: 0 15px 30px 15px;
  float: left;
  box-shadow: 0px 2px 5.76px 0.24px rgba(0, 0, 0, 0.4);
}

.page-list.general-landing.replays .item .wrap-content .event-date {
  font-family: "ProximaBold", arial, helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .page-list.general-landing.replays .item .wrap-content .field-title a {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  .page-list.general-landing.replays .item .wrap-content .field-title a {
    font-size: 22px;
  }
}

@media only screen and (min-width: 768px) {
  .page-list.general-landing.replays .item .wrap-content .field-excerpt {
    min-height: 115px;
    max-height: 115px;
    overflow: hidden;
  }
}

@media only screen and (min-width: 992px) {
  .page-list.general-landing.replays .item .wrap-content .field-excerpt {
    min-height: 140px;
    max-height: 140px;
  }
}

@media only screen and (min-width: 1200px) {
  .page-list.general-landing.replays .item .wrap-content .field-excerpt {
    min-height: 110px;
    max-height: 110px;
  }
}

.page-list.upcoming-events {
  padding: 0;
}

.page-list.upcoming-events .item {
  line-height: 1;
  border-bottom: 0;
  padding: 0 15px;
}

.page-list.upcoming-events .item .wrap-item {
  padding: 15px 0;
  border-bottom: 1px solid #b7b7b7;
}

.page-list.upcoming-events .item .wrap-item .wrap-labels {
  font-family: "ProximaBold", arial, helvetica, sans-serif;
  font-size: 14px;
  margin-bottom: 20px;
}

.page-list.upcoming-events .item .wrap-item .wrap-labels .event-register {
  margin-left: 25px;
  text-transform: uppercase;
  background-color: #000;
  padding: 5px 10px;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  /*arrow left:
                    https://stackoverflow.com/questions/20589780/css-triangle-before-element
                    https://codepen.io/zaurtigiev/pen/pbKaZE */
}

.page-list.upcoming-events .item .wrap-item .wrap-labels .event-register a {
  color: #fff;
}

.page-list.upcoming-events .item .wrap-item .wrap-labels .event-register:before {
  content: "";
  border-style: solid;
  border-width: 12px 12px 12px 0;
  border-color: transparent #000 transparent transparent;
  display: inline-block;
  position: absolute;
  left: -10px;
  top: 0;
}

.page-list.upcoming-events .item .wrap-item .wrap-title {
  color: #009639;
}

.page-list.upcoming-events .item .wrap-item .wrap-title a {
  color: #009639;
  border-bottom: 0;
}

.page-list.upcoming-events .item .wrap-item .wrap-title:hover, .page-list.upcoming-events .item .wrap-item .wrap-title:focus {
  color: #000000;
}

.page-list.upcoming-events .item .wrap-item .wrap-title:hover a, .page-list.upcoming-events .item .wrap-item .wrap-title:focus a {
  color: #000000;
}

.page-list.upcoming-events .item .wrap-item .wrap-title .field-title, .page-list.upcoming-events .item .wrap-item .wrap-title .field-redirecturl {
  line-height: 1.5;
  font-family: "CopernicusBook", arial, helvetica, sans-serif;
  font-weight: normal;
  font-size: 24px;
}

@media only screen and (max-width: 767px) {
  .page-list.upcoming-events .item .wrap-item .wrap-title .field-title, .page-list.upcoming-events .item .wrap-item .wrap-title .field-redirecturl {
    font-size: 22px;
  }
}

.page-list.upcoming-events .item .wrap-item .wrap-title .navigation-required:after {
  font-size: inherit;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  margin-left: 10px;
}

.page-list.upcoming-events .item .wrap-item .field-eventtime {
  margin-top: 10px;
}

.page-list.upcoming-events .item:last-of-type .wrap-item {
  border-bottom: 0;
}

.page-list a {
  background-color: transparent;
  text-decoration: none;
  font-size: 1em;
  color: #000000;
  border-bottom: 1px solid #000000;
}

.page-list a:hover {
  color: #000000;
  text-decoration: none;
}
