@charset "UTF-8";
/* breakpoints */
.button-default, .btn-default, .default {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #009639;
  background: #FFFFFF;
  color: #009639;
  text-transform: uppercase;
  font-size: 16px;
}

.button-default:hover, .button-default:focus, .btn-default:hover, .btn-default:focus, .default:hover, .default:focus {
  color: #fff;
  background: #009639;
  border: 2px solid #009639;
}

.button-success, .btn-success, .success {
  font-size: 12px;
  font-size: 1.2rem;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  background: #a0ce4e;
  color: #fff;
  font-weight: bold;
}

.button-success:hover, .button-success:focus, .btn-success:hover, .btn-success:focus, .success:hover, .success:focus {
  color: #fff;
  background: #92be43;
}

.button-danger, .btn-danger, .danger {
  font-size: 12px;
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  background: #FFFFFF;
  color: #6d3332;
  border: 2px solid #6d3332;
  text-transform: uppercase;
}

.button-danger:hover, .button-danger:focus, .btn-danger:hover, .btn-danger:focus, .danger:hover, .danger:focus {
  color: #fff;
  background: #6d3332;
}

.btn-block {
  width: 100%;
}

.btn-sm {
  margin: 3px 0;
  padding: 5px 10px;
  font-size: 14px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../Images/overlay-bg.png);
  z-index: 9999;
  display: none;
  width: 100%;
  /*&.component {
        margin: 0;
    }*/
  /*.overlay-close-link:focus {
        color: #cccccc;
    }
    .overlay-close-link:hover {
        color: #cccccc;
    }*/
}

.overlay > .component-content {
  border-radius: 5px;
  display: block;
  position: absolute;
  background-color: #FFFFFF;
  padding: 10px;
  max-width: 90%;
  background: #f0f0f0;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  overflow-x: hidden;
}

@media only screen and (max-width: 991px) {
  .overlay > .component-content {
    max-width: 100%;
    left: 50%;
    right: -48%;
  }
}

.overlay > .component-content .component.image img {
  width: 100%;
}

.overlay .overlay-inner {
  min-width: 25px;
  max-height: inherit;
  height: inherit;
}

@media only screen and (max-width: 767px) {
  .overlay .overlay-inner {
    overflow-y: auto;
  }
}

.overlay .overlay-inner.overlay-percent {
  max-height: 100%;
  height: auto;
}

.overlay .overlay-inner #InnerCenter {
  width: auto;
  height: auto;
}

.overlay .overlay-inner .container {
  width: 100%;
}

.overlay .overlay-inner > img {
  width: 100%;
}

.overlay .overlay-inner:focus {
  border: 1px solid #cccccc;
}

.overlay .overlay-close {
  cursor: pointer;
  font-size: 1.4em;
  position: absolute;
  top: 20px;
  right: 25px;
  /*&:hover {
            &:before {
                background: #cccccc;
            }
        }*/
}

@media only screen and (max-width: 380px) {
  .overlay .overlay-close {
    font-size: 16px;
  }
}

.overlay .overlay-close:before {
  content: "ï€";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.overlay .overlay-close a {
  display: block;
  text-indent: -9999px;
}

.overlay .overlay-close-link {
  text-decoration: none;
}

.overlay .sitecore-form {
  padding: 0 30px;
}

.overlay .sitecore-form .row {
  margin-left: 0;
  margin-right: 0;
}

.overlay .sitecore-form .row .rich-text.overlay-title {
  padding: 15px !important;
}

/* this css class is used on overlay page */
.overlay-page {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../Images/overlay-bg.png);
  z-index: 9999;
  text-align: center;
  width: 100%;
  margin: 0;
}

.overlay-page > .component-content {
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
  background-color: #E6E6E6;
  border-radius: 5px;
  position: relative;
  padding: 10px 10px 25px;
  margin: 100px 60px 60px;
  max-width: 90%;
  background: #f0f0f0;
}

.overlay-page > .component-content .component {
  margin: 0;
}

.overlay-page > .component-content .component.image img {
  width: 100%;
}

.overlay-page .overlay-inner {
  min-width: 25px;
  height: inherit;
  max-height: inherit;
  min-height: 135px;
  overflow: auto;
}

.overlay-page .overlay-inner.overlay-percent {
  max-height: 100%;
  height: auto;
}

.overlay-page .overlay-inner.overlay-percent.edit {
  max-height: inherit;
}

.overlay-page .overlay-inner .container {
  width: 100%;
}

.overlay-page .overlay-inner:focus {
  border: 1px solid #cccccc;
}

.overlay-page .overlay-close {
  bottom: 8px;
  color: #000;
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  right: -5px;
  bottom: -15px;
}

.overlay-page .overlay-close-link:focus {
  color: #cccccc;
}

.overlay-page .overlay-close-link:hover {
  color: #cccccc;
}

.overlay-page .overlay-close-link {
  text-decoration: none;
}

#wrapper {
  overflow: hidden;
}

#wrapper.overlay-page {
  margin-bottom: -80px;
}

body.preview .overlay-page {
  position: fixed;
}

.overlay-page .main {
  width: 100%;
}

.on-page-editor .overlay .overlay-inner {
  margin: auto;
}

.on-page-editor .overlay-page {
  z-index: 9000;
}
