/* breakpoints */
.boxed {
  box-sizing: border-box;
  margin: 20px 0;
}

@media only screen and (min-width: 768px) {
  .boxed {
    padding: 10px;
  }
}

@media only screen and (max-width: 380px) {
  .boxed {
    padding: 10px;
  }
}

.boxed > div {
  max-width: 1170px;
  margin: 0 auto !important;
}

/* breakpoints */
.component-content-clearfix .component-content:after {
  content: "";
  display: table;
  clear: both;
}

.component-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.highlighted-top {
  background: #ffffff;
  border-top-width: 3px;
  border-top-color: #15909c;
  border-style: solid;
  padding: 25px;
  margin: 0;
}

.highlighted-top h1, .highlighted-top h2, .highlighted-top h3, .highlighted-top h4 {
  margin: 0 0 10px 0;
}

.highlighted-bottom {
  background: #ffffff;
  border-bottom-width: 3px;
  border-bottom-color: #15909c;
  border-style: solid;
  padding: 25px;
  margin: 0;
}

.highlighted-bottom h1, .highlighted-bottom h2, .highlighted-bottom h3, .highlighted-bottom h4 {
  margin: 0 0 10px 0;
}

.highlighted-left {
  background: #ffffff;
  border-left-width: 3px;
  border-left-color: #15909c;
  border-style: solid;
  padding: 25px;
  margin: 0;
}

.highlighted-left h1, .highlighted-left h2, .highlighted-left h3, .highlighted-left h4 {
  margin: 0 0 10px 0;
}

.highlighted-right {
  background: #ffffff;
  border-right-width: 3px;
  border-right-color: #15909c;
  border-style: solid;
  padding: 25px;
  margin: 0;
}

.highlighted-right h1, .highlighted-right h2, .highlighted-right h3, .highlighted-right h4 {
  margin: 0 0 10px 0;
}

.indent {
  margin: 0 60px;
}

.indent-top {
  margin-top: 20px;
}

.indent-bottom {
  margin-bottom: 20px;
}

/* breakpoints */
.link-button .button-default, .link-button .btn-default, .link-button .default, .link-button .btn-white {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #009639;
  background: #FFFFFF;
  color: #009639;
  text-transform: uppercase;
  font-size: 16px;
}

.link-button .button-default:hover, .link-button .button-default:focus, .link-button .btn-default:hover, .link-button .btn-default:focus, .link-button .default:hover, .link-button .default:focus, .link-button .btn-white:hover, .link-button .btn-white:focus {
  color: #fff;
  background: #009639;
  border: 2px solid #009639;
  text-decoration: none;
}

.link-button .button-success, .link-button .btn-success, .link-button .success {
  font-size: 12px;
  font-size: 1.2rem;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  background: #a0ce4e;
  color: #fff;
  font-weight: bold;
}

.link-button .button-success:hover, .link-button .button-success:focus, .link-button .btn-success:hover, .link-button .btn-success:focus, .link-button .success:hover, .link-button .success:focus {
  color: #fff;
  background: #92be43;
}

.link-button .button-danger, .link-button .btn-danger, .link-button .danger {
  font-size: 12px;
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  background: #FFFFFF;
  color: #6d3332;
  border: 2px solid #6d3332;
  text-transform: uppercase;
}

.link-button .button-danger:hover, .link-button .button-danger:focus, .link-button .btn-danger:hover, .link-button .btn-danger:focus, .link-button .danger:hover, .link-button .danger:focus {
  color: #fff;
  background: #6d3332;
}

.link-button .button-primary, .link-button .btn-primary, .link-button .btn-green {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #009639;
  background: #009639;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
}

.link-button .button-primary:hover, .link-button .button-primary:focus, .link-button .btn-primary:hover, .link-button .btn-primary:focus, .link-button .btn-green:hover, .link-button .btn-green:focus {
  color: #009639;
  background: #FFFFFF;
  border: 2px solid #009639;
  text-decoration: none;
}

.link-button .btn-block {
  width: 100%;
}

.link-button .btn-sm {
  margin: 3px 0;
  padding: 5px 10px;
  font-size: 14px;
}

.promoted-box {
  border: none !important;
}

.position-left, .position-left * {
  text-align: left !important;
}

.position-right, .position-right * {
  text-align: right !important;
}

.position-center, .position-center * {
  text-align: center !important;
}

/* breakpoints */
.cover-background > .component-content, .fix-background > .component-content, .parallax-background > .component-content {
  background-repeat: no-repeat;
  background-size: cover;
}

.fix-background > .component-content {
  background-position: left top;
  background-attachment: fixed;
  min-height: 240px;
}

.parallax-background > .component-content {
  background-position: 50% 0;
  background-attachment: fixed;
  min-height: 240px;
}

@media only screen and (max-width: 767px) {
  .parallax-background > .component-content {
    background-attachment: scroll;
  }
}

.container-gray-background {
  background: #f0f0f0;
}

.container-clean-background {
  background: #FFFFFF;
}

.container-dark-background {
  background: #3d3d3d;
}

.container-color-background {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#009639+0,006c46+100,006c46+100 */
  background: #009639;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #009639 0%, #006c46 100%, #006c46 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#009639), color-stop(100%, #006c46), to(#006c46));
  background: linear-gradient(to right, #009639 0%, #006c46 100%, #006c46 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009639', endColorstr='#006c46',GradientType=1 );
  /* IE6-9 */
}

.container-green-background-left-to-right {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#009639+0,006c46+100,006c46+100 */
  background: #009639;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #009639 0%, #006c46 100%, #006c46 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#009639), color-stop(100%, #006c46), to(#006c46));
  background: linear-gradient(to right, #009639 0%, #006c46 100%, #006c46 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009639', endColorstr='#006c46',GradientType=1 );
  /* IE6-9 */
}

.container-green-background-top-to-bottom {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#009639+0,006747+90,006747+100 */
  background: #009639;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #009639 0%, #006747 90%, #006747 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#009639), color-stop(90%, #006747), to(#006747));
  background: linear-gradient(to bottom, #009639 0%, #006747 90%, #006747 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009639', endColorstr='#006747',GradientType=0 );
  /* IE6-9 */
}
