@import "../../abstracts/vars";
@import "../../abstracts/mixins";
@import "../../base/fontawesome/font-awesome-mix-var";
.page-selector {
    text-align: center;
    padding: 10px 0 0 0;
    .page-selector-list {
        li {
            display: inline-block;
            vertical-align: middle;
            //margin: 0px 8px;
            height:36px;
            a {
                text-decoration: none;
                //font-weight: bold;
                //font-size: 1em;
                display: inline-block;
                margin: 0 4px;
                padding: 4px 8px;
                border:1px solid $list-pagination-active-border;
                font-size:$font-medium;
                @include proximabold();
                color:$text-green;
                width:36px;
                height:36px;
                &:not(.inactive) {
                    &:before {
                        color:$text-green;
                    }
                    &:hover, &:focus {
                        color: $search-pagination-hover-color;
                        background: $search-pagination-hover-bg;
                        &:before {
                            color: $search-pagination-hover-color;
                        }
                    }
                }
                &.active {
                    background: $search-pagination-hover-bg;
                    color: $search-pagination-hover-color;
                }
            }

            &.inactive {
                a {
                    color: $text-disabled;
                    cursor: default;
                    &:before {
                        color:$text-disabled;
                    }
                    &:hover, &:focus {
                        background: $search-pagination-bg;
                        &:before {
                            color:$text-disabled;
                        }
                    }
                }
            }
            &.page-selector-item-first, &.page-selector-item-previous, &.page-selector-item-next, &.page-selector-item-last {
                a {
                    color:transparent !important;
                    line-height:0;
                    &:before {
                        display:block !important;
                        line-height:1;
                        position:relative;
                        top:5px;
                        font-size:inherit;
                        @include fa-icon();
                        font-weight:bold;
                    }
                }
            }
            &.page-selector-item-first {
                a {
                    &:before {
                        content: $fa-var-angle-double-left;
                    }
                }
            }
             &.page-selector-item-previous {
                a {
                    &:before {
                        content: $fa-var-angle-left;
                    }
                }
            }
             &.page-selector-item-next {
                a {
                    &:before {
                        content: $fa-var-angle-right;
                    }
                }
            }
             &.page-selector-item-last {
                a {
                    &:before {
                        content: $fa-var-angle-double-right;
                    }
                }
            }
        }
    }
    /*a {
        text-decoration: none;
        font-weight: bold;
        font-size: 1em;
    }
    .page-selector-item-link {
        @include border-basic();
        display: block;
        text-decoration: none;
        font-weight: normal;
        height: 28px;
        line-height: 22px;
        padding: 2px 9px;
        margin-left: 5px;
        &.active {
            font-weight: bold;
            color: $search-pagination-hover-color;
            border: 1px solid $search-pagination-hover-border;
            background: $search-pagination-hover-bg;
        }
        &:hover {
            color: $search-pagination-hover-color;
            border: 1px solid $search-pagination-hover-border;
            background: $search-pagination-hover-bg;
        }
        &.inactive {
            color: $text-disabled;
        }
    }*/
}
