.page-size {
    @import "../reset/inputs";
    @include respond-to(mobile-large) {
        padding:0;
        label {display:none}
    }
    @include respond-to(tablet) {
        text-align:right;
    }
    select {
        max-width: 100px;
        width: auto;
    }
}
