.search-results-count {
    /*@include respond-to(mobile-large) {
        padding-left:0;
    }*/
    @include respond-to(mobile-large) {
        padding:0;
    }
    .progress {
        display: none;
    }
    .results-count {
        display: none;
    }
}
.on-page-editor {
    .results-count {
        display: inline-block;
    }
}
