$card-bg:#ffffff;
//$card-border-width:1px; 
//$card-border-color:gray;
//$card-border-radius:4px;
$card-spacer-x:15px;
$card-spacer-y:15px;
 
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $card-bg;
  background-clip: border-box;
  //border: $card-border-width solid $card-border-color;
  //@include border-radius($card-border-radius);
  padding:15px 0;

    .card-title, strong, .card-text, .card-link {
        text-align:center;
    }
    .card-title, .card-text, .card-link {
        padding-left:15px;
        padding-right:15px;
    }
    .card-title {
        font-size:24px;
        line-height:30px;
    }

    .card-body {
    // Enable `flex-grow: 1` for decks and groups so that card blocks take up
    // as much space as possible, ensuring footers are aligned to the bottom.
    flex: 1 1 auto;

        table {
            width:100%;
            margin-top:15px; 

            th, td {
                font-size:$font-small;
                //padding-left:$card-spacer-x;
                //padding-right:$card-spacer-x;
            }

            th {
                font-weight:normal;
                padding-left:10px;
                padding-right:10px;
            }
        }

        .card-text {
            padding-left:$card-spacer-x;
            padding-right:$card-spacer-x;
            font-size:$font-small;
            margin:$small-margin auto;
            span {
                &:first-of-type, &:last-of-type {
                    font-size:$font-big;
                }
                &:first-of-type {
                    color:$text-green;
                }
            }
        }

        .card-link {
            padding-left:$card-spacer-x;
            padding-right:$card-spacer-x;
            .btn-default, .button-default {
                font-size:$font-normal;
                &:before {
                    @include fa-icon();
                    content: $fa-var-plus;
                    font-size:10px;
                    position:relative;
                    top:-2px;
                }
            }
        }

    }
    
    @include respond-to(all-mobile) {
        margin:15px auto;
    }
}
