&.social {
    h1, h2, h3, h4, h5, h6 {
        border:0;
        text-indent:-9999px;
        line-height:0;
    }

     >.component-content {
         text-align:center;
         ul {
             margin:20px auto;
         }
        li {
            display:inline-flex;
            > a {
                padding:0 15px;
                text-indent:-9999px;
                line-height:0;
                color:transparent;
                &:before {
                    text-indent:0;
                    line-height:initial;
                    //display:block;
                    @include fa-icon();
                    font-size:1.4em;
                    color:$text-basic;
                }
                &:hover {
                    border-bottom:0;
                    &:before {
                        color:$text-green;
                    }
                }
                 &.facebook {
                    &:before {
                        content: $fa-var-facebook-square; 
                    }
                }
                 &.twitter {
                    &:before {
                        content: $fa-var-twitter; 
                    }
                }
                 &.linkedin {
                    &:before {
                        content: $fa-var-linkedin; 
                    }
                }
                 &.youtube {
                    &:before {
                        content: $fa-var-youtube-square; 
                    }
                }
                 &.rss {
                    &:before {
                        content: $fa-var-rss-square; 
                    }
                }
            }
             &.first {
                a {
                    &:before {
                        content: $fa-var-envelope; 
                    }
                }
            }
        }
     }
}