.tabs.tabs-5 {
    .tabs-heading {
        li {
            @include respond-to(large) {
                width:19.85%;
                text-align:center;
                .component.content {
                    margin:5px;
                    @include respond-to(tablet) {
                        padding:5px;
                    }
                    @include respond-to(desktop) {
                        padding:5px 25px;
                    }
                }
            }
        }
    }
}