@import "../../abstracts/vars";
@import "../../abstracts/mixins";
@import "../../base/fontawesome/font-awesome-mix-var";

//Drop Down Navigation Common Part
.navigation.navigation-main {
    .component-content>nav {
        position: relative;
        ul {
            @include clearfix();
        }
    }
    .rel-level1 {
        float: right;
        height:95px;
        padding:0 20px;
        >.navigation-title>a {
            border-width: 2px 0 0 0;
            border-color: transparent;
            margin-top:30px;
        }
        &.submenu {
            >.navigation-title a {
                position: relative;
                padding-right: 0;
            }
        }
        //submenu
        >ul {
            overflow: hidden;
            $borderSize: 2px;
            display: none;
            z-index: 10;
            position: absolute;
            top: 100%;
            background: $nav-bg-submenu-active;
            margin-left: 0;
            margin-top: -$borderSize;
            border-top: $borderSize solid $nav-border-submenu;
            border-left: 1px solid $nav-submenu-item-border;
            border-bottom: 1px solid $nav-submenu-item-border;
        }
        &.show {
            background-color:$bg-black;
            >.navigation-title>a {color:$text-white}
            >a {
                &+ul {
                    display: block !important;
                }
            }
            >ul {
                display: block !important;
                min-width: 60px;
            }
        }
        &.active {
            >.navigation-title>a:link, >.navigation-title>a:visited {
                color: $text-basic-active;
            }
            >span {
                display: block;
                padding: 10px 20px;
                color: $text-white;
            }
        }
        &.submenu.active {
            border-color: $menu-active-color;
        }
    }
    .rel-level2 {
        &:hover, &:focus {
            transition: background .2s ease-in;
            background: $nav-bg-submenu-active;
        }
        div>a {
            display: block;
            font-weight: normal;
            font-size: $navigation-font-basic-submenu;
            text-align: center;
            &:hover, &:focus {
                color: $nav-color-submenu;
            }
        }
        &.submenu {
            box-sizing: border-box;
            &.navigation-image {
                text-align: center;
                >a, .field-navigationtext {
                    text-align: left;
                }
            }
        }
        
    }

    // Additional styles fot drop down horizontal navigation (main)
    &.navigation-main-horizontal {
        .submenu>ul {
            padding-left: 0;
        }
        .rel-level1 {
            &.show {
                >a {
                    &+ul {
                        display: inline-flex !important;
                        flex-wrap: wrap;
                    }
                }
                >ul {
                    display: inline-flex !important;
                    flex-wrap: wrap;
                }
            }
            >ul {
                width: 100%;
                clear: both;
                left: 0;
                //overwrite the sm-10 column sizing
                width:165%;
                left:-30%;
            }
            //hide the 3rd column
            @include respond-to(tablet-only) {
                >ul {
                    >.rel-level2:last-child {
                            display:none;
                    }
                }
            }
        }
        .rel-level2 {
            padding:0 25px !important; //why important?
            //overwrite default bg
            &.black, &.gray {
                border-top:10px solid #000;
                border-right:0;
            }
            &.black {
                background:#000;
                li {
                    border-bottom:1px solid #4d4d4d;
                    >.navigation-title {
                        >a {
                            color:$text-white;
                            &:hover, &:focus {
                                color:$text-green;
                            }
                        }
                    }
                    &:last-of-type {
                        border-bottom:0;
                    }
                }
            }
            &.gray {
                background:#f2f2f2;
            }
            float: left;
            padding: 10px;
            @include border-basic(right, $nav-submenu-item-border, 1px);
            flex-grow: 1;
            flex-basis: 23%;
            >span {
                display:none;
            }
        }
        .rel-level2, .rel-level3 {
            li {
                >.navigation-title {
                    >a {
                        padding:15px 0; 
                    }
                }
            }
        }
        .rel-level3 {
            @include proximabold();
            .navigation-required {
                float:left;
                margin-right:10px;
                position:relative;
                top:11px;
                left:3px;
                color:$text-white;
                &:before {
                    font-size:inherit;
                    @include fa-icon();
                    content: $fa-var-lock; 
                }
            }
            h4, h4 > a {
                color:$text-green;
                font-size:24px;
                text-decoration:none;
                &:hover, &:focus {
                    color:$text-basic;
                }
            }
            img {
                width:100%;
                height:auto;
            }
            .item-decoration, .item-fake {
                @include proxima();
            }
        }
        .rel-level4 {
            @include proxima();
        }
    }
    // Additional styles for drop down vertical navigation (umbrella & account)
    &.navigation-main-vertical {
        .rel-level1>ul {
            padding-left: 0;
            width: auto;
            left: auto;
            @include border-basic(right, $nav-submenu-item-border, 1px);
            >li {
                padding: 5px 10px;
            }
        }
    }

    // Additional styles for the the umbrella navigation
    &.navigation-umbrella {
        max-width:210px;
        .level1, .level0 {
            >.navigation-title>a {
                font-size: $navigation-font-small;
            }
        }
        .rel-level1 {
            float:none;
            background:$bg-basic-color;
            width:100%;
            height:auto;
            padding:0;
            >.navigation-title {
                border:1px solid $border-white;
                >a {
                    @include proximabold();
                    color:$text-green;
                    margin-top:0;
                    padding-left:15px;
                    padding-right:15px;
                    padding-bottom:4px;
                }
            }
            >ul {
                >li {
                    padding:5px 15px;
                }
            }
            &.submenu {
                >.navigation-title {
                    a {
                        &:after {
                            font-size:inherit;
                            @include fa-icon();
                            content: $fa-var-caret-down; 
                            position: absolute;
                            transform: translateY(-50%);
                            top: 50%;
                            right: 10px;
                        }
                    }
                }
            }
            //submenu
            >ul {
                width:100%;
                z-index:11;
                background:$bg-submenu;
                margin-top: 0;
                border-top: 0;
            }
             &.show {
                background:$bg-submenu;
                >.navigation-title {
                    border-left: 1px solid $border-dark-green;
                    border-right:1px solid $border-dark-green;
                    >a {
                    color:$text-basic;
                    }
                }
                //submenu
                >ul {
                    border-left: 1px solid $border-dark-green;
                    border-right:1px solid $border-dark-green;
                    border-bottom: 1px solid $border-dark-green;
                }
            }
        }
        .rel-level2 {
            &:hover, &:focus {
                background: $bg-submenu;
            }
            div {
                >a {
                   font-size: $navigation-font-small;
                   text-align:left;
                   padding:0 5px 8px 0;
                   border-bottom:1px solid $border-dark-green;
                    &:hover, &:focus {
                         color:$text-green;
                    }
                }
            }
            &:last-child {
                div {
                    >a {
                        border-bottom:0;
                    }
                }
            }
        }
    }
    // Additional styles for the the account & login navigation
    &.navigation-account, &.navigation-login {
        .sxaToogleNavBtn {
            display:none !important;
        }
        .rel-level1 {
            padding:0;
            width:100%;
            height:auto;
            margin-top:30px;
            >.navigation-title {
                >a {
                    //margin-top:0;
                    margin: 0;
                    color:$text-green;
                    border: solid 2px $text-green;
                    text-align:center;
                    &:before {
                        font-size:inherit;
                        @include fa-icon();
                        //transform: translateY(-50%);
                        position:relative;
                        //left:-8px;
                        //top:9px;
                        margin-right: 6px;
                    }
                    &:hover { 
                        color:$text-green;
                        background-color: $text-white;
                    }
                }
            }
            &.show {
            background-color:transparent;
            }
            &.active {
                >.navigation-title {
                    >a {
                        color:$text-green;
                    }
                }
            }
        } 
    }


    // Additional styles for the the account navigation
    &.navigation-account {
        .rel-level1 {
            >.navigation-title {
                background:$text-green;
                >a {
                    color:$text-white;
                    /*&:before {
                        content: $fa-var-sign-out; 
                    }*/
                    &:after {
                        font-size:inherit;
                        @include fa-icon();
                        content: $fa-var-caret-down;
                        margin-left:6px;
                    }
                }
            }
            &.active:not(.show) {
                >.navigation-title {
                    >a {
                        color:$text-white;
                        &:hover, &:focus {
                            color:$text-green;
                        }
                    }
                }
            }
            &.active.show {
                >.navigation-title {
                    background:$bg-submenu;
                    >a {
                        color:$text-green;
                        &:hover, &:focus {
                            color:$text-green;
                        }
                    }
                }
            }
            > ul {
                width:100%;
                background-color:$bg-submenu;
                border-top:solid 2px $text-green;
            }
        }
        .rel-level2 {
            div {
                >a {
                    text-align:left;
                }
            }
             >.navigation-title {
                    >a {
                        &:before {
                            font-size:inherit;
                            @include fa-icon();
                            margin-right:6px;
                        }
                    }
            }
            &:first-of-type {
                 >.navigation-title {
                    >a {
                        &:before {
                            //content: $fa-var-user-edit; 010219 this one doesnt work because FA5 is not working
                            content: $fa-var-user;
                        }
                    }
                 }
            }
            &:last-of-type {
                 >.navigation-title {
                    >a {
                        &:before {
                            content: $fa-var-sign-out; 
                        }
                    }
                 }
            }
        }
    }
    // Additional styles for the the login navigation
    &.navigation-login {
        .rel-level1 {
            >.navigation-title {
                background-color:$text-green;
                >a {
                    color:$text-white;
                    &:before {
                        content: $fa-var-sign-in; 
                    }
                }
            }
        }
    }

}