@import "../../abstracts/vars";
@import "../../abstracts/mixins";
@import "../../base/fontawesome/font-awesome-mix-var";

//Drop Down Navigation Common Part
.navigation.navigation-main {

    .symbol-registered {
        > .navigation-title {
            >a {
                &:after {
                    @include fa-icon(); 
                    font-size:10px;
                    content: $fa-var-registered;
                    position:relative;
                    top:-4px;
                    left:2px;
                }
            }
        }
    }
    /*entered in sitecore RTE <span></span>
    .symbol-registered {
        &:after {
            @include fa-icon(); 
            font-size:10px;
            content: $fa-var-registered;
            position:relative;
            top:-4px;
            left:2px;
        }
    }*/
    .symbol-trademark {
        > .navigation-title {
            >a {
                &:after {
                    @include fa-icon(); 
                    font-size:10px;
                    content: $fa-var-trademark; 
                    position:relative;
                    top:-6px;
                    left:2px;
                }
            }
        }
    }
    /*entered in sitecore RTE <span></span>
    .symbol-trademark {
        &:after {
            @include fa-icon(); 
            font-size:10px;
            content: $fa-var-trademark; 
            position:relative;
            top:-6px;
            left:2px;
        }
    }*/

    .service-mark {
        > .navigation-title {
            >a {
                &:after {
                    font-size:10px;
                    content: 'SM';
                    position:relative;
                    top:-5px;
                    left:2px;
                    
                }
            }
        }
    }
    /*entered in sitecore RTE <span></span>
    .service-mark {
        &:after {
            font-size:10px;
            content: 'SM';
            position:relative;
            top:-5px;
            left:2px;
        }
    }*/

    .component-content>nav {
        position: relative;
        ul {
            @include clearfix();
        }
    }
    .rel-level1 {
        float: right;
        height:95px;
        padding:0 20px;
        >.navigation-title>a {
            border-width: 2px 0 0 0;
            border-color: transparent;
            margin-top:30px;
        }
        &.submenu {
            >.navigation-title a {
                position: relative;
                padding-right: 0;
            }
        }
        //submenu
        >ul {
            overflow: hidden;
            $borderSize: 2px;
            display: none;
            z-index: 10;
            position: absolute;
            top: 100%;
            background: $nav-bg-submenu-active;
            margin-left: 0;
            margin-top: -$borderSize;
            border-top: $borderSize solid $nav-border-submenu;
            border-left: 1px solid $nav-submenu-item-border;
            border-bottom: 1px solid $nav-submenu-item-border;
        }
        &.show {
            background-color:$bg-black;
            >.navigation-title>a {color:$text-white}
            >a {
                &+ul {
                    display: block !important;
                }
            }
            >ul {
                display: block !important;
                min-width: 60px;
            }
        }
        &.active {
            >.navigation-title>a:link, >.navigation-title>a:visited {
                color: $text-basic-active;
            }
            >span {
                display: block;
                padding: 10px 20px;
                color: $text-white;
            }
        }
        &.submenu.active {
            border-color: $menu-active-color;
        }
    }
    .rel-level2 {
        &:hover, &:focus {
            transition: background .2s ease-in;
            background: $nav-bg-submenu-active;
        }
        div>a {
            display: block;
            font-weight: normal;
            font-size: $navigation-font-basic-submenu;
            text-align: center;
            &:hover, &:focus {
                color: $nav-color-submenu;
            }
        }
        &.submenu {
            box-sizing: border-box;
            &.navigation-image {
                text-align: center;
                >a, .field-navigationtext {
                    text-align: left;
                }
            }
        }
        
    }

    // Additional styles fot drop down horizontal navigation (main)
    &.navigation-main-horizontal {
        padding:0;
        .submenu>ul {
            padding-left: 0;
        }
        li {
            >.navigation-title {
                >a {
                display: inline-block; //for the required lock
                }
            }
        }
        .navigation-required {
            margin-left:10px;
            color:$text-white;
            &:after {
                font-size:inherit;
                @include fa-icon();
                content: $fa-var-lock; 
            }
        }
        .rel-level1 {
            padding:0 10px;
            @include respond-to(large) {
                padding:0 20px;
            }
            &.show {
                >a {
                    &+ul {
                        display: inline-flex !important;
                        flex-wrap: wrap;
                    }
                }
                >ul {
                    display: inline-flex !important;
                    flex-wrap: wrap;
                    -webkit-box-shadow: 6px 4px 12px 4px rgba(0,0,0,0.4);
                    -moz-box-shadow: 6px 4px 12px 4px rgba(0,0,0,0.4);
                    box-shadow: 6px 4px 12px 4px rgba(0,0,0,0.4);
                }
            }
            >ul {
                width: 100%;
                clear: both;
                left: 0;

                //overwrite the sm-10 column sizing
                @include respond-to(tablet) {
                    width:160%;
                    left:-27%;
                }
                 @include respond-to(large) {
                    left:-28%;
                 }
            }
            //hide the 3rd column
            @include respond-to(tablet-only) {
                >ul {
                    >.rel-level2:last-child {
                            display:none;
                    }
                }
            }
        }
        //fix so the item-cta's dont get cut off (has to do with page length)
        .rel-level2 {
            &.last {
                ul {
                    &:after {
                        clear:none;
                    }
                }
            }
            //overwrite default bg
            &.black, &.gray {
                border-top:10px solid #000;
                border-right:0;
            }
            &.black {
                background:#000;
                padding:0 25px;
                li {
                    border-bottom:1px solid #4d4d4d;


                    >.navigation-title { //removing > here doesn't grab navigation-heading .navigation-title
                        >a {
                            color:$text-white;
                            &:hover, &:focus {
                                color:$text-green;
                            }
                        }
                    }
                    &:last-of-type {
                        border-bottom:0;
                    }
                    &:hover, &:focus {
                        color:$text-green;
                    }
                }
                .rel-level3 {
                    .navigation-heading {
                        padding:15px 0;
                        >.navigation-title {
                            color:$text-white;
                            font-size:$font-normal;
                        }
                    }
                    ul {
                        margin-top:-10px;
                        padding-bottom:15px;
                        li {
                            border-bottom:0;
                        }
                    }
                    &:hover, &:focus {
                        .navigation-heading {
                            >.navigation-title {
                                color:$text-green;
                            }
                        }
                        >.navigation-title {
                            >a {
                                color:$text-green;
                            }
                        }
                        >.navigation-required {
                            color:$text-green;
                        }
                    }
                }
                .rel-level4 {
                    >.navigation-title {
                        >a {
                            padding:8px 0;
                        }
                    }
                     &:hover, &:focus {
                        >.navigation-title {
                            >a {
                                color:$text-green;
                            }
                        }
                        >.navigation-required {
                            color:$text-green;
                        }
                    }
                }
            }
            &.gray {
                background:#f2f2f2;
                //padding:0; //padding on the items
                .item-cta, .item-fake {
                    @include proxima(); //reset from bold
                }
                .item-fake {
                    h4 {
                        @include proximaboldcondensed();
                        text-transform:uppercase; 
                        color:$text-basic;
                        margin:15px 5px 0;
                    }
                    div {
                        a {
                        display: inline;
                        color:$text-green;
                            &:hover, &:focus {
                                color:$text-basic;
                            }
                        }
                        p {
                            margin:$middle-margin 0;
                            font-size:$font-small;
                            strong {
                                font-size:$font-normal;
                                line-height:1;
                            }
                            a {
                                font-size:$font-small;
                            }
                        }
                    }
                    table {
                        width:100%;
                        font-size:$font-small;
                        margin-top:15px;
                        margin-left:5px;
                        a {
                            font-size:$font-small;
                            text-decoration:none;
                             &.track-fund {
                                color:$text-basic;
                                &:before {
                                    font-size:inherit;
                                    @include fa-icon();
                                    content: $fa-var-plus;
                                    color:$text-green;
                                    margin-right:5px;
                                }
                            }
                        }
                    }
                }
                .item-cta {
                    padding:10px 5px;
                    //entered in sitecore RTE <span></span>
                    .service-mark {
                        &:after {
                            font-size:10px;
                            content: 'SM';
                            position:relative;
                            top:-5px;
                            left:2px;
                        }
                    }
                    img {
                        width:100%;
                        height:auto;
                    }
                    hr {
                        border:0;
                        color:transparent;
                        border-bottom:1px solid $border-dark-gray;
                        margin-top:20px;
                    }
                    .field-navigationlink {
                        a {
                            @include copernicus();
                            font-size:24px;
                            color:$text-green;
                            text-decoration:none;
                        }
                    }
                    .navigation-required {
                        color:$text-green;
                        &:after {
                            font-size:inherit;
                            @include fa-icon();
                            content: $fa-var-lock; 
                        }
                    }
                    &:hover, &:focus {
                        .field-navigationlink {
                        a {
                            color:$text-basic;
                            }
                        }
                        .navigation-required {
                            color:$text-basic;
                        }
                    }
                }
            }
            float: left;
            padding: 10px;
            @include border-basic(right, $nav-submenu-item-border, 1px);
            flex-grow: 1;
            flex-basis: 23%;
            >span {
                display:none;
            }
        }
        //consolidate, move, work
        .rel-level2, .rel-level3 {
            li {
                >.navigation-title {
                    >a {
                        padding:15px 0; 
                    }
                }
            }
        }
        //
        .rel-level3 {
            @include proximabold();
            li {
                >.navigation-title {
                    >a {
                         &:before {
                            font-size:inherit;
                            @include fa-icon();
                            content: $fa-var-caret-right;
                            margin-right:10px;
                        }
                    }
                }
                &:hover, &:focus {
                    .navigation-required {
                        color:$text-green;
                    }
                }
            } 
        }
        .rel-level4 {
            @include proxima(); //reset from bold
        }
        
    }

    /*.navigation-heading {
        .navigation-title {
            color:$text-white;
        }
        &:hover, &:focus {
            .navigation-title {
                color:$text-green;
            }
        }
    }*/

    

    // Additional styles for drop down vertical navigation (umbrella & account)
    &.navigation-main-vertical {
        .rel-level1>ul {
            padding-left: 0;
            width: auto;
            left: auto;
            @include border-basic(right, $nav-submenu-item-border, 1px);
            >li {
                padding: 5px 10px;
            }
        }
    }

    // Additional styles for the the umbrella navigation
    &.navigation-umbrella {
        max-width:210px;
        .level1, .level0 {
            >.navigation-title>a {
                font-size: $navigation-font-small;
            }
        }
        .rel-level1 {
            float:none;
            background:$bg-basic-color;
            width:100%;
            height:auto;
            padding:0;
            >.navigation-title {
                border:1px solid $border-white;
                line-height:1.7;
                >a {
                    @include proximabold();
                    color:$text-green;
                    margin-top:0;
                    padding-left:15px;
                    padding-right:15px;
                    padding-bottom:4px;
                }
            }
            >ul {
                >li {
                    padding:5px 15px;
                }
            }
            &.submenu {
                >.navigation-title {
                    a {
                        &:after {
                            font-size:inherit;
                            @include fa-icon();
                            content: $fa-var-caret-down; 
                            position: absolute;
                            transform: translateY(-50%);
                            top: 50%;
                            right: 10px;
                        }
                    }
                }
            }
            //submenu
            >ul {
                width:100%;
                z-index:11;
                background:$bg-submenu;
                margin-top: 0;
                border-top: 0;
            }
             &.show {
                background:$bg-submenu;
                >.navigation-title {
                    border-left: 1px solid $border-dark-green;
                    border-right:1px solid $border-dark-green;
                    >a {
                    color:$text-basic;
                    }
                }
                //submenu
                >ul {
                    border-left: 1px solid $border-dark-green;
                    border-right:1px solid $border-dark-green;
                    border-bottom: 1px solid $border-dark-green;
                }
            }
        }
        .rel-level2 {
            &:hover, &:focus {
                background: $bg-submenu;
            }
            div {
                >a {
                   font-size: $navigation-font-small;
                   text-align:left;
                   padding:0 5px 8px 0;
                   border-bottom:1px solid $border-dark-green;
                    &:hover, &:focus {
                         color:$text-green;
                    }
                }
            }
            &:last-child {
                div {
                    >a {
                        border-bottom:0;
                    }
                }
            }
        }
    }
    // Additional styles for the the account & login navigation
    &.navigation-account, &.navigation-login {
        padding-right:35px;
         @include respond-to(desktop) {
            padding-right:45px;
        }
        .sxaToogleNavBtn {
            display:none !important;
        }
        .rel-level1 {
            padding:0;
            width:100%;
            height:auto;
            margin-top:30px;
            >.navigation-title {
                >a {
                    //margin-top:0;
                    margin: 0;
                    color:$text-green;
                    border: solid 2px $text-green;
                    text-align:center;
                    &:before {
                        font-size:inherit;
                        @include fa-icon();
                        //transform: translateY(-50%);
                        position:relative;
                        //left:-8px;
                        //top:9px;
                        margin-right: 6px;
                    }
                    &:hover { 
                        color:$text-green;
                        background-color: $text-white;
                    }
                }
            }
            &.show {
            background-color:transparent;
            }
            &.active {
                >.navigation-title {
                    >a {
                        color:$text-green;
                    }
                }
            }
        } 
    }


    // Additional styles for the the account navigation
    &.navigation-account {
        .rel-level1 {
            >.navigation-title {
                background:$text-green;
                >a {
                    color:$text-white;
                    &:after {
                        font-size:inherit;
                        @include fa-icon();
                        content: $fa-var-caret-down;
                        margin-left:6px;
                    }
                }
            }
            &.active:not(.show) {
                >.navigation-title {
                    >a {
                        color:$text-white;
                        &:hover, &:focus {
                            color:$text-green;
                        }
                    }
                }
            }
            &.active.show {
                >.navigation-title {
                    background:$bg-submenu;
                    >a {
                        color:$text-green;
                        &:hover, &:focus {
                            color:$text-green;
                        }
                    }
                }
            }
            > ul {
                width:100%;
                background-color:$bg-submenu;
                border-top:solid 2px $text-green;
            }
        }
        .rel-level2 {
            div {
                >a {
                    text-align:left;
                }
            }
             >.navigation-title {
                    >a {
                        &:before {
                            font-size:inherit;
                            @include fa-icon();
                            margin-right:6px;
                        }
                    }
            }
            &:first-of-type {
                 >.navigation-title {
                    >a {
                        &:before {
                            //content: $fa-var-user-edit; 010219 this one doesnt work because FA5 is not working
                            content: $fa-var-user;
                        }
                    }
                 }
            }
            &:last-of-type {
                 >.navigation-title {
                    >a {
                        &:before {
                            content: $fa-var-sign-out; 
                        }
                    }
                 }
            }
        }
    }
    // Additional styles for the the login navigation
    &.navigation-login {
        .rel-level1 {
            >.navigation-title {
                background-color:$text-green;
                >a {
                    color:$text-white;
                    &:before {
                        content: $fa-var-sign-in; 
                    }
                }
            }
        }
        @include respond-to(large) {
            .rel-level1 {
                >.navigation-title {
                    >a {
                        &:after {
                            content:'/Register';
                        }
                    }
                }
            }
        }
    }
}