@import "abstracts/mixins";
@import "abstracts/vars";
.login {
    @import "base/reset/inputs";
    background-color: $login-bg;
    &:not(.container-gray-background) { //home feature
        h1, h2, h3, h4, h5, h6 {
            text-transform:uppercase;
            border-bottom:3px solid $border-basic-color;
            margin-bottom:$small-margin;
        }
    }
    table {
        input, label{
            display: inline-block;
            margin: 0;
        }
        width: 100%;
        tr, tbody {
            background-color: $login-bg !important;
        }
        td {
            padding: 5px;
            border:0;
            //
            &.sxa-validation {
                padding:0;
                .field-validation-error {
                    color:$text-red;
                    font-size:$font-small; 
                }
            }
            &.sxa-remember-me {
                font-size:$font-normal; 
                margin-bottom:5px;
            }
            //
        }
        input[type='text'], input[type='password'], 
        input[type="text"], input[type="password"] {
            min-height: 33px;
            font-size: $font-normal;
        }

        //Ivy Specific
        input[type="submit"], input[type="reset"], input[type="button"], button {
            @include btn-default();
            &:hover{
                color: $text-white;
                background: $bg-green !important; 
                border:2px solid $text-green;
            }
        }
        .request-password {
            text-align:right;
            a {
                color:$text-green;
                text-decoration:none;
                &:hover, &:focus {
                    color:$text-basic;
                }
            }
        }
        .sxa-login-failed {
            color:$text-red;
        }
        //
        .field-validation-error {
            .field-validation-error {
                        color:$text-red;
                        font-size:$font-small; 
                    }
        }
    }
}
