@import "abstracts/mixins";
@import "abstracts/vars";
@import "base/fontawesome/font-awesome-mix-var";
.on-page-editor {
    .accordion .toggle-content [scfieldtype="rich text"] {
        display: block;
    }
} 
.accordion {
    padding: 0;
    .component-content[class*="col-"] {
        padding:0;
    }
    //margin-bottom: 10px;
    margin-bottom:$extralarge-margin;
    .active {
        .toggle-header {
            border:1px solid $border-dark-gray;
            //http://www.psd-to-css-shadows.com/ color:0,0,0 -  opacity 40% - angle 90 - distance 2 - spread 2 - size 5
            //https://www.cssmatic.com/box-shadow
            -webkit-box-shadow: 0px 2px 4.9px 0.1px rgba(0, 0, 0, 0.4); 
            -moz-box-shadow: 0px 2px 4.9px 0.1px rgba(0, 0, 0, 0.4); 
            box-shadow: 0px 2px 4.9px 0.1px rgba(0, 0, 0, 0.4); 
            .field-heading:after {
                content: $fa-var-chevron-up !important;
                color:$text-green;
            }
        }
    }
    .toggle-header {
        cursor: pointer;
        background-color: $accordion-header-bg;
        //@include border-basic(bottom);
        border-top:1px solid $border-dark-gray;
        border-left:1px solid transparent;
        border-right:1px solid transparent;
        &:hover {
            background-color: $accordion-header-bg-active;
        }
        .component {
            margin-top: 0;
            padding:0;
            &.title {
                margin-top: 0;
            }
            .field-heading {
                font-size: $accordion-header;
                font-weight: normal;
                //Ivy Specific
                > p {
                    font-size:inherit;
                    margin:0;
                }
                //
                &:after {
                    @include fa-icon();
                    font-size: 20px;
                    position: absolute;
                    display: block;
                    content: $fa-var-chevron-down;
                    color:$text-green;
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%);
                    width: 20px;
                    height: 20px;
                }
            }
        }
        .label {
            @include clearfix;
            padding: 15px;
            text-align: left;
            display: block;
            background: transparent;
            position: relative;
            z-index: 3;
        }
    }
    .toggle-content {
        padding: 30px 15px;
        background-color: $accordion-toggled-bg;
        @include clearfix();
        .component {
            margin-top: 0;
            padding:0;
        }
    }
    .items {
        overflow: hidden;
    }
    .item {
        &:last-child {
            border-bottom:1px solid $border-dark-gray;
        }
    }
}
@import 'styles/accordion/*';
