@import "abstracts/vars";
@import "abstracts/mixins";
@import "base/fontawesome/font-awesome-mix-var";

.related-resources {
    .title {
        h3 {
            width: 100%;
            text-transform: uppercase;
            border-bottom: 2px solid #000000;
            margin-bottom: 15px;
            padding-bottom: 5px;
        }
    }
    .item {
        @include respond-to(tablet) {
            float:left;
            padding:15px;
        }
         @include respond-to(mobile-large) {
            margin-bottom:$extralarge-margin;
        }
        img {
            width:100%;
            height:auto;
        }
        .field-title {
            a {
                @include copernicus();
                color:$text-green;
                text-decoration:none;
                font-size:24px; //h4 but needs specified as a span in case a required lock or something else is :after
                @include respond-to(mobile-large) {
                    font-size:22px;
                }
                &:hover, &:focus {
                    color:$text-basic;
                }
            }
        }
        .navigation-required {
            &:after { 
                font-size:inherit;
                @include fa-icon();
                content: $fa-var-lock; 
                margin-left:5px; 
                color:$text-green; 
            }
        }
        &:hover, &:focus {
            .field-title a, .navigation-required:after {
                color:$text-basic;
            }
        }
        .wrap-labels {
            line-height:1;
            margin-bottom:15px;
            small {
                @include proximabold();
                //font-size:$font-small; //we need to use this for 508c i.e. minimum font size 14px not 12px
                font-size:12px;
                text-transform:uppercase;
            }
        }
    }
    //home
    &.wrap-4 {
        @include respond-to(desktop) {
            position:relative;
            right:-30px;
        }
        @include respond-to(tablet) {
            padding:0;
            margin-top:-30px;
        }
        @include respond-to(mobile-large) {
            padding:0;
            margin-top:-30px;
        }
        .item {
            @include respond-to(tablet) {
                width:50%;
            }
            @include respond-to(desktop) {
                padding:0 30px 30px 0;
            }
            @include respond-to(mobile-large) {
                padding:0;
                margin-bottom:30px;
            }
            /*
            @include respond-to(tablet) {
                .field-excerpt {
                    min-height:110px;
                    max-height:110px;
                    overflow:hidden;
                }
            }*/
        }
    }
    //content 
    &.wrap-3 {
         @include respond-to(mobile-large) {
            padding:0;
        }
        @include respond-to(large) {
            padding:0;
        }
        @include respond-to(tablet) {
            padding:0;
        }
        .item {
            @include respond-to(tablet) {
                width:33.3%;
                padding-top:0;
                margin-bottom:30px;
                &:nth-of-type(1) {
                    padding-left:0;
                }
                &:nth-of-type(2) {
                    padding-left:7.5px;
                    padding-right:7.5px;
                }
                &:nth-of-type(3) {
                    padding-right:0;
                }
            }
            .wrap-item {
                //http://www.psd-to-css-shadows.com/ color:0,0,0 -  opacity 40% - angle 90 - distance 2 - spread 4 - size 6
                //https://www.cssmatic.com/box-shadow
                -webkit-box-shadow:  0px 2px 5.76px 0.24px rgba(0, 0, 0, 0.4); 
                -moz-box-shadow:  0px 2px 5.76px 0.24px rgba(0, 0, 0, 0.4); 
                box-shadow:  0px 2px 5.76px 0.24px rgba(0, 0, 0, 0.4); 
                @include respond-to(tablet) {
                    min-height:320px; //was 360px
                    max-height:320px; 
                }
            }
            .wrap-text {padding:5px 15px 20px}
            .field-title {
                a {
                    font-size:22px; //this is supposed to be 24 but 22 fits better
                }
            }
            .field-excerpt {display:none}
        }
        &.genlink {
            .wrap-item {
                @include respond-to(tablet) {
                    min-height:100%;
                    max-height:100%; 
                }
            }
            .field-excerpt {
                display:block;
            }
        }
    }
    //sidebar
    &.sidebar {
        padding:0;
        .title {
            @include respond-to(tablet) {
            padding:0 15px;
            }
            h1, h2, h3, h4, h5, h6 {
                border-bottom:1px solid $text-basic;
                text-transform:uppercase;
                padding-bottom:5px;
                margin-bottom:10px;
            }
        }
    }
}