@import "abstracts/mixins";
@import "abstracts/vars";
.link {
    background: $link-bg;
    @import "base/reset/links";
    &.btn-default {
        background-color:$bg-white;
        a {
            color:$text-green;
            border-bottom:0;
        }
        &:hover, &:focus {
            background-color:$bg-green;
            a {
                color:$text-white;
            }
        } 
    }
}

#header .link {
    padding:5px 0;
    text-align:center;
    border-left:1px solid $border-dark-green;
    a {
        @include proximabold();
        font-size:$font-normal;
        color:$text-white;
        text-decoration:none;
        border-bottom:0;
        position:relative;
        left:-12px;
        top:-1px;
    }
}