@import "abstracts/mixins";
@import "abstracts/vars";
@import "base/fontawesome/font-awesome-mix-var";
@import "base/links/*";
@import "base/tables/*";
@import "styles/tabs/*";
@import "styles/accordion/*";

.fund-details {
    width:100%;
    .fund-title {
        h1, h2, h3, h4, h5, h6 {
            color:$text-basic;
        }
        h2 {
            font-size:30px;
        }
    }

    .tabs {
        margin-top:$large-margin;
        .tabs-heading {
            li {
                border-bottom:0;
            }
        }
        .tabs-container {
            border-top:0;

            .tab.active {
                >.row {
                    > [class*="col-"] {
                        &:first-child {
                            padding-left:0;
                        }
                        &:last-child {
                            padding-right:0;
                        }
                        >.row {
                            [class*="col-"] {
                                &:first-child {
                                    padding-left:0;
                                }
                                &:last-child {
                                    padding-right:0;
                                }
                            }
                        }
                    }
                    
                }
            }

            .tab {
                padding:30px 0;

                section {
                    margin-bottom:$large-margin;
                    h4 {
                        @include proximaboldcondensed();
                        text-transform:uppercase;
                        border-bottom:1px solid $border-gray;
                        padding-bottom:$extrasmall-margin;
                        margin-bottom:$small-margin;
                        span {
                            @include proxima();
                            font-weight:normal;
                            text-transform: lowercase;
                            font-size:$font-small;
                        }
                    }
                    h5 {
                        @include proximabold();
                    }
                    h6 {
                        @include proxima();
                        text-transform:uppercase;
                        span {
                            font-weight:normal;
                            text-transform: lowercase;
                            font-size:$font-small;
                        }
                    }

                    .content-block {
                        margin-bottom:$middle-margin;
                    }

                    .growth-chart-wrapper {
                        .disclaimer {
                            margin-top:$middle-margin;
                        }
                    }

                    .portfolio-management {
                        section {
                            margin-bottom:$middle-margin;
                            h6 {
                                @include proximaboldcondensed();
                            }
                        }
                    }

                    dl {
                        dd, dt {
                            float:left;
                            display:block;
                        }
                        dt {
                        width:25%;
                        @include proximaboldcondensed();
                        text-transform:uppercase;
                        }
                        dd {
                            width:72%;
                            padding-left:3%;
                            padding-bottom:15px;
                            &:last-of-type {
                                 padding-bottom:$large-margin;
                            }
                        }
                    }

                    table {
                        font-size:$font-small;
                        tr {
                            td {
                                vertical-align:top;
                                text-align:left;
                                 a {
                                    text-transform:uppercase;
                                    color:$text-green;
                                    &:hover, &:focus {
                                        color:$text-black;
                                    }
                                }
                            }
                        }
                        &#calendar-year {
                            form {
                                float:right;
                            }
                        } 

                        &.tablesorter {
                            th {
                                &.tablesorter-headerUnSorted {
                                    .fa-caret-down, .fa-caret-up {
                                        display:none;
                                    }
                                }
                                &.tablesorter-headerAsc, &.tablesorter-headerDesc {
                                    color:$text-green;
                                }
                                &.tablesorter-headerAsc {
                                    .fa-caret-down {
                                        display:none;
                                    }
                                }
                                &.tablesorter-headerDesc {
                                    .fa-caret-up {
                                        display:none;
                                    }
                                }
                            }
                        }
                    }
                }
                .container-gray-background {
                    padding:30px;
                    .content-block {
                        &:last-child {
                            margin-bottom:0;
                        }
                    }
                }

            }

        }
    }
}