@import "abstracts/vars";
@import "abstracts/mixins";
@import "base/fontawesome/font-awesome-mix-var";

.related-resources {
    @include respond-to(desktop) {
        position:relative;
        right:-30px;
    }
    @include respond-to(tablet) {
        padding:0;
        margin-top:-30px;
    }
    @include respond-to(mobile-large) {
            padding:0;
            margin-top:-30px;
        }
    .item {
        @include respond-to(tablet) {
            width:50%;
            float:left;
            padding:15px;
        }
         @include respond-to(desktop) {
            padding:0 30px 30px 0;
        }
        @include respond-to(mobile-large) {
            padding:0;
            margin-bottom:30px;
        }

        img {
            width:100%;
            height:auto;
        }
        small {
            @include proximabold();
            //font-size:$font-small; //we need to use this for 508c i.e. minimum font size 14px not 12px
            font-size:12px;
            text-transform:uppercase;
        }
        .navigation-title {
            a {
                @include copernicus();
                color:$text-green;
                text-decoration:none;
                font-size:24px; //h4 but needs specified as a span in case a required lock or something else is :after
                @include respond-to(mobile-large) {
                    font-size:22px;
                }
                &:hover, &:focus {
                    color:$text-basic;
                }
            }
        }
        @include respond-to(tablet) {
            .field-excerpt {
                min-height:110px;
                max-height:110px;
                overflow:hidden;
            }
        }
    }
}