@import "abstracts/vars";
@import "abstracts/mixins";
@import "abstracts/functions";
@import "base/fonts/fonts";
@import "base/fontawesome/font-awesome";
//@import "base/fontawesome5/fontawesome";
html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 0;
    //Added
    //scroll-behavior: smooth;
}

body {
    //@include opensans-font-stack();
    //@include proxima-font();

    @include proxima();
    position: relative;
    overflow: auto;
    color: $text-basic;
    //font-size: 14px;
    line-height: 1.5;
    font-size: $font-normal;
    background: $page-bg;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    @include respond-to(tablet) {
        line-height: 1.5;
        font-size: $font-medium; 
    }

    //removing this class within experience accelerator fixes the column alignment
    &.on-page-editor {
        background: $page-bg-editor !important;

        //aware sitecore experience editor fixes
        .scEnabledChrome {
            display: block !important;
            /*TODO: target hidden breakpoints in bootstrap 4
                .agroupofclassesthatarehiddenforbs4 {
                   background:red !important;
                }
            */
            .d-md-none {
                background:rgba(0,0,0,0.5) !important;
            }
        }
    }
}

a {
    color: $text-basic;
    cursor: pointer;
    font-size: 0.85em;
    &:hover {
        color: $text-basic-active;
    }
}

strong, b {
    @include proximabold();
}

h1,
h2,
h3,
h4,
h5,
h6 {
    //font-weight: bold;
    @include copernicus();
    color:$text-green;
    line-height:1.4;
}


/*H1 – H6: line-height: 1.4
H1: (tablet and larger) 36px, (phone) 30px
H2: (tablet and larger) 34px, (phone) 30px
H3: (tablet and larger) 30px, (phone) 26px
H4: (tablet and larger) 24px, (phone) 22px
H5: (tablet and larger) 20px, (phone) 18px
H6: 18px
*/ 

/*h1 {font-size: 2em}
h2 {font-size: 1.5em}
h3 {font-size: 1.2em}
h4 {font-size: 1em}
h5 {font-size: 0.83em}
h6 {font-size: 0.67em}*/

h1 {font-size:36px}
h2 {font-size:34px}
h3 {font-size:30px}
h4 {font-size:24px}
h5 {font-size:20px}
h6 {font-size:18px}

@include respond-to(mobile-large) {
    h1 {font-size:30px}
    h2 {font-size:30px} //dup / 508c? 
    h3 {font-size:26px}
    h4 {font-size:22px}
    h5 {font-size:18px}
    h6 {font-size:18px} //dup / 508c?
}


.xa-variable {
    border: 0px;
    padding: 1px;
    margin: 0px;
    background-color: #ebebe4;
    color: #545454;
    user-select: none;
    pointer-events: none;
}

//Navigation Bar fix 
#breadcrumbMenuSubcontrol_context_menu * {
    box-sizing: initial;
}

//End navigation bar fix

//Ivy Specific

/*010219 something happened after changing layout from flex to other classes and back to flex within sitecore. 
it is now adding additional 'rows' so we have to correct - added assembla ticket #10 as bug*/
#header.container-fluid,
#footer.container-fluid {
    >.row {
        display:block;
        >.row {
            display:block;
        }
    }
}
/**/

#header {
    position:fixed;
    z-index:99;
    background:$bg-white;
}

//offset the fixed header
#content {
    position:relative;
    top:130px;
    margin-bottom:130px;
    @include respond-to(mobile-large) {
        top:99px;
    }
}

#header .image {
    padding-top:10px;
    img {
        //max-width:300px;
        @include respond-to(mobile-large) {
            max-width:180px;
        }

    }
}

@include respond-to(mobile-large) {
    #header {
        position:fixed;
        z-index:10;
        background:$bg-submenu;
        border-bottom:1px solid $border-dark-gray;
    }
}

#footer {
    .rich-text {
        >.component-content {
            p {
                &:first-child {
                    margin-top:0;
                }
            }
        }
    }
}



.scrolltop-wrap {
    backface-visibility: hidden;
    pointer-events: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    a {
        text-align: center;
        font-size: 2.4rem;
        width: 50px;
        height: 50px;
        backface-visibility: hidden;
        display: block;
        text-decoration: none;
        user-select: none;
        pointer-events: all;
        outline: none;
        overflow: hidden;
        //position: fixed;
        //bottom: 2rem;
        background-color: rgba(0, 0, 0, 0.8);
        border: 3px solid $text-green;
        @include border-radius(10px);
        //transform: translateY(100vh); // push to bottom from top when stuck
        transition: width 0.5s ease-in-out,
              margin 0.5s ease-in-out,
              background-color 0.5s ease-in-out,
              border-radius 0.25s ease-in-out,
              color 0.25s ease-in-out;

        &:after {
            font-size:inherit;
            @include fa-icon();
            color: $text-green;
            content:"\f062";
            line-height: 42px;
        }
        
        &:hover, &.auto {
            background-color: rgba(255, 255, 255, 0.8);
            @include border-radius(25px);
            transition: width 0.5s ease-in-out,
                        margin 0.5s ease-in-out,
                        border-radius 0.25s ease-in-out,
                        color 0.5s ease-in-out ;
            &:after {
              animation:
                arrow-once cubic-bezier(0.0, 0.6, 1.0, 0.4) .5s,
                arrow-infinite 1s cubic-bezier(0.0, 0.6, 1.0, 0.4) infinite .5s;
            }
        }
    }
}
@keyframes arrow-once {
    0%   { transform: translateY(0); }
    100%   { transform: translateY(-50px); }
}

@keyframes arrow-infinite {
    0%   { transform: translateY(50px); }
    100%   { transform: translateY(-50px); }
}