@import "abstracts/vars";
@import "abstracts/mixins";
@import "abstracts/functions";
@import "base/fonts/fonts";
@import "base/fontawesome/font-awesome";
//@import "base/fontawesome5/fontawesome";
html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 0;
}

body {
    //@include opensans-font-stack();
    //@include proxima-font();

    @include proxima();
    position: relative;
    overflow: auto;
    color: $text-basic;
    //font-size: 14px;
    line-height: 1.5;
    font-size: $font-normal;
    background: $page-bg;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    @include respond-to(tablet) {
        line-height: 1.5;
        font-size: $font-medium; 
    }

    //removing this class within experience accelerator fixes the column alignment
    &.on-page-editor {
        background: $page-bg-editor !important;

        //aware sitecore experience editor fixes
        .scEnabledChrome {
            display: block !important;
            /*TODO: target hidden breakpoints in bootstrap 4
                .agroupofclassesthatarehiddenforbs4 {
                   background:red !important;
                }
            */
            .d-md-none {
                background:rgba(0,0,0,0.5) !important;
            }
        }
    }
}

a {
    color: $text-basic;
    cursor: pointer;
    font-size: 0.85em;
    &:hover {
        color: $text-basic-active;
    }
}

strong, b {
    @include proximabold();
}

h1,
h2,
h3,
h4,
h5,
h6 {
    //font-weight: bold;
    @include copernicus();
    color:$text-green;
    line-height:1.4;
}


/*H1 – H6: line-height: 1.4
H1: (tablet and larger) 36px, (phone) 30px
H2: (tablet and larger) 34px, (phone) 30px
H3: (tablet and larger) 30px, (phone) 26px
H4: (tablet and larger) 24px, (phone) 22px
H5: (tablet and larger) 20px, (phone) 18px
H6: 18px
*/ 

/*h1 {font-size: 2em}
h2 {font-size: 1.5em}
h3 {font-size: 1.2em}
h4 {font-size: 1em}
h5 {font-size: 0.83em}
h6 {font-size: 0.67em}*/

h1 {font-size:36px}
h2 {font-size:34px}
h3 {font-size:30px}
h4 {font-size:24px}
h5 {font-size:20px}
h6 {font-size:18px}

@include respond-to(mobile-large) {
    h1 {font-size:30px}
    h2 {font-size:30px} //dup / 508c? 
    h3 {font-size:26px}
    h4 {font-size:22px}
    h5 {font-size:18px}
    h6 {font-size:18px} //dup / 508c?
}


.xa-variable {
    border: 0px;
    padding: 1px;
    margin: 0px;
    background-color: #ebebe4;
    color: #545454;
    user-select: none;
    pointer-events: none;
}

//Navigation Bar fix 
#breadcrumbMenuSubcontrol_context_menu * {
    box-sizing: initial;
}

//End navigation bar fix

//Ivy Specific

/*010219 something happened after changing layout from flex to other classes and back to flex within sitecore. 
it is now adding additional 'rows' so we have to correct - added assembla ticket #10 as bug*/
#header.container-fluid,
#footer.container-fluid {
    >.row {
        display:block;
        >.row {
            display:block;
        }
    }
}
/**/

#header {
    position:fixed;
    z-index:99;
    background:$bg-white;
}

//offset the fixed header
#content {
    position:relative;
    top:140px;
    margin-bottom:140px;
    @include respond-to(mobile-large) {
        top:99px;
    }
}

#header .image {
    padding-top:10px;
    img {
        //max-width:300px;
        @include respond-to(mobile-large) {
            max-width:180px;
        }

    }
}

@include respond-to(mobile-large) {
    #header {
        position:fixed;
        z-index:10;
        background:$bg-submenu;
        border-bottom:1px solid $border-dark-gray;
    }
}

#footer {
    .rich-text {
        >.component-content {
            p {
                &:first-child {
                    margin-top:0;
                }
            }
        }
    }
}

.back-to-top {
    position: fixed;
    bottom: 39%;
    right: 22%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.8);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    border:3px solid $text-green;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    //display: none; 
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    span {
        &:after {
            font-size:inherit;
            @include fa-icon();
            color:$text-green;
             //content: $fa-var-arrow-up; //why is this not working for fa4 even?
            content:"\f062";
            margin: 0;
            position: relative;
            left: 13px;
            top: 13px;
            font-size: 19px;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
    }
}
.back-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
.back-to-top:hover i {
    color: #fff;
    top: 5px;
}


html {
  scroll-behavior: smooth;
}

@mixin setScrolltopColors($bgColor: #333, $arrowColor: white, $bgColorHover: $bgColor, $arrowColorHover: $arrowColor) {
  #scrolltop-bg {
    fill: $bgColor;
  }
  #scrolltop-arrow {
    fill: $arrowColor;
  }
  a:hover {
    #scrolltop-bg {
      fill: $bgColorHover;
    }
    #scrolltop-arrow {
      fill: $arrowColorHover;
    }
  }
}

.scrolltop-wrap {
  $size: 3rem;
  $offsetBottom: 2rem;
  $offsetHorizontal: 2rem;
  $scrollToRevealDistance: 2rem; // 12rem scroll offset to reveal scroll-to-top link
  $color: #007bff;
  box-sizing: border-box;
  position: absolute;
  top: $scrollToRevealDistance;
  right: $offsetHorizontal;
  bottom: 0;
  pointer-events: none;
  backface-visibility: hidden;
  //@include setScrolltopColors($color, white, lighten($color, 8%));
  // prevent extra page height if content is smaller than viewport
  // Firefox only
  /*@supports (-moz-appearance: meterbar) {
    clip: rect(0, $size, auto, 0);
  }*/
  a {
    $offset: - ($size + $offsetBottom); // pull up + add a small bottom space
    position: fixed; // fallback
    position: sticky;
    top: $offset;
    width: $size;
    height: $size;
    margin-bottom: $offset;
    transform: translateY(100vh); // push to bottom from top (when stuck)
    backface-visibility: hidden;
    display: inline-block;
    text-decoration: none;
    user-select: none;
    pointer-events: all;
    outline: none;
    overflow: hidden;
        span {
            &:after {
                font-size:inherit;
                @include fa-icon();
                color:$text-green;
                    //content: $fa-var-arrow-up; //why is this not working for fa4 even?
                content:"\f062";
            }
        }
  }
}