$font-extrabig:24px;
$font-big:20px;
$font-medium:18px;
$font-normal:16px;
$font-small: 14px;


//Navigation
$navigation-font-basic:$font-medium;
//$navigation-font-basic-submenu:14px;
$navigation-font-basic-submenu:$font-normal;

//Umbrella Navigation
$navigation-font-small:$font-normal;

//Tabs
$tab-font-header:$font-small;

//Accordion
$accordion-header:$font-normal;

//Breadcrumb
$breadcrumb-font:$font-small;

// Link List
$link-list-title-font:15px;

//Content
$font-lead:22px;
