@import "../../abstracts/vars";
@import "../../abstracts/mixins";
@import "../../base/fontawesome/font-awesome-mix-var";

&.cta {
    background-color:transparent;
    margin-bottom:$extralarge-margin;
    overflow:visible;

    >.component-content {
        border-width:0;
    }

    //Icon
    .field-promotext3 {
        position:absolute;
        top:0;

        //need to update these to include the preceding column size i.e. col-md-4, col-md-6, col-lg-8
        @include respond-to(mobile-large) {
            left:38%;
            right:38%;
        }
        @include respond-to(mobile-horizontal) {
            left:41%;
            right:41%;
        }
        @include respond-to(mobile) {
            left:33%;
            right:33%;
        }
        @include respond-to(tablet) {
            left:29%;
            right:29%;
        }
        @include respond-to(desktop) {
            left:35%;
            right:35%;
        }
        /* Custom FA Icons: https://codepen.io/Onomicon/pen/iDfld */
        @mixin flex() {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        }

        .flex {
        @include flex();
        }
        .icon-wrapper {
            @include flex();
        }
        .custom-icon {
        display: flex;
        width: 100px;
        height: 100px;
        font-size: 3em; 
        border-radius: 25vw;
        overflow: hidden;
        background-size: cover;
        background:$bg-basic-color;
        border: 3px solid $text-green;
        color:$text-green;
            &::before {
                width: 100%;
                @include flex();
            }
        }
    }

    //Wrapper
    .promo-text {
        background-color:$bg-basic-color;
        border:1px solid $border-white;
        text-align:center;
        padding:60px 30px 30px;

        //Title
        .field-promotext {
            @include copernicus();
            color:$text-green;
            text-decoration:none;
            font-size:24px; //h4 but needs specified as a span in case a required lock or something else is :after
            @include respond-to(mobile-large) {
                font-size:22px;
            }
        }
        //Lock
        .login-required-lock {
            margin-left:5px;
            color:$text-green;
            &:after {
                font-size:inherit;
                @include fa-icon();
                content: $fa-var-lock; 
            }
        }

        //Excerpt
        .field-promotext2 {
            margin:20px auto; //30px auto
            h6 {
                @include proximabold();
                color:$text-basic;
                text-transform:uppercase;
            }
            a {
                &.link-pdf {
                    color:$text-basic;
                    text-decoration:none;
                    &:before {
                        @include fa-icon();
                        font-size:0.85em;
                        content: $fa-var-file-pdf-o;
                        color:$text-green;
                        margin-right:10px;
                        position:relative;
                        top:-1px;
                    }
                    &:hover {
                        color:$text-green;
                    }
                }
            }
        }

        //Button Link
        .field-promolink {
            a {
                @include btn-primary();
                font-size:18px;
            }
        }
    }

    //single
    @include respond-to(tablet) {
        &.col-12.col-lg-8.offset-lg-2 {
            .field-promotext3 {
                top:40%;
                left:30px;
                right:0;
            }
            .promo-text {
                padding:30px 0;
                >div:not(.field-promolink) {
                    max-width:50%;
                    position:relative;
                    left:20%;
                    text-align:left;
                    .field-promotext2 {
                        margin:20px auto 0;
                    }
                }
                .field-promolink {
                    position:absolute;
                    right:30px;
                    top:25%;
                }
            }
        }
    }

    &.col-md-4, &.col-md-6  {
        .promo-text {
            @include respond-to(tablet) {
                min-height:335px;
                max-height:335px;
            }
        }
        .field-promolink {
            a {
                width:100%;
            }
        }
    }
    @include respond-to(tablet-only) {
        &.col-md-4 {
            .promo-text {
                padding:60px 15px 30px;
                .field-promotext {
                    font-size:$font-big;
                }
                .field-promotext2 {
                    font-size:$font-normal;
                    margin:20px auto;
                    h6 {
                        font-size:$font-normal;
                    }
                }
                .field-promolink {
                    a {
                        font-size:$font-normal;
                    }
                }
            }
        }
    }
}