.button-default, .btn-default, .default {
    //@include border-basic();
    //@include font-size(1.2);
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    margin: 5px 0;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    //background: #f6f6f6;
    //color: $text-basic;
    //font-weight: bold;
    //Ivy
    border:2px solid $text-green;
    background:$bg-white;
    color:$text-green;
    text-transform:uppercase;
    font-size:$font-normal;
    &:hover, &:focus {
        color: $text-white;
        background: $bg-green;
        border:2px solid $text-green;
    }
}
.button-success, .btn-success, .success {
    @include font-size(1.2);
    @include border-basic();
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    margin: 5px 0;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    background: $btn-green-light;
    color: $text-white;
    font-weight: bold;
    &:hover, &:focus {
        color: $text-white;
        background: $btn-green;
    }
}
.button-danger, .btn-danger, .danger {
    @include font-size(1.2);
    //@include border-basic();
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    margin: 5px 0;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    background: $bg-white;
    color: $btn-red;
    border:2px solid $btn-red;
    //font-weight: bold;
    text-transform:uppercase;
    &:hover, &:focus {
        color: $text-white;
        background: $btn-red;
    }
}

//Ivy Specific
.btn-block {
    width:100%;
}

.btn-sm {
    margin:3px 0;
    padding:5px 10px;
    font-size:$font-small;
}
